# <center>Fifa</center>

<div class="alert alert-block alert-success">
<b>Writen by:</b>
    
> Claudia Vargas,
Tianying Gong,
Qingyuan Wang,
and Kexin Mao.
<br>
Columbia University School of Professional Studies. </div>

# Index

[Create Tables in SQL](#Create_Tables_in_SQL)

[Clean and separate variables](#Clean_and_separate_variables)

[Loading Data into Tables](#Loading_Data_into_Tables)

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

pd.set_option('display.max_columns', 200)

<a id='Create_Tables_in_SQL'></a>
# <center>Create Tables in SQL</center>

In [2]:
# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:julian@localhost/Fifa'



# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()



# Pass the SQL statements that create all tables
stmt = """
    CREATE TABLE club(
    club_ID    integer     ,
    club_name    varchar(100),
    club_logo    varchar(300)    NOT NULL,
    PRIMARY KEY (club_ID)
)
;



-- 
-- TABLE: contract 
--

CREATE TABLE contract(
    contract_ID     integer,
    club_ID         integer,
    joined          varchar(20),
    loaned_from     varchar(100),
    contract_until    smallint,
	PRIMARY KEY (contract_ID),
	FOREIGN KEY (club_ID) REFERENCES club (club_ID)
)
;



-- 
-- TABLE: country 
--

CREATE TABLE country(
   country_ID  integer,
    country_name       varchar(30)     NOT NULL,
    country_flag_link         varchar(300)    NOT NULL,
	PRIMARY KEY (country_ID)
)
;



-- 
-- TABLE: player 
--

CREATE TABLE player(
   player_ID              integer,
   country_ID  integer            NOT NULL,
    contract_ID     integer            NOT NULL,
    club_ID         integer,
    name              varchar(100)    NOT NULL,
    age               smallint            NOT NULL,
    position          varchar(10),
    jersey_number     smallint,
    height_feet       smallint,
    height_inches     smallint,
    weight_pounds     smallint,
    photo             varchar(300)    NOT NULL,
	PRIMARY KEY (player_ID),
	FOREIGN KEY (contract_ID)  REFERENCES contract(contract_ID),
    	FOREIGN KEY (country_ID)  REFERENCES country(country_ID),
    	FOREIGN KEY (club_ID)   REFERENCES club(club_ID)
)
;



-- 
-- TABLE: defending 
--

CREATE TABLE defending(
    defending_ID      integer,
   player_ID                integer,
    heading_accuracy    smallint,
    interceptions       smallint,
    marking             smallint,
    standing_tackle     smallint,
    sliding_tackle      smallint,
	PRIMARY KEY (defending_ID, player_ID),
	FOREIGN KEY (player_ID) REFERENCES player(player_ID)
)
;



-- 
-- TABLE: defensive 
--

CREATE TABLE defensive(
    defensive_ID  integer,
   player_ID            integer,
    LWB           smallint,
    RWB           smallint,
    LB            smallint,
    CB            smallint,
    RB            smallint,
	PRIMARY KEY (defensive_ID, player_ID),
	FOREIGN KEY (player_ID) REFERENCES player(player_ID)
)
;



-- 
-- TABLE: dribbling 
--

CREATE TABLE dribbling(
    dribbling_ID  integer,
   player_ID            integer,
    dribbling       smallint,
    ballcontrol     smallint,
    agility         smallint,
    reactions       smallint,
    balance         smallint,
    composure       smallint,
	PRIMARY KEY (dribbling_ID, player_ID),
	FOREIGN KEY (player_ID) REFERENCES player(player_ID)
)
;



-- 
-- TABLE: foot_peference 
--

CREATE TABLE foot_peference(
    foot_ID         integer,
   player_ID              integer,
    preferred_foot    varchar(5),
    weak_foot_rating    smallint,
	PRIMARY KEY (foot_ID, player_ID),
	FOREIGN KEY (player_ID) REFERENCES player(player_ID),
	CHECK (preferred_foot IN ('Right', 'Left')),
	CHECK (weak_foot_rating IN (1,2,3,4,5))
)
;



-- 
-- TABLE: forwards 
--

CREATE TABLE forwards(
    forwards_ID  integer,
   player_ID           integer,
    ST           smallint,
    LW           smallint,
    CF           smallint,
    RW           smallint,
	PRIMARY KEY (forwards_ID, player_ID),
	FOREIGN KEY (player_ID) REFERENCES player(player_ID)
)
;



-- 
-- TABLE: goal_keeping 
--

CREATE TABLE goal_keeping(
    goalkeeping_ID  integer,
   player_ID              integer,
    gkdiving          smallint,
    gkhandling        smallint,
    gkkicking         smallint,
    gkpositioning     smallint,
    gkreflexes        smallint,
	PRIMARY KEY (goalkeeping_ID, player_ID),
	FOREIGN KEY (player_ID) REFERENCES player(player_ID)
)
;



-- 
-- TABLE: midfielders 
--

CREATE TABLE midfielders(
    midfielders_ID  integer,
   player_ID              integer,
    CAM             smallint,
    LM              smallint,
    CM              smallint,
    RM              smallint,
    CDM             smallint,
	PRIMARY KEY (midfielders_ID, player_ID),
	FOREIGN KEY (player_ID) REFERENCES player(player_ID)
)
;



-- 
-- TABLE: pace 
--

CREATE TABLE pace(
    pace_ID       integer,
   player_ID            integer,
    acceleration    smallint,
    sprint_speed    smallint,
	PRIMARY KEY (pace_ID, player_ID),
	FOREIGN KEY (player_ID) REFERENCES player(player_ID)
)
;



-- 
-- TABLE: passing 
--

CREATE TABLE passing(
    passing_ID    integer,
   player_ID            integer,
    crossing        smallint,
    shortpassing    smallint,
    curve           smallint,
    FKaccuracy    smallint,
    longpassing     smallint,
    vision          smallint,
	PRIMARY KEY (passing_ID, player_ID),
	FOREIGN KEY (player_ID)  REFERENCES player(player_ID)
)
;



-- 
-- TABLE: physical 
--

CREATE TABLE physical(
    physical_ID  integer,
   player_ID           integer,
    jumping        smallint,
    stamina        smallint,
    strength       smallint,
    aggression     smallint,
	PRIMARY KEY (physical_ID, player_ID),
	FOREIGN KEY (player_ID)  REFERENCES player(player_ID)
)
;


-- 
-- TABLE: shooting 
--

CREATE TABLE shooting(
    shooting_ID  integer,
   player_ID           integer,
    finishing      smallint,
    volleys        smallint,
    shotpower      smallint,
    longshots      smallint,
    positioning    smallint,
    penalties      smallint,
	PRIMARY KEY (shooting_ID, player_ID),
        FOREIGN KEY (player_ID) REFERENCES player(player_ID)
)
;


-- 
-- TABLE: player_ablility_rating 
--

CREATE TABLE player_ablility_rating(
   player_ID              integer,
    dribbling_ID    integer,
    defending_ID    integer,
    goalkeeping_ID  integer,
    passing_ID      integer,
    shooting_ID     integer,
    pace_ID         integer,
    physical_ID     integer,
	PRIMARY KEY (player_ID, dribbling_ID, defending_ID, goalkeeping_ID, passing_ID, shooting_ID, pace_ID, physical_ID),
    FOREIGN KEY (defending_ID, player_ID)   REFERENCES defending(defending_ID, player_ID),
    FOREIGN KEY (goalkeeping_ID, player_ID)    REFERENCES goal_keeping(goalkeeping_ID, player_ID),
    FOREIGN KEY (physical_ID, player_ID)    REFERENCES physical(physical_ID, player_ID),
    FOREIGN KEY (pace_ID, player_ID)    REFERENCES pace(pace_ID, player_ID),
    FOREIGN KEY (shooting_ID, player_ID)    REFERENCES shooting(shooting_ID, player_ID),
    FOREIGN KEY (passing_ID, player_ID)    REFERENCES passing(passing_ID, player_ID),
    FOREIGN KEY (dribbling_ID, player_ID)    REFERENCES dribbling(dribbling_ID, player_ID),
    FOREIGN KEY (player_ID)    REFERENCES player(player_ID)
)
;


-- 
-- TABLE: player_style 
--

CREATE TABLE player_style(
    style_ID            integer,
   player_ID                  integer,
    skill_moves_rating           smallint,
    attacking_workrate    varchar(6),
    defense_workrate      varchar(6),
	PRIMARY KEY (style_ID, player_ID),
	FOREIGN KEY (player_ID)    REFERENCES player (player_ID),
	CHECK (skill_moves_rating IN (1,2,3,4,5)),
	CHECK (attacking_workrate IN ('High', 'Medium', 'Low')),
	CHECK (defense_workrate IN ('High', 'Medium', 'Low'))
)
;



-- 
-- TABLE: player_habits 
--

CREATE TABLE player_habits(
    foot_ID   integer,
    style_ID  integer,
   player_ID        integer,
	PRIMARY KEY (foot_ID, style_ID, player_ID),
    FOREIGN KEY (foot_ID, player_ID)    REFERENCES foot_peference(foot_ID, player_ID),
    FOREIGN KEY (style_ID, player_ID)    REFERENCES player_style(style_ID, player_ID ),
    FOREIGN KEY (player_ID)    REFERENCES player (player_ID)
)
;


-- 
-- TABLE: player_position_rating 
--

CREATE TABLE player_position_rating(
    defensive_ID    integer,
    forwards_ID     integer,
    midfielders_ID  integer,
   player_ID              integer,
	PRIMARY KEY (defensive_ID, forwards_ID, midfielders_ID, player_ID),
    FOREIGN KEY (defensive_ID, player_ID)    REFERENCES defensive(defensive_ID, player_ID),
    FOREIGN KEY (forwards_ID, player_ID)    REFERENCES forwards(forwards_ID, player_ID),
    FOREIGN KEY (midfielders_ID, player_ID)    REFERENCES midfielders(midfielders_ID, player_ID),
    FOREIGN KEY (player_ID)    REFERENCES player (player_ID)
)
;


-- 
-- TABLE: value 
--

CREATE TABLE value(
    value_ID        integer,
   player_ID              integer,
    value             integer    NOT NULL,
    wage              integer    NOT NULL,
    release_clause    integer,
	PRIMARY KEY (value_ID, player_ID),
        FOREIGN KEY (player_ID)   REFERENCES player (player_ID)
)
;


-- 
-- TABLE: rating 
--

CREATE TABLE rating(
    rating_ID  integer,
   player_ID         integer,
    overall      smallint    NOT NULL,
    potential    smallint    NOT NULL,
	PRIMARY KEY (rating_ID, player_ID),
        FOREIGN KEY (player_ID)  REFERENCES player (player_ID)
)
;



-- 
-- TABLE: player_significance 
--

CREATE TABLE player_significance(
    value_ID                  integer,
    rating_ID                 integer,
   player_ID                        integer,
    international_reputation    varchar(11),
	PRIMARY KEY (value_ID, rating_ID, player_ID),
    FOREIGN KEY (rating_ID, player_ID)    REFERENCES rating(rating_ID, player_ID),
    FOREIGN KEY (player_ID)    REFERENCES player (player_ID),
    FOREIGN KEY (value_ID, player_ID)  REFERENCES value(value_ID, player_ID)
   )
;



"""

# Execute the statement to create tables
connection.execute(stmt)

<a id='Clean_and_separate_variables'></a>
# <center>Clean and separate variables </center>

In [3]:
%cd '/Users/claudia/Documents/Documentos/Columbia/Columbia_Summer_2019/SQL/Project'

/Users/claudia/Documents/Documentos/Columbia/Columbia_Summer_2019/SQL/Project

In [4]:
df = pd.read_csv('Data.csv')

In [5]:
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Real Face,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,RAM,LM,LCM,CM,RCM,RM,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,https://cdn.sofifa.org/teams/2/light/241.png,€110.5M,€565K,2202,Left,5.0,4.0,4.0,Medium/ Medium,Messi,Yes,RF,10.0,"Jul 1, 2004",NaN,2021,5'7,159lbs,88+2,88+2,88+2,92+2,93+2,93+2,93+2,92+2,93+2,93+2,93+2,91+2,84+2,84+2,84+2,91+2,64+2,61+2,61+2,61+2,64+2,59+2,47+2,47+2,47+2,59+2,84.0,95.0,70.0,90.0,86.0,97.0,93.0,94.0,87.0,96.0,91.0,86.0,91.0,95.0,95.0,85.0,68.0,72.0,59.0,94.0,48.0,22.0,94.0,94.0,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,https://cdn.sofifa.org/teams/2/light/45.png,€77M,€405K,2228,Right,5.0,4.0,5.0,High/ Low,C. Ronaldo,Yes,ST,7.0,"Jul 10, 2018",NaN,2022,6'2,183lbs,91+3,91+3,91+3,89+3,90+3,90+3,90+3,89+3,88+3,88+3,88+3,88+3,81+3,81+3,81+3,88+3,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3,84.0,94.0,89.0,81.0,87.0,88.0,81.0,76.0,77.0,94.0,89.0,91.0,87.0,96.0,70.0,95.0,95.0,88.0,79.0,93.0,63.0,29.0,95.0,82.0,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,https://cdn.sofifa.org/teams/2/light/73.png,€118.5M,€290K,2143,Right,5.0,5.0,5.0,High/ Medium,Neymar,Yes,LW,10.0,"Aug 3, 2017",NaN,2022,5'9,150lbs,84+3,84+3,84+3,89+3,89+3,89+3,89+3,89+3,89+3,89+3,89+3,88+3,81+3,81+3,81+3,88+3,65+3,60+3,60+3,60+3,65+3,60+3,47+3,47+3,47+3,60+3,79.0,87.0,62.0,84.0,84.0,96.0,88.0,87.0,78.0,95.0,94.0,90.0,96.0,94.0,84.0,80.0,61.0,81.0,49.0,82.0,56.0,36.0,89.0,87.0,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,https://cdn.sofifa.org/teams/2/light/11.png,€72M,€260K,1471,Right,4.0,3.0,1.0,Medium/ Medium,Lean,Yes,GK,1.0,"Jul 1, 2011",NaN,2020,6'4,168lbs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,13.0,21.0,50.0,13.0,18.0,21.0,19.0,51.0,42.0,57.0,58.0,60.0,90.0,43.0,31.0,67.0,43.0,64.0,12.0,38.0,30.0,12.0,68.0,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,https://cdn.sofifa.org/teams/2/light/10.png,€102M,€355K,2281,Right,4.0,5.0,4.0,High/ High,Normal,Yes,RCM,7.0,"Aug 30, 2015",NaN,2023,5'11,154lbs,82+3,82+3,82+3,87+3,87+3,87+3,87+3,87+3,88+3,88+3,88+3,88+3,87+3,87+3,87+3,88+3,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3,93.0,82.0,55.0,92.0,82.0,86.0,85.0,83.0,91.0,91.0,78.0,76.0,79.0,91.0,77.0,91.0,63.0,90.0,75.0,91.0,76.0,61.0,87.0,94.0,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 89 columns):
Unnamed: 0                  18207 non-null int64
ID                          18207 non-null int64
Name                        18207 non-null object
Age                         18207 non-null int64
Photo                       18207 non-null object
Nationality                 18207 non-null object
Flag                        18207 non-null object
Overall                     18207 non-null int64
Potential                   18207 non-null int64
Club                        17966 non-null object
Club Logo                   18207 non-null object
Value                       18207 non-null object
Wage                        18207 non-null object
Special                     18207 non-null int64
Preferred Foot              18159 non-null object
International Reputation    18159 non-null float64
Weak Foot                   18159 non-null float64
Skill Moves                 18159 non-null float64
Work Rate                   18159 non-null object
Body Type                   18159 non-null object
Real Face                   18159 non-null object
Position                    18147 non-null object
Jersey Number               18147 non-null float64
Joined                      16654 non-null object
Loaned From                 1264 non-null object
Contract Valid Until        17918 non-null object
Height                      18159 non-null object
Weight                      18159 non-null object
LS                          16122 non-null object
ST                          16122 non-null object
RS                          16122 non-null object
LW                          16122 non-null object
LF                          16122 non-null object
CF                          16122 non-null object
RF                          16122 non-null object
RW                          16122 non-null object
LAM                         16122 non-null object
CAM                         16122 non-null object
RAM                         16122 non-null object
LM                          16122 non-null object
LCM                         16122 non-null object
CM                          16122 non-null object
RCM                         16122 non-null object
RM                          16122 non-null object
LWB                         16122 non-null object
LDM                         16122 non-null object
CDM                         16122 non-null object
RDM                         16122 non-null object
RWB                         16122 non-null object
LB                          16122 non-null object
LCB                         16122 non-null object
CB                          16122 non-null object
RCB                         16122 non-null object
RB                          16122 non-null object
Crossing                    18159 non-null float64
Finishing                   18159 non-null float64
HeadingAccuracy             18159 non-null float64
ShortPassing                18159 non-null float64
Volleys                     18159 non-null float64
Dribbling                   18159 non-null float64
Curve                       18159 non-null float64
FKAccuracy                  18159 non-null float64
LongPassing                 18159 non-null float64
BallControl                 18159 non-null float64
Acceleration                18159 non-null float64
SprintSpeed                 18159 non-null float64
Agility                     18159 non-null float64
Reactions                   18159 non-null float64
Balance                     18159 non-null float64
ShotPower                   18159 non-null float64
Jumping                     18159 non-null float64
Stamina                     18159 non-null float64
Strength                    18159 non-null float64
LongShots                   18159 non-null float64
Aggression                  18159 non-null float64
Interceptions               18159 non-null float64
Positioning                 18159 non-null float64
Vision                      18159 non-null float64
Penalties                   18159 non-null float64
Composure                   18159 non-null float64
Marking                     18159 non-null float64
StandingTackle              18159 non-null float64
SlidingTackle               18159 non-null float64
GKDiving                    18159 non-null float64
GKHandling                  18159 non-null float64
GKKicking                   18159 non-null float64
GKPositioning               18159 non-null float64
GKReflexes                  18159 non-null float64
Release Clause              16643 non-null object
dtypes: float64(38), int64(6), object(45)
memory usage: 12.4+ MB

In [7]:
df.isna().sum()

Unnamed: 0                      0
ID                              0
Name                            0
Age                             0
Photo                           0
Nationality                     0
Flag                            0
Overall                         0
Potential                       0
Club                          241
Club Logo                       0
Value                           0
Wage                            0
Special                         0
Preferred Foot                 48
International Reputation       48
Weak Foot                      48
Skill Moves                    48
Work Rate                      48
Body Type                      48
Real Face                      48
Position                       60
Jersey Number                  60
Joined                       1553
Loaned From                 16943
Contract Valid Until          289
Height                         48
Weight                         48
LS                           2085
ST                           2085
                            ...
Dribbling                      48
Curve                          48
FKAccuracy                     48
LongPassing                    48
BallControl                    48
Acceleration                   48
SprintSpeed                    48
Agility                        48
Reactions                      48
Balance                        48
ShotPower                      48
Jumping                        48
Stamina                        48
Strength                       48
LongShots                      48
Aggression                     48
Interceptions                  48
Positioning                    48
Vision                         48
Penalties                      48
Composure                      48
Marking                        48
StandingTackle                 48
SlidingTackle                  48
GKDiving                       48
GKHandling                     48
GKKicking                      48
GKPositioning                  48
GKReflexes                     48
Release Clause               1564
Length: 89, dtype: int64

## player_ID

In [8]:
print('Unique values:', df.ID.unique())
print('Number of unique values:', len(df.ID.unique()))
print('Missing values:', df.ID.isna().sum())
df.rename(columns={"ID": "player_ID"}, inplace=True)

Unique values: [158023  20801 190871 ... 241638 246268 246269]
Number of unique values: 18207
Missing values: 0


## name

In [9]:
df.rename(columns={"Name": "name"} , inplace=True)
print('Unique values:', df.name.unique())
print('Number of unique values:', len(df.name.unique()))
print('Missing values:', df.name.isna().sum())
print("\n")
print('Description:')
print(df['name'].describe())
print("\n")
print('Frequency:')
print(df['name'].value_counts())
print("\n")
print('Unique values:', len(df.duplicated(subset= ['name','Age', 'Nationality'])))

Unique values: ['L. Messi' 'Cristiano Ronaldo' 'Neymar Jr' ... 'B. Worman'
 'D. Walker-Rice' 'G. Nugent']
Number of unique values: 17194
Missing values: 0


Description:
count            18207
unique           17194
top       J. Rodríguez
freq                11
Name: name, dtype: object


Frequency:
J. Rodríguez        11
Paulinho             8
R. Williams          7
J. Williams          7
J. Valencia          6
Felipe               6
J. Hernández         6
J. Gómez             6
M. Pedersen          5
A. Traoré            5
Danilo               5
M. Smith             5
J. Jones             5
J. Martínez          5
J. Murillo           5
M. Gómez             5
D. Williams          5
L. López             5
J. Torres            5
J. Pérez             5
L. Rodríguez         5
J. Murphy            4
R. González          4
L. Kelly             4
L. Martínez          4
M. García            4
J. Medina            4
J. Mosquera          4
M. Dembélé           4
J. Brown             4
                    ..
M. Zárate            1
R. Manning           1
C. Lattanzio         1
Morro                1
Z. Yıldırım          1
C. Kelly             1
Minhoca              1
S. Koroki            1
Sun Shilin           1
Juiano Mestres       1
D. Zagadou           1
F. Calvo             1
Toni Martínez        1
T. Harigaya          1
G. Kılıç             1
P. Kammerbauer       1
D. Capelli           1
N. Kebano            1
R. Oudin             1
A. Chahechouhe       1
Petros               1
M. El-Shenawy        1
F. Ulvestad          1
S. Morrison          1
A. Hammill           1
Soldado              1
M. George            1
Marcos Llorente      1
Victor Fachinhas     1
D. van Kaam          1
Name: name, Length: 17194, dtype: int64


Unique values: 18207

## age

In [10]:
df.rename(columns={"Age": "age"} , inplace=True)
print('Unique values:', df.age.unique())
print('Number of unique values:', len(df.age.unique()))
print('Missing values:', df.age.isna().sum())
print("\n")
print('Description:')
print(df['age'].describe())
print("\n")
print('Frequency:')
print(df['age'].value_counts())

Unique values: [31 33 26 27 32 25 29 28 24 30 19 40 22 23 34 35 36 37 21 18 20 39 41 17
 38 45 42 16 44]
Number of unique values: 29
Missing values: 0


Description:
count    18207.000000
mean        25.122206
std          4.669943
min         16.000000
25%         21.000000
50%         25.000000
75%         28.000000
max         45.000000
Name: age, dtype: float64


Frequency:
21    1423
26    1387
24    1358
22    1340
23    1332
25    1319
20    1240
27    1162
28    1101
19    1024
29     959
30     917
18     732
31     707
32     574
33     408
34     404
17     289
35     196
36     127
37      82
16      42
38      37
39      25
40      13
41       5
44       2
42       1
45       1
Name: age, dtype: int64

## photo

In [11]:
df.rename(columns={"Photo": "photo"} , inplace=True)
print('Unique values:', df.photo.unique())
print('Number of unique values:', len(df.photo.unique()))
print('Missing values:', df.photo.isna().sum())

Unique values: ['https://cdn.sofifa.org/players/4/19/158023.png'
 'https://cdn.sofifa.org/players/4/19/20801.png'
 'https://cdn.sofifa.org/players/4/19/190871.png' ...
 'https://cdn.sofifa.org/players/4/19/241638.png'
 'https://cdn.sofifa.org/players/4/19/246268.png'
 'https://cdn.sofifa.org/players/4/19/246269.png']
Number of unique values: 18207
Missing values: 0

## country

In [12]:
df.rename(columns={"Nationality": "country_name"} , inplace=True)
print('Unique values:', df.country_name.unique())
print('Number of unique values:', len(df.country_name.unique()))
print('Missing values:', df.country_name.isna().sum())
print("\n")
print('Description:')
print(df['country_name'].describe())
print("\n")
print('Frequency:')
print(df['country_name'].value_counts())

Unique values: ['Argentina' 'Portugal' 'Brazil' 'Spain' 'Belgium' 'Croatia' 'Uruguay'
 'Slovenia' 'Poland' 'Germany' 'France' 'England' 'Italy' 'Egypt'
 'Colombia' 'Denmark' 'Gabon' 'Wales' 'Senegal' 'Costa Rica' 'Slovakia'
 'Netherlands' 'Bosnia Herzegovina' 'Morocco' 'Serbia' 'Algeria' 'Austria'
 'Greece' 'Chile' 'Sweden' 'Korea Republic' 'Finland' 'Guinea'
 'Montenegro' 'Armenia' 'Switzerland' 'Norway' 'Czech Republic' 'Scotland'
 'Ghana' 'Central African Rep.' 'DR Congo' 'Ivory Coast' 'Russia'
 'Ukraine' 'Iceland' 'Mexico' 'Jamaica' 'Albania' 'Venezuela' 'Japan'
 'Turkey' 'Ecuador' 'Paraguay' 'Mali' 'Nigeria' 'Cameroon'
 'Dominican Republic' 'Israel' 'Kenya' 'Hungary' 'Republic of Ireland'
 'Romania' 'United States' 'Cape Verde' 'Australia' 'Peru' 'Togo' 'Syria'
 'Zimbabwe' 'Angola' 'Burkina Faso' 'Iran' 'Estonia' 'Tunisia'
 'Equatorial Guinea' 'New Zealand' 'FYR Macedonia' 'United Arab Emirates'
 'China PR' 'Guinea Bissau' 'Bulgaria' 'Kosovo' 'South Africa'
 'Madagascar' 'Georgia' 'Tanzania' 'Gambia' 'Cuba' 'Belarus' 'Uzbekistan'
 'Benin' 'Congo' 'Mozambique' 'Honduras' 'Canada' 'Northern Ireland'
 'Cyprus' 'Saudi Arabia' 'Curacao' 'Moldova' 'Bolivia' 'Trinidad & Tobago'
 'Sierra Leone' 'Zambia' 'Chad' 'Philippines' 'Haiti' 'Comoros' 'Libya'
 'Panama' 'São Tomé & Príncipe' 'Eritrea' 'Oman' 'Iraq' 'Burundi' 'Fiji'
 'New Caledonia' 'Lithuania' 'Luxembourg' 'Korea DPR' 'Liechtenstein'
 'St Kitts Nevis' 'Latvia' 'Suriname' 'Uganda' 'El Salvador' 'Bermuda'
 'Kuwait' 'Antigua & Barbuda' 'Thailand' 'Mauritius' 'Guatemala' 'Liberia'
 'Kazakhstan' 'Niger' 'Mauritania' 'Montserrat' 'Namibia' 'Azerbaijan'
 'Guam' 'Faroe Islands' 'India' 'Nicaragua' 'Barbados' 'Lebanon'
 'Palestine' 'Guyana' 'Sudan' 'St Lucia' 'Ethiopia' 'Puerto Rico'
 'Grenada' 'Jordan' 'Rwanda' 'Qatar' 'Afghanistan' 'Hong Kong' 'Andorra'
 'Malta' 'Belize' 'South Sudan' 'Indonesia' 'Botswana']
Number of unique values: 164
Missing values: 0


Description:
count       18207
unique        164
top       England
freq         1662
Name: country_name, dtype: object


Frequency:
England                 1662
Germany                 1198
Spain                   1072
Argentina                937
France                   914
Brazil                   827
Italy                    702
Colombia                 618
Japan                    478
Netherlands              453
Sweden                   397
China PR                 392
Chile                    391
Republic of Ireland      368
Mexico                   366
United States            353
Poland                   350
Norway                   341
Saudi Arabia             340
Denmark                  336
Korea Republic           335
Portugal                 322
Turkey                   303
Austria                  298
Scotland                 286
Belgium                  260
Australia                236
Switzerland              220
Uruguay                  149
Senegal                  130
                        ...
Philippines                2
Eritrea                    2
Bermuda                    2
Uzbekistan                 2
Nicaragua                  2
Dominican Republic         2
Guam                       1
Puerto Rico                1
Qatar                      1
Andorra                    1
Rwanda                     1
Fiji                       1
Jordan                     1
Ethiopia                   1
Liberia                    1
Belize                     1
Mauritius                  1
New Caledonia              1
Lebanon                    1
South Sudan                1
São Tomé & Príncipe        1
Grenada                    1
Botswana                   1
Oman                       1
Palestine                  1
United Arab Emirates       1
St Lucia                   1
Malta                      1
Indonesia                  1
Kuwait                     1
Name: country_name, Length: 164, dtype: int64

## country_flag_link

In [13]:
df.rename(columns={"Flag": "country_flag_link"} , inplace=True)
print('Unique values:', df.country_flag_link.unique())
print('Number of unique values:', len(df.country_flag_link.unique()))
print('Missing values:', df.country_flag_link.isna().sum())
print("\n")
print('Description:')
print(df['country_flag_link'].describe())
print("\n")
print('Frequency:')
print(df['country_flag_link'].value_counts())

Unique values: ['https://cdn.sofifa.org/flags/52.png'
 'https://cdn.sofifa.org/flags/38.png'
 'https://cdn.sofifa.org/flags/54.png'
 'https://cdn.sofifa.org/flags/45.png'
 'https://cdn.sofifa.org/flags/7.png'
 'https://cdn.sofifa.org/flags/10.png'
 'https://cdn.sofifa.org/flags/60.png'
 'https://cdn.sofifa.org/flags/44.png'
 'https://cdn.sofifa.org/flags/37.png'
 'https://cdn.sofifa.org/flags/21.png'
 'https://cdn.sofifa.org/flags/18.png'
 'https://cdn.sofifa.org/flags/14.png'
 'https://cdn.sofifa.org/flags/27.png'
 'https://cdn.sofifa.org/flags/111.png'
 'https://cdn.sofifa.org/flags/56.png'
 'https://cdn.sofifa.org/flags/13.png'
 'https://cdn.sofifa.org/flags/115.png'
 'https://cdn.sofifa.org/flags/50.png'
 'https://cdn.sofifa.org/flags/136.png'
 'https://cdn.sofifa.org/flags/72.png'
 'https://cdn.sofifa.org/flags/43.png'
 'https://cdn.sofifa.org/flags/34.png'
 'https://cdn.sofifa.org/flags/8.png'
 'https://cdn.sofifa.org/flags/129.png'
 'https://cdn.sofifa.org/flags/51.png'
 'https://cdn.sofifa.org/flags/97.png'
 'https://cdn.sofifa.org/flags/4.png'
 'https://cdn.sofifa.org/flags/22.png'
 'https://cdn.sofifa.org/flags/55.png'
 'https://cdn.sofifa.org/flags/46.png'
 'https://cdn.sofifa.org/flags/167.png'
 'https://cdn.sofifa.org/flags/17.png'
 'https://cdn.sofifa.org/flags/118.png'
 'https://cdn.sofifa.org/flags/15.png'
 'https://cdn.sofifa.org/flags/3.png'
 'https://cdn.sofifa.org/flags/47.png'
 'https://cdn.sofifa.org/flags/36.png'
 'https://cdn.sofifa.org/flags/12.png'
 'https://cdn.sofifa.org/flags/42.png'
 'https://cdn.sofifa.org/flags/117.png'
 'https://cdn.sofifa.org/flags/105.png'
 'https://cdn.sofifa.org/flags/110.png'
 'https://cdn.sofifa.org/flags/108.png'
 'https://cdn.sofifa.org/flags/40.png'
 'https://cdn.sofifa.org/flags/49.png'
 'https://cdn.sofifa.org/flags/24.png'
 'https://cdn.sofifa.org/flags/83.png'
 'https://cdn.sofifa.org/flags/82.png'
 'https://cdn.sofifa.org/flags/1.png'
 'https://cdn.sofifa.org/flags/61.png'
 'https://cdn.sofifa.org/flags/163.png'
 'https://cdn.sofifa.org/flags/48.png'
 'https://cdn.sofifa.org/flags/57.png'
 'https://cdn.sofifa.org/flags/58.png'
 'https://cdn.sofifa.org/flags/126.png'
 'https://cdn.sofifa.org/flags/133.png'
 'https://cdn.sofifa.org/flags/103.png'
 'https://cdn.sofifa.org/flags/207.png'
 'https://cdn.sofifa.org/flags/26.png'
 'https://cdn.sofifa.org/flags/120.png'
 'https://cdn.sofifa.org/flags/23.png'
 'https://cdn.sofifa.org/flags/25.png'
 'https://cdn.sofifa.org/flags/39.png'
 'https://cdn.sofifa.org/flags/95.png'
 'https://cdn.sofifa.org/flags/104.png'
 'https://cdn.sofifa.org/flags/195.png'
 'https://cdn.sofifa.org/flags/59.png'
 'https://cdn.sofifa.org/flags/144.png'
 'https://cdn.sofifa.org/flags/186.png'
 'https://cdn.sofifa.org/flags/148.png'
 'https://cdn.sofifa.org/flags/98.png'
 'https://cdn.sofifa.org/flags/101.png'
 'https://cdn.sofifa.org/flags/161.png'
 'https://cdn.sofifa.org/flags/208.png'
 'https://cdn.sofifa.org/flags/145.png'
 'https://cdn.sofifa.org/flags/112.png'
 'https://cdn.sofifa.org/flags/198.png'
 'https://cdn.sofifa.org/flags/19.png'
 'https://cdn.sofifa.org/flags/190.png'
 'https://cdn.sofifa.org/flags/155.png'
 'https://cdn.sofifa.org/flags/119.png'
 'https://cdn.sofifa.org/flags/9.png'
 'https://cdn.sofifa.org/flags/219.png'
 'https://cdn.sofifa.org/flags/140.png'
 'https://cdn.sofifa.org/flags/124.png'
 'https://cdn.sofifa.org/flags/20.png'
 'https://cdn.sofifa.org/flags/143.png'
 'https://cdn.sofifa.org/flags/116.png'
 'https://cdn.sofifa.org/flags/73.png'
 'https://cdn.sofifa.org/flags/6.png'
 'https://cdn.sofifa.org/flags/191.png'
 'https://cdn.sofifa.org/flags/99.png'
 'https://cdn.sofifa.org/flags/107.png'
 'https://cdn.sofifa.org/flags/130.png'
 'https://cdn.sofifa.org/flags/81.png'
 'https://cdn.sofifa.org/flags/70.png'
 'https://cdn.sofifa.org/flags/35.png'
 'https://cdn.sofifa.org/flags/11.png'
 'https://cdn.sofifa.org/flags/183.png'
 'https://cdn.sofifa.org/flags/85.png'
 'https://cdn.sofifa.org/flags/33.png'
 'https://cdn.sofifa.org/flags/53.png'
 'https://cdn.sofifa.org/flags/93.png'
 'https://cdn.sofifa.org/flags/138.png'
 'https://cdn.sofifa.org/flags/147.png'
 'https://cdn.sofifa.org/flags/106.png'
 'https://cdn.sofifa.org/flags/181.png'
 'https://cdn.sofifa.org/flags/80.png'
 'https://cdn.sofifa.org/flags/214.png'
 'https://cdn.sofifa.org/flags/123.png'
 'https://cdn.sofifa.org/flags/87.png'
 'https://cdn.sofifa.org/flags/135.png'
 'https://cdn.sofifa.org/flags/113.png'
 'https://cdn.sofifa.org/flags/178.png'
 'https://cdn.sofifa.org/flags/162.png'
 'https://cdn.sofifa.org/flags/102.png'
 'https://cdn.sofifa.org/flags/197.png'
 'https://cdn.sofifa.org/flags/215.png'
 'https://cdn.sofifa.org/flags/30.png'
 'https://cdn.sofifa.org/flags/31.png'
 'https://cdn.sofifa.org/flags/166.png'
 'https://cdn.sofifa.org/flags/29.png'
 'https://cdn.sofifa.org/flags/89.png'
 'https://cdn.sofifa.org/flags/28.png'
 'https://cdn.sofifa.org/flags/92.png'
 'https://cdn.sofifa.org/flags/146.png'
 'https://cdn.sofifa.org/flags/76.png'
 'https://cdn.sofifa.org/flags/68.png'
 'https://cdn.sofifa.org/flags/168.png'
 'https://cdn.sofifa.org/flags/63.png'
 'https://cdn.sofifa.org/flags/188.png'
 'https://cdn.sofifa.org/flags/128.png'
 'https://cdn.sofifa.org/flags/78.png'
 'https://cdn.sofifa.org/flags/122.png'
 'https://cdn.sofifa.org/flags/165.png'
 'https://cdn.sofifa.org/flags/132.png'
 'https://cdn.sofifa.org/flags/127.png'
 'https://cdn.sofifa.org/flags/84.png'
 'https://cdn.sofifa.org/flags/131.png'
 'https://cdn.sofifa.org/flags/5.png'
 'https://cdn.sofifa.org/flags/157.png'
 'https://cdn.sofifa.org/flags/16.png'
 'https://cdn.sofifa.org/flags/159.png'
 'https://cdn.sofifa.org/flags/86.png'
 'https://cdn.sofifa.org/flags/66.png'
 'https://cdn.sofifa.org/flags/171.png'
 'https://cdn.sofifa.org/flags/180.png'
 'https://cdn.sofifa.org/flags/79.png'
 'https://cdn.sofifa.org/flags/141.png'
 'https://cdn.sofifa.org/flags/90.png'
 'https://cdn.sofifa.org/flags/114.png'
 'https://cdn.sofifa.org/flags/88.png'
 'https://cdn.sofifa.org/flags/77.png'
 'https://cdn.sofifa.org/flags/164.png'
 'https://cdn.sofifa.org/flags/134.png'
 'https://cdn.sofifa.org/flags/182.png'
 'https://cdn.sofifa.org/flags/149.png'
 'https://cdn.sofifa.org/flags/158.png'
 'https://cdn.sofifa.org/flags/2.png'
 'https://cdn.sofifa.org/flags/32.png'
 'https://cdn.sofifa.org/flags/67.png'
 'https://cdn.sofifa.org/flags/218.png'
 'https://cdn.sofifa.org/flags/160.png'
 'https://cdn.sofifa.org/flags/100.png']
Number of unique values: 164
Missing values: 0


Description:
count                                   18207
unique                                    164
top       https://cdn.sofifa.org/flags/14.png
freq                                     1662
Name: country_flag_link, dtype: object


Frequency:
https://cdn.sofifa.org/flags/14.png     1662
https://cdn.sofifa.org/flags/21.png     1198
https://cdn.sofifa.org/flags/45.png     1072
https://cdn.sofifa.org/flags/52.png      937
https://cdn.sofifa.org/flags/18.png      914
https://cdn.sofifa.org/flags/54.png      827
https://cdn.sofifa.org/flags/27.png      702
https://cdn.sofifa.org/flags/56.png      618
https://cdn.sofifa.org/flags/163.png     478
https://cdn.sofifa.org/flags/34.png      453
https://cdn.sofifa.org/flags/46.png      397
https://cdn.sofifa.org/flags/155.png     392
https://cdn.sofifa.org/flags/55.png      391
https://cdn.sofifa.org/flags/25.png      368
https://cdn.sofifa.org/flags/83.png      366
https://cdn.sofifa.org/flags/95.png      353
https://cdn.sofifa.org/flags/37.png      350
https://cdn.sofifa.org/flags/36.png      341
https://cdn.sofifa.org/flags/183.png     340
https://cdn.sofifa.org/flags/13.png      336
https://cdn.sofifa.org/flags/167.png     335
https://cdn.sofifa.org/flags/38.png      322
https://cdn.sofifa.org/flags/48.png      303
https://cdn.sofifa.org/flags/4.png       298
https://cdn.sofifa.org/flags/42.png      286
https://cdn.sofifa.org/flags/7.png       260
https://cdn.sofifa.org/flags/195.png     236
https://cdn.sofifa.org/flags/47.png      220
https://cdn.sofifa.org/flags/60.png      149
https://cdn.sofifa.org/flags/136.png     130
                                        ...
https://cdn.sofifa.org/flags/68.png        2
https://cdn.sofifa.org/flags/158.png       2
https://cdn.sofifa.org/flags/106.png       2
https://cdn.sofifa.org/flags/191.png       2
https://cdn.sofifa.org/flags/207.png       2
https://cdn.sofifa.org/flags/86.png        2
https://cdn.sofifa.org/flags/134.png       1
https://cdn.sofifa.org/flags/160.png       1
https://cdn.sofifa.org/flags/100.png       1
https://cdn.sofifa.org/flags/114.png       1
https://cdn.sofifa.org/flags/122.png       1
https://cdn.sofifa.org/flags/67.png        1
https://cdn.sofifa.org/flags/2.png         1
https://cdn.sofifa.org/flags/157.png       1
https://cdn.sofifa.org/flags/178.png       1
https://cdn.sofifa.org/flags/164.png       1
https://cdn.sofifa.org/flags/128.png       1
https://cdn.sofifa.org/flags/88.png        1
https://cdn.sofifa.org/flags/32.png        1
https://cdn.sofifa.org/flags/180.png       1
https://cdn.sofifa.org/flags/77.png        1
https://cdn.sofifa.org/flags/215.png       1
https://cdn.sofifa.org/flags/197.png       1
https://cdn.sofifa.org/flags/90.png        1
https://cdn.sofifa.org/flags/182.png       1
https://cdn.sofifa.org/flags/168.png       1
https://cdn.sofifa.org/flags/171.png       1
https://cdn.sofifa.org/flags/190.png       1
https://cdn.sofifa.org/flags/218.png       1
https://cdn.sofifa.org/flags/135.png       1
Name: country_flag_link, Length: 164, dtype: int64

## overall

In [14]:
df.rename(columns={"Overall": "overall"} , inplace=True)
print('Unique values:', df.overall.unique())
print('Number of unique values:', len(df.overall.unique()))
print('Missing values:', df.overall.isna().sum())
print("\n")
print('Description:')
print(df['overall'].describe())
print("\n")
print('Frequency:')      
print(df['overall'].value_counts())

Unique values: [94 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70
 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46]
Number of unique values: 48
Missing values: 0


Description:
count    18207.000000
mean        66.238699
std          6.908930
min         46.000000
25%         62.000000
50%         66.000000
75%         71.000000
max         94.000000
Name: overall, dtype: float64


Frequency:
66    1163
67    1118
64    1091
65    1045
68    1035
63    1002
69     973
70     889
62     878
71     783
72     753
61     711
60     649
73     608
74     537
59     525
75     497
58     444
57     402
76     373
56     343
77     304
55     265
54     250
53     199
79     171
78     168
52     159
80     143
51     125
50     103
82      94
81      93
83      70
84      45
49      36
85      33
48      32
86      22
47      20
88      17
87      13
89      11
91       6
90       5
94       2
92       1
46       1
Name: overall, dtype: int64

## potential

In [15]:
df.rename(columns={"Potential": "potential"} , inplace=True)
print('Unique values:', df.potential.unique())
print('Number of unique values:', len(df.potential.unique()))
print('Missing values:', df.potential.isna().sum())
print("\n")
print('Description:')
print(df['potential'].describe())
print("\n")
print('Frequency:')
print(df['potential'].value_counts())

Unique values: [94 93 92 91 90 89 95 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72
 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 48]
Number of unique values: 47
Missing values: 0


Description:
count    18207.000000
mean        71.307299
std          6.136496
min         48.000000
25%         67.000000
50%         71.000000
75%         75.000000
max         95.000000
Name: potential, dtype: float64


Frequency:
70    1203
69    1175
71    1140
68    1136
72    1122
73    1051
74    1015
66     996
67     991
75     951
76     769
65     768
64     714
77     698
78     547
63     495
79     494
80     446
62     379
81     307
61     251
82     251
83     219
84     181
60     165
85     139
59     125
58      87
86      82
87      61
88      48
57      47
89      33
56      24
90      21
55      18
91      12
52      10
92       9
54       7
53       6
93       4
94       3
48       2
50       2
51       2
95       1
Name: potential, dtype: int64

## club_name

In [16]:
df.rename(columns={"Club": "club_name"} , inplace=True)
print('Unique values:', df.club_name.unique())
print('Number of unique values:', len(df.club_name.unique()))
print('Missing values:', df.club_name.isna().sum())
print("\n")
print('Description:')
print(df['club_name'].describe())
print("\n")
print('Frequency:')
print(df['club_name'].value_counts())

Unique values: ['FC Barcelona' 'Juventus' 'Paris Saint-Germain' 'Manchester United'
 'Manchester City' 'Chelsea' 'Real Madrid' 'Atlético Madrid'
 'FC Bayern München' 'Tottenham Hotspur' 'Liverpool' 'Napoli' 'Arsenal'
 'Milan' 'Inter' 'Lazio' 'Borussia Dortmund' 'Vissel Kobe'
 'Olympique Lyonnais' 'Roma' 'Valencia CF'
 'Guangzhou Evergrande Taobao FC' 'FC Porto' 'FC Schalke 04' 'Beşiktaş JK'
 'LA Galaxy' 'Sporting CP' 'Real Betis' 'Olympique de Marseille'
 'RC Celta' 'Bayer 04 Leverkusen' 'Real Sociedad' 'Villarreal CF'
 'Sevilla FC' 'SL Benfica' 'AS Saint-Étienne' 'AS Monaco' 'Leicester City'
 'Atalanta' 'Grêmio' 'Atlético Mineiro' 'RB Leipzig' 'Ajax'
 'Dalian YiFang FC' 'Everton' 'West Ham United' '1. FC Köln'
 'TSG 1899 Hoffenheim' 'Shanghai SIPG FC' 'OGC Nice' 'Al Nassr'
 'Wolverhampton Wanderers' 'Borussia Mönchengladbach' 'Hertha BSC'
 'SV Werder Bremen' 'Cruzeiro' 'Athletic Club de Bilbao' 'Torino'
 'Medipol Başakşehir FK' 'Beijing Sinobo Guoan FC' 'Crystal Palace'
 'PFC CSKA Moscow' 'VfL Wolfsburg' 'Shakhtar Donetsk' 'Toronto FC'
 'Lokomotiv Moscow' 'Sassuolo' 'New York City FC' 'Fluminense' 'PSV'
 'Levante UD' 'Fulham' 'Watford' 'Atlanta United' 'Montpellier HSC'
 'Galatasaray SK' 'Fenerbahçe SK' 'SD Eibar' 'Los Angeles FC' 'Sampdoria'
 'Al Hilal' 'VfB Stuttgart' 'SC Braga' 'River Plate' 'Deportivo Alavés'
 nan 'Eintracht Frankfurt' 'Girona FC' 'Guangzhou R&F; FC' 'Burnley'
 'Stoke City' 'Southampton' 'Tianjin Quanjian FC' 'Getafe CF'
 'Beijing Renhe FC' 'Montreal Impact' 'Chievo Verona' 'Genoa'
 'Portland Timbers' 'Tigres U.A.N.L.' 'RCD Espanyol'
 'Hebei China Fortune FC' 'Cagliari' 'Chicago Fire' 'DC United'
 'Sagan Tosu' 'Dynamo Kyiv' 'Santos' 'Internacional'
 'América FC (Minas Gerais)' 'Independiente' 'Boca Juniors' 'Cruz Azul'
 '1. FSV Mainz 05' 'Bournemouth' 'Spartak Moscow' 'Racing Club'
 'FC Augsburg' 'Fiorentina' 'FC Nantes' 'Feyenoord' 'Club Brugge KV'
 'Brighton & Hove Albion' 'Al Ahli' 'Jiangsu Suning FC' 'SC Freiburg'
 'PAOK' 'Stade Rennais FC' 'Trabzonspor' 'SPAL' 'Portimonense SC'
 'Olympiacos CFP' 'Club Atlético Huracán' 'Kasimpaşa SK'
 'Newcastle United' 'Frosinone' 'Querétaro' 'KRC Genk' 'Hannover 96'
 'Stade Malherbe Caen' 'Godoy Cruz' 'Toulouse Football Club'
 'RSC Anderlecht' 'Huddersfield Town' 'CD Tondela' 'Seattle Sounders FC'
 'Hamburger SV' 'FC Red Bull Salzburg' 'Rio Ave FC'
 'FC Girondins de Bordeaux' 'Melbourne Victory' 'Parma' 'FC Basel 1893'
 'Al Wehda' 'BSC Young Boys' 'KAA Gent' 'Al Ittihad' 'Standard de Liège'
 'Shanghai Greenland Shenhua FC' 'Colo-Colo' 'Junior FC'
 'West Bromwich Albion' 'RC Strasbourg Alsace' 'Göztepe SK'
 'Deportivo Cali' 'Deportivo Toluca' 'Bologna' 'Nagoya Grampus'
 'Amiens SC' 'Changchun Yatai FC' 'Club Atlético Lanús' 'Botafogo'
 'Club América' 'Udinese' 'Real Valladolid CF' 'CD Leganés'
 'Club Atlético Banfield' 'Celtic' 'Vitória Guimarães' 'FC København'
 'UD Las Palmas' 'Deportivo de La Coruña' 'Universidad Católica'
 'San Lorenzo de Almagro' 'Rayo Vallecano' 'Monterrey' 'Columbus Crew SC'
 'MKE Ankaragücü' 'Guizhou Hengfeng FC' 'Swansea City' 'Tianjin TEDA FC'
 'Chongqing Dangdai Lifan FC SWM Team' 'AEK Athens' 'Al Taawoun'
 'Melbourne City FC' 'En Avant de Guingamp' 'Akhisar Belediyespor'
 'Foggia' 'LOSC Lille' '1. FC Nürnberg' 'Clube Sport Marítimo'
 'Real Sporting de Gijón' 'BB Erzurumspor' 'Shandong Luneng TaiShan FC'
 'Club Atlético Colón' 'Bahia' 'Once Caldas' 'FC Groningen' 'Angers SCO'
 'Paraná' 'Antalyaspor' 'Minnesota United FC' 'Club León' 'Empoli'
 'VVV-Venlo' 'Leeds United' 'Viktoria Plzeň' 'Alanyaspor'
 'Atlético Paranaense' 'Derby County' 'Kawasaki Frontale' 'Cardiff City'
 'Aston Villa' 'Guadalajara' 'Dijon FCO' 'Santos Laguna' 'Málaga CF'
 'Vitória' 'Çaykur Rizespor' 'U.N.A.M.' 'Nottingham Forest'
 'Royal Antwerp FC' 'Club Tijuana' 'Sport Club do Recife' 'Real Salt Lake'
 'AZ Alkmaar' 'SK Slavia Praha' 'Willem II' 'Middlesbrough'
 'Dinamo Zagreb' 'Club Atlas' 'Granada CF' 'Sydney FC'
 'Sporting Kansas City' 'SV Zulte-Waregem' 'Philadelphia Union'
 'Real Oviedo' 'Pachuca' 'Boavista FC' 'Atiker Konyaspor' 'Kaizer Chiefs'
 'GD Chaves' 'Palermo' 'Atlético Nacional' 'Puebla FC' 'Perth Glory'
 'Panathinaikos FC' 'FC Sion' 'Vitória de Setúbal' 'New York Red Bulls'
 'Al Shabab' 'Monarcas Morelia' 'Albacete BP' 'Rangers FC' 'Sparta Praha'
 'Legia Warszawa' 'Urawa Red Diamonds' 'Rosario Central' 'Stade de Reims'
 'ADO Den Haag' 'Chapecoense' 'FC Midtjylland' 'San Jose Earthquakes'
 'Belgrano de Córdoba' 'Brescia' 'Kashima Antlers'
 'CD Everton de Viña del Mar' 'Fortuna Düsseldorf' 'SD Huesca'
 'Preston North End' 'Club Atlético Talleres' 'Benevento' 'Vitesse'
 'Gimnasia y Esgrima La Plata' 'Houston Dynamo' 'Club Necaxa'
 'Norwich City' 'Holstein Kiel' 'Ettifaq FC' 'Kayserispor'
 '1. FC Heidenheim 1846' 'Brentford' 'Yeni Malatyaspor' 'Lobos BUAP'
 'Bursaspor' 'Ceará Sporting Club' 'Sheffield United' 'FC Ingolstadt 04'
 'Estudiantes de La Plata' 'AIK' 'Queens Park Rangers'
 'Suwon Samsung Bluewings' 'Heart of Midlothian' 'Reading' 'FC Dallas'
 'Heracles Almelo' 'Venezia FC' 'CD Lugo' 'Henan Jianye FC'
 'Orlando City SC' 'CA Osasuna' 'NAC Breda' 'Livorno'
 'Universidad de Chile' 'Brøndby IF' 'Aberdeen' 'Defensa y Justicia'
 'Atlético Tucumán' 'Blackburn Rovers' 'SV Darmstadt 98' 'Moreirense FC'
 'Sanfrecce Hiroshima' 'CD Numancia' 'KV Oostende' 'FC Utrecht'
 'Vancouver Whitecaps FC' 'Odense Boldklub' 'SC Heerenveen'
 'Racing Club de Lens' 'Independiente Santa Fe' 'Sporting de Charleroi'
 'Millonarios FC' 'Sheffield Wednesday' 'Perugia' 'Daegu FC'
 'Vélez Sarsfield' 'Grasshopper Club Zürich' 'Sivasspor' 'Nîmes Olympique'
 'Rosenborg BK' 'SK Sturm Graz' 'FC Metz' 'CD Universidad de Concepción'
 'Hellas Verona' 'Brisbane Roar' 'CD Feirense' 'Hull City'
 'Waasland-Beveren' 'Neuchâtel Xamax' 'Real Zaragoza' 'CD Aves' 'Millwall'
 'Unión de Santa Fe' 'KAS Eupen' 'Cádiz CF' 'FC Tokyo' 'CD Tenerife'
 '1. FC Union Berlin' 'Al Fayha' 'AJ Auxerre' 'Patriotas Boyacá FC'
 'Molde FK' 'Bristol City' 'CD Nacional' 'Sporting Lokeren' 'FC St. Pauli'
 'Deportes Iquique' 'Al Qadisiyah' 'Atlético Bucaramanga'
 'Club Atlético Tigre' 'FK Austria Wien' 'Patronato' 'Malmö FF'
 'Kashiwa Reysol' 'US Cremonese' 'VfL Bochum 1848' 'SK Rapid Wien'
 'KSV Cercle Brugge' 'Rionegro Águilas' 'Gimnàstic de Tarragona' 'Lecce'
 'Santa Clara' 'BK Häcken' 'New England Revolution' 'Orlando Pirates'
 'Atlético Huila' 'Western Sydney Wanderers' 'Kalmar FF'
 'Independiente Medellín' 'Fortuna Sittard' 'Lech Poznań' 'Djurgårdens IF'
 'CF Reus Deportiu' 'SK Brann' 'Ulsan Hyundai FC' 'Sint-Truidense VV'
 'Carpi' 'Al Fateh' 'Royal Excel Mouscron' 'AC Ajaccio' 'PEC Zwolle'
 'Sunderland' 'Club Atlético Aldosivi' 'US Salernitana 1919' 'FC Lorient'
 'Argentinos Juniors' 'AD Alcorcón' 'Crotone' 'Excelsior' 'KV Kortrijk'
 'IFK Norrköping' 'Adelaide United' 'FC St. Gallen'
 'Tiburones Rojos de Veracruz' 'CD Palestino' 'Jeju United FC'
 'Deportes Tolima' 'Jeonbuk Hyundai Motors' 'Birmingham City'
 'América de Cali' 'La Equidad' 'Spezia' 'Aalborg BK' 'Le Havre AC'
 'Górnik Zabrze' 'Central Coast Mariners' 'Wigan Athletic'
 'Jagiellonia Białystok' 'Cittadella' 'Hibernian' 'FC Lugano'
 'San Martín de San Juan' 'Strømsgodset IF' 'Júbilo Iwata'
 "Newell's Old Boys" 'Al Faisaly' 'Colorado Rapids' 'IF Elfsborg'
 'SV Sandhausen' 'Al Batin' 'Stade Brestois 29' 'UD Almería'
 'Gyeongnam FC' 'Yokohama F. Marinos' 'Kilmarnock' 'Pescara'
 'Newcastle Jets' 'Córdoba CF' 'RCD Mallorca' 'Hammarby IF' 'Cerezo Osaka'
 'KFC Uerdingen 05' 'Shimizu S-Pulse' 'MSV Duisburg' 'Os Belenenses'
 'DSC Arminia Bielefeld' 'Ipswich Town' 'FC Seoul' 'Lechia Gdańsk'
 'Gamba Osaka' 'CF Rayo Majadahonda' 'LASK Linz' 'Bolton Wanderers'
 'Al Raed' 'Extremadura UD' 'SC Paderborn 07' 'Wellington Phoenix'
 'Unión Española' 'Alianza Petrolera' 'Cracovia' 'Gangwon FC' 'Elche CF'
 'ESTAC Troyes' 'AS Béziers' 'La Berrichonne de Châteauroux'
 'Clermont Foot 63' '1. FC Magdeburg' 'Pohang Steelers' 'Örebro SK'
 'Arka Gdynia' 'SG Dynamo Dresden' 'SpVgg Greuther Fürth' 'CD Huachipato'
 'Wisła Kraków' 'Stabæk Fotball' 'Eintracht Braunschweig'
 'Valenciennes FC' 'FC Thun' 'San Luis de Quillota' ' SSV Jahn Regensburg'
 'Cosenza' 'FC Nordsjælland' 'FC Erzgebirge Aue' 'Jeonnam Dragons'
 'Wolfsberger AC' 'Chamois Niortais Football Club' 'Club Deportes Temuco'
 'AS Nancy Lorraine' 'Red Star FC' 'Al Hazem' 'Pogoń Szczecin'
 'Charlton Athletic' 'Grenoble Foot 38' 'FC Hansa Rostock'
 'San Martin de Tucumán' 'Incheon United FC' 'Śląsk Wrocław' 'GFC Ajaccio'
 '1. FC Kaiserslautern' 'Deportivo Pasto' 'Lincoln City' 'Motherwell'
 'Rotherham United' 'Burton Albion' 'Wisła Płock' 'FC Wacker Innsbruck'
 'Peterborough United' 'Ascoli' 'FC Zürich' 'Fleetwood Town' 'Padova'
 'FC Sochaux-Montbéliard' 'SV Wehen Wiesbaden' 'Unión La Calera'
 'Scunthorpe United' "CD O'Higgins" 'CD Antofagasta' 'Plymouth Argyle'
 'Aarhus GF' 'Lillestrøm SK' 'Karlsruher SC' 'GIF Sundsvall' 'FC Emmen'
 'Barnsley' 'Audax Italiano' 'V-Varen Nagasaki' 'Paris FC'
 'SpVgg Unterhaching' 'Hobro IK' 'De Graafschap'
 'Hokkaido Consadole Sapporo' 'Tromsø IL' 'FC Luzern' 'FK Haugesund'
 'Zagłębie Lubin' 'VfR Aalen' 'Dundalk' 'Oxford United' 'Piast Gliwice'
 'Ohod Club' 'Östersunds FK' 'Vegalta Sendai' 'Crawley Town'
 'FC Admira Wacker Mödling' 'Vålerenga Fotball' 'Dundee FC' 'Portsmouth'
 'Envigado FC' 'Miedź Legnica' 'Odds BK' 'SC Fortuna Köln'
 'US Orléans Loiret Football' 'Sarpsborg 08 FF' 'Jaguares de Córdoba'
 'Bradford City' 'Accrington Stanley' 'St. Johnstone FC' 'Boyacá Chicó FC'
 'Luton Town' 'SV Mattersburg' 'Kristiansund BK' 'Sangju Sangmu FC'
 'Rochdale' 'Walsall' 'Korona Kielce' 'Shonan Bellmare'
 'FC Würzburger Kickers' 'FSV Zwickau' 'St. Mirren' 'AC Horsens'
 'Esbjerg fB' 'HJK Helsinki' 'Southend United' 'Bristol Rovers'
 'Hamilton Academical FC' 'TSV 1860 München' 'Curicó Unido' 'SCR Altach'
 'Ranheim Fotball' 'Stevenage' 'SG Sonnenhof Großaspach' 'Oldham Athletic'
 'Milton Keynes Dons' 'FK Bodø/Glimt' 'SC Preußen Münster'
 'Wycombe Wanderers' 'Vejle Boldklub' 'Bury' 'Randers FC' 'VfL Osnabrück'
 'SønderjyskE' 'IFK Göteborg' 'Mansfield Town' 'Coventry City'
 'Waterford FC' 'Shrewsbury' 'IK Start' 'Gillingham' 'FC Energie Cottbus'
 'FC Carl Zeiss Jena' 'Hallescher FC' 'SV Meppen' 'AFC Wimbledon'
 'Blackpool' 'Doncaster Rovers' 'Sandefjord Fotball'
 'VfL Sportfreunde Lotte' 'Cheltenham Town' 'IK Sirius' 'Vendsyssel FF'
 'Swindon Town' 'Notts County' 'SKN St. Pölten' 'Exeter City'
 'Northampton Town' 'Shamrock Rovers' 'Colchester United' 'Livingston FC'
 'TSV Hartberg' 'Tranmere Rovers' 'Cambridge United' 'Grimsby Town'
 'Port Vale' 'Itagüí Leones FC' 'Forest Green Rovers' 'Dalkurd FF'
 'Zagłębie Sosnowiec' 'Carlisle United' 'Trelleborgs FF'
 "St. Patrick's Athletic" 'Morecambe' 'Cork City' 'IF Brommapojkarna'
 'Crewe Alexandra' 'Yeovil Town' 'Bohemian FC' 'Macclesfield Town'
 'Newport County' 'Sligo Rovers' 'Derry City' 'Limerick FC'
 'Bray Wanderers']
Number of unique values: 652
Missing values: 241


Description:

count                       17966
unique                        651
top       Wolverhampton Wanderers
freq                           33
Name: club_name, dtype: object


Frequency:
Wolverhampton Wanderers      33
RC Celta                     33
FC Barcelona                 33
Fortuna Düsseldorf           33
Burnley                      33
Manchester United            33
Manchester City              33
Chelsea                      33
Valencia CF                  33
Cardiff City                 33
Atlético Madrid              33
Southampton                  33
Liverpool                    33
TSG 1899 Hoffenheim          33
Arsenal                      33
Newcastle United             33
Tottenham Hotspur            33
Rayo Vallecano               33
Borussia Dortmund            33
Empoli                       33
Frosinone                    33
Eintracht Frankfurt          33
Everton                      33
AS Monaco                    33
CD Leganés                   33
Real Madrid                  33
1. FSV Mainz 05              32
Villarreal CF                32
Crystal Palace               32
Hertha BSC                   32
                             ..
St. Patrick's Athletic       23
Colorado Rapids              23
GFC Ajaccio                  23
Bray Wanderers               23
Dundalk                      23
Östersunds FK                22
Shamrock Rovers              22
FK Haugesund                 22
Melbourne Victory            21
Dalkurd FF                   21
Wellington Phoenix           21
Atlético Paranaense          20
Botafogo                     20
Paraná                       20
Bahia                        20
Cruzeiro                     20
Atlético Mineiro             20
Internacional                20
Vitória                      20
Chapecoense                  20
Ceará Sporting Club          20
Tromsø IL                    20
Santos                       20
América FC (Minas Gerais)    20
Sport Club do Recife         20
Grêmio                       20
Fluminense                   20
Limerick FC                  19
Sligo Rovers                 19
Derry City                   18
Name: club_name, Length: 651, dtype: int64

Filling missing values with the "No provided" string:

In [17]:
df['club_name'] = df['club_name'].fillna('No provided')

In [18]:
print('Unique values:', df.club_name.unique())
print('Number of unique values:', len(df.club_name.unique()))
print('Missing values:', df.club_name.isna().sum())
print("\n")
print('Description:')
print(df['club_name'].describe())
print("\n")
print('Frequency:')
print(df['club_name'].value_counts())

Unique values: ['FC Barcelona' 'Juventus' 'Paris Saint-Germain' 'Manchester United'
 'Manchester City' 'Chelsea' 'Real Madrid' 'Atlético Madrid'
 'FC Bayern München' 'Tottenham Hotspur' 'Liverpool' 'Napoli' 'Arsenal'
 'Milan' 'Inter' 'Lazio' 'Borussia Dortmund' 'Vissel Kobe'
 'Olympique Lyonnais' 'Roma' 'Valencia CF'
 'Guangzhou Evergrande Taobao FC' 'FC Porto' 'FC Schalke 04' 'Beşiktaş JK'
 'LA Galaxy' 'Sporting CP' 'Real Betis' 'Olympique de Marseille'
 'RC Celta' 'Bayer 04 Leverkusen' 'Real Sociedad' 'Villarreal CF'
 'Sevilla FC' 'SL Benfica' 'AS Saint-Étienne' 'AS Monaco' 'Leicester City'
 'Atalanta' 'Grêmio' 'Atlético Mineiro' 'RB Leipzig' 'Ajax'
 'Dalian YiFang FC' 'Everton' 'West Ham United' '1. FC Köln'
 'TSG 1899 Hoffenheim' 'Shanghai SIPG FC' 'OGC Nice' 'Al Nassr'
 'Wolverhampton Wanderers' 'Borussia Mönchengladbach' 'Hertha BSC'
 'SV Werder Bremen' 'Cruzeiro' 'Athletic Club de Bilbao' 'Torino'
 'Medipol Başakşehir FK' 'Beijing Sinobo Guoan FC' 'Crystal Palace'
 'PFC CSKA Moscow' 'VfL Wolfsburg' 'Shakhtar Donetsk' 'Toronto FC'
 'Lokomotiv Moscow' 'Sassuolo' 'New York City FC' 'Fluminense' 'PSV'
 'Levante UD' 'Fulham' 'Watford' 'Atlanta United' 'Montpellier HSC'
 'Galatasaray SK' 'Fenerbahçe SK' 'SD Eibar' 'Los Angeles FC' 'Sampdoria'
 'Al Hilal' 'VfB Stuttgart' 'SC Braga' 'River Plate' 'Deportivo Alavés'
 'No provided' 'Eintracht Frankfurt' 'Girona FC' 'Guangzhou R&F; FC'
 'Burnley' 'Stoke City' 'Southampton' 'Tianjin Quanjian FC' 'Getafe CF'
 'Beijing Renhe FC' 'Montreal Impact' 'Chievo Verona' 'Genoa'
 'Portland Timbers' 'Tigres U.A.N.L.' 'RCD Espanyol'
 'Hebei China Fortune FC' 'Cagliari' 'Chicago Fire' 'DC United'
 'Sagan Tosu' 'Dynamo Kyiv' 'Santos' 'Internacional'
 'América FC (Minas Gerais)' 'Independiente' 'Boca Juniors' 'Cruz Azul'
 '1. FSV Mainz 05' 'Bournemouth' 'Spartak Moscow' 'Racing Club'
 'FC Augsburg' 'Fiorentina' 'FC Nantes' 'Feyenoord' 'Club Brugge KV'
 'Brighton & Hove Albion' 'Al Ahli' 'Jiangsu Suning FC' 'SC Freiburg'
 'PAOK' 'Stade Rennais FC' 'Trabzonspor' 'SPAL' 'Portimonense SC'
 'Olympiacos CFP' 'Club Atlético Huracán' 'Kasimpaşa SK'
 'Newcastle United' 'Frosinone' 'Querétaro' 'KRC Genk' 'Hannover 96'
 'Stade Malherbe Caen' 'Godoy Cruz' 'Toulouse Football Club'
 'RSC Anderlecht' 'Huddersfield Town' 'CD Tondela' 'Seattle Sounders FC'
 'Hamburger SV' 'FC Red Bull Salzburg' 'Rio Ave FC'
 'FC Girondins de Bordeaux' 'Melbourne Victory' 'Parma' 'FC Basel 1893'
 'Al Wehda' 'BSC Young Boys' 'KAA Gent' 'Al Ittihad' 'Standard de Liège'
 'Shanghai Greenland Shenhua FC' 'Colo-Colo' 'Junior FC'
 'West Bromwich Albion' 'RC Strasbourg Alsace' 'Göztepe SK'
 'Deportivo Cali' 'Deportivo Toluca' 'Bologna' 'Nagoya Grampus'
 'Amiens SC' 'Changchun Yatai FC' 'Club Atlético Lanús' 'Botafogo'
 'Club América' 'Udinese' 'Real Valladolid CF' 'CD Leganés'
 'Club Atlético Banfield' 'Celtic' 'Vitória Guimarães' 'FC København'
 'UD Las Palmas' 'Deportivo de La Coruña' 'Universidad Católica'
 'San Lorenzo de Almagro' 'Rayo Vallecano' 'Monterrey' 'Columbus Crew SC'
 'MKE Ankaragücü' 'Guizhou Hengfeng FC' 'Swansea City' 'Tianjin TEDA FC'
 'Chongqing Dangdai Lifan FC SWM Team' 'AEK Athens' 'Al Taawoun'
 'Melbourne City FC' 'En Avant de Guingamp' 'Akhisar Belediyespor'
 'Foggia' 'LOSC Lille' '1. FC Nürnberg' 'Clube Sport Marítimo'
 'Real Sporting de Gijón' 'BB Erzurumspor' 'Shandong Luneng TaiShan FC'
 'Club Atlético Colón' 'Bahia' 'Once Caldas' 'FC Groningen' 'Angers SCO'
 'Paraná' 'Antalyaspor' 'Minnesota United FC' 'Club León' 'Empoli'
 'VVV-Venlo' 'Leeds United' 'Viktoria Plzeň' 'Alanyaspor'
 'Atlético Paranaense' 'Derby County' 'Kawasaki Frontale' 'Cardiff City'
 'Aston Villa' 'Guadalajara' 'Dijon FCO' 'Santos Laguna' 'Málaga CF'
 'Vitória' 'Çaykur Rizespor' 'U.N.A.M.' 'Nottingham Forest'
 'Royal Antwerp FC' 'Club Tijuana' 'Sport Club do Recife' 'Real Salt Lake'
 'AZ Alkmaar' 'SK Slavia Praha' 'Willem II' 'Middlesbrough'
 'Dinamo Zagreb' 'Club Atlas' 'Granada CF' 'Sydney FC'
 'Sporting Kansas City' 'SV Zulte-Waregem' 'Philadelphia Union'
 'Real Oviedo' 'Pachuca' 'Boavista FC' 'Atiker Konyaspor' 'Kaizer Chiefs'
 'GD Chaves' 'Palermo' 'Atlético Nacional' 'Puebla FC' 'Perth Glory'
 'Panathinaikos FC' 'FC Sion' 'Vitória de Setúbal' 'New York Red Bulls'
 'Al Shabab' 'Monarcas Morelia' 'Albacete BP' 'Rangers FC' 'Sparta Praha'
 'Legia Warszawa' 'Urawa Red Diamonds' 'Rosario Central' 'Stade de Reims'
 'ADO Den Haag' 'Chapecoense' 'FC Midtjylland' 'San Jose Earthquakes'
 'Belgrano de Córdoba' 'Brescia' 'Kashima Antlers'
 'CD Everton de Viña del Mar' 'Fortuna Düsseldorf' 'SD Huesca'
 'Preston North End' 'Club Atlético Talleres' 'Benevento' 'Vitesse'
 'Gimnasia y Esgrima La Plata' 'Houston Dynamo' 'Club Necaxa'
 'Norwich City' 'Holstein Kiel' 'Ettifaq FC' 'Kayserispor'
 '1. FC Heidenheim 1846' 'Brentford' 'Yeni Malatyaspor' 'Lobos BUAP'
 'Bursaspor' 'Ceará Sporting Club' 'Sheffield United' 'FC Ingolstadt 04'
 'Estudiantes de La Plata' 'AIK' 'Queens Park Rangers'
 'Suwon Samsung Bluewings' 'Heart of Midlothian' 'Reading' 'FC Dallas'
 'Heracles Almelo' 'Venezia FC' 'CD Lugo' 'Henan Jianye FC'
 'Orlando City SC' 'CA Osasuna' 'NAC Breda' 'Livorno'
 'Universidad de Chile' 'Brøndby IF' 'Aberdeen' 'Defensa y Justicia'
 'Atlético Tucumán' 'Blackburn Rovers' 'SV Darmstadt 98' 'Moreirense FC'
 'Sanfrecce Hiroshima' 'CD Numancia' 'KV Oostende' 'FC Utrecht'
 'Vancouver Whitecaps FC' 'Odense Boldklub' 'SC Heerenveen'
 'Racing Club de Lens' 'Independiente Santa Fe' 'Sporting de Charleroi'
 'Millonarios FC' 'Sheffield Wednesday' 'Perugia' 'Daegu FC'
 'Vélez Sarsfield' 'Grasshopper Club Zürich' 'Sivasspor' 'Nîmes Olympique'
 'Rosenborg BK' 'SK Sturm Graz' 'FC Metz' 'CD Universidad de Concepción'
 'Hellas Verona' 'Brisbane Roar' 'CD Feirense' 'Hull City'
 'Waasland-Beveren' 'Neuchâtel Xamax' 'Real Zaragoza' 'CD Aves' 'Millwall'
 'Unión de Santa Fe' 'KAS Eupen' 'Cádiz CF' 'FC Tokyo' 'CD Tenerife'
 '1. FC Union Berlin' 'Al Fayha' 'AJ Auxerre' 'Patriotas Boyacá FC'
 'Molde FK' 'Bristol City' 'CD Nacional' 'Sporting Lokeren' 'FC St. Pauli'
 'Deportes Iquique' 'Al Qadisiyah' 'Atlético Bucaramanga'
 'Club Atlético Tigre' 'FK Austria Wien' 'Patronato' 'Malmö FF'
 'Kashiwa Reysol' 'US Cremonese' 'VfL Bochum 1848' 'SK Rapid Wien'
 'KSV Cercle Brugge' 'Rionegro Águilas' 'Gimnàstic de Tarragona' 'Lecce'
 'Santa Clara' 'BK Häcken' 'New England Revolution' 'Orlando Pirates'
 'Atlético Huila' 'Western Sydney Wanderers' 'Kalmar FF'
 'Independiente Medellín' 'Fortuna Sittard' 'Lech Poznań' 'Djurgårdens IF'
 'CF Reus Deportiu' 'SK Brann' 'Ulsan Hyundai FC' 'Sint-Truidense VV'
 'Carpi' 'Al Fateh' 'Royal Excel Mouscron' 'AC Ajaccio' 'PEC Zwolle'
 'Sunderland' 'Club Atlético Aldosivi' 'US Salernitana 1919' 'FC Lorient'
 'Argentinos Juniors' 'AD Alcorcón' 'Crotone' 'Excelsior' 'KV Kortrijk'
 'IFK Norrköping' 'Adelaide United' 'FC St. Gallen'
 'Tiburones Rojos de Veracruz' 'CD Palestino' 'Jeju United FC'
 'Deportes Tolima' 'Jeonbuk Hyundai Motors' 'Birmingham City'
 'América de Cali' 'La Equidad' 'Spezia' 'Aalborg BK' 'Le Havre AC'
 'Górnik Zabrze' 'Central Coast Mariners' 'Wigan Athletic'
 'Jagiellonia Białystok' 'Cittadella' 'Hibernian' 'FC Lugano'
 'San Martín de San Juan' 'Strømsgodset IF' 'Júbilo Iwata'
 "Newell's Old Boys" 'Al Faisaly' 'Colorado Rapids' 'IF Elfsborg'
 'SV Sandhausen' 'Al Batin' 'Stade Brestois 29' 'UD Almería'
 'Gyeongnam FC' 'Yokohama F. Marinos' 'Kilmarnock' 'Pescara'
 'Newcastle Jets' 'Córdoba CF' 'RCD Mallorca' 'Hammarby IF' 'Cerezo Osaka'
 'KFC Uerdingen 05' 'Shimizu S-Pulse' 'MSV Duisburg' 'Os Belenenses'
 'DSC Arminia Bielefeld' 'Ipswich Town' 'FC Seoul' 'Lechia Gdańsk'
 'Gamba Osaka' 'CF Rayo Majadahonda' 'LASK Linz' 'Bolton Wanderers'
 'Al Raed' 'Extremadura UD' 'SC Paderborn 07' 'Wellington Phoenix'
 'Unión Española' 'Alianza Petrolera' 'Cracovia' 'Gangwon FC' 'Elche CF'
 'ESTAC Troyes' 'AS Béziers' 'La Berrichonne de Châteauroux'
 'Clermont Foot 63' '1. FC Magdeburg' 'Pohang Steelers' 'Örebro SK'
 'Arka Gdynia' 'SG Dynamo Dresden' 'SpVgg Greuther Fürth' 'CD Huachipato'
 'Wisła Kraków' 'Stabæk Fotball' 'Eintracht Braunschweig'
 'Valenciennes FC' 'FC Thun' 'San Luis de Quillota' ' SSV Jahn Regensburg'
 'Cosenza' 'FC Nordsjælland' 'FC Erzgebirge Aue' 'Jeonnam Dragons'
 'Wolfsberger AC' 'Chamois Niortais Football Club' 'Club Deportes Temuco'
 'AS Nancy Lorraine' 'Red Star FC' 'Al Hazem' 'Pogoń Szczecin'
 'Charlton Athletic' 'Grenoble Foot 38' 'FC Hansa Rostock'
 'San Martin de Tucumán' 'Incheon United FC' 'Śląsk Wrocław' 'GFC Ajaccio'
 '1. FC Kaiserslautern' 'Deportivo Pasto' 'Lincoln City' 'Motherwell'
 'Rotherham United' 'Burton Albion' 'Wisła Płock' 'FC Wacker Innsbruck'
 'Peterborough United' 'Ascoli' 'FC Zürich' 'Fleetwood Town' 'Padova'
 'FC Sochaux-Montbéliard' 'SV Wehen Wiesbaden' 'Unión La Calera'
 'Scunthorpe United' "CD O'Higgins" 'CD Antofagasta' 'Plymouth Argyle'
 'Aarhus GF' 'Lillestrøm SK' 'Karlsruher SC' 'GIF Sundsvall' 'FC Emmen'
 'Barnsley' 'Audax Italiano' 'V-Varen Nagasaki' 'Paris FC'
 'SpVgg Unterhaching' 'Hobro IK' 'De Graafschap'
 'Hokkaido Consadole Sapporo' 'Tromsø IL' 'FC Luzern' 'FK Haugesund'
 'Zagłębie Lubin' 'VfR Aalen' 'Dundalk' 'Oxford United' 'Piast Gliwice'
 'Ohod Club' 'Östersunds FK' 'Vegalta Sendai' 'Crawley Town'
 'FC Admira Wacker Mödling' 'Vålerenga Fotball' 'Dundee FC' 'Portsmouth'
 'Envigado FC' 'Miedź Legnica' 'Odds BK' 'SC Fortuna Köln'
 'US Orléans Loiret Football' 'Sarpsborg 08 FF' 'Jaguares de Córdoba'
 'Bradford City' 'Accrington Stanley' 'St. Johnstone FC' 'Boyacá Chicó FC'
 'Luton Town' 'SV Mattersburg' 'Kristiansund BK' 'Sangju Sangmu FC'
 'Rochdale' 'Walsall' 'Korona Kielce' 'Shonan Bellmare'
 'FC Würzburger Kickers' 'FSV Zwickau' 'St. Mirren' 'AC Horsens'
 'Esbjerg fB' 'HJK Helsinki' 'Southend United' 'Bristol Rovers'
 'Hamilton Academical FC' 'TSV 1860 München' 'Curicó Unido' 'SCR Altach'
 'Ranheim Fotball' 'Stevenage' 'SG Sonnenhof Großaspach' 'Oldham Athletic'
 'Milton Keynes Dons' 'FK Bodø/Glimt' 'SC Preußen Münster'
 'Wycombe Wanderers' 'Vejle Boldklub' 'Bury' 'Randers FC' 'VfL Osnabrück'
 'SønderjyskE' 'IFK Göteborg' 'Mansfield Town' 'Coventry City'
 'Waterford FC' 'Shrewsbury' 'IK Start' 'Gillingham' 'FC Energie Cottbus'
 'FC Carl Zeiss Jena' 'Hallescher FC' 'SV Meppen' 'AFC Wimbledon'
 'Blackpool' 'Doncaster Rovers' 'Sandefjord Fotball'
 'VfL Sportfreunde Lotte' 'Cheltenham Town' 'IK Sirius' 'Vendsyssel FF'
 'Swindon Town' 'Notts County' 'SKN St. Pölten' 'Exeter City'
 'Northampton Town' 'Shamrock Rovers' 'Colchester United' 'Livingston FC'
 'TSV Hartberg' 'Tranmere Rovers' 'Cambridge United' 'Grimsby Town'
 'Port Vale' 'Itagüí Leones FC' 'Forest Green Rovers' 'Dalkurd FF'
 'Zagłębie Sosnowiec' 'Carlisle United' 'Trelleborgs FF'
 "St. Patrick's Athletic" 'Morecambe' 'Cork City' 'IF Brommapojkarna'
 'Crewe Alexandra' 'Yeovil Town' 'Bohemian FC' 'Macclesfield Town'
 'Newport County' 'Sligo Rovers' 'Derry City' 'Limerick FC'
 'Bray Wanderers']

Number of unique values: 652
Missing values: 0


Description:
count           18207
unique            652
top       No provided
freq              241
Name: club_name, dtype: object


Frequency:
No provided                  241
Valencia CF                   33
Cardiff City                  33
Manchester United             33
Chelsea                       33
Frosinone                     33
Borussia Dortmund             33
FC Barcelona                  33
Real Madrid                   33
Empoli                        33
RC Celta                      33
Rayo Vallecano                33
CD Leganés                    33
AS Monaco                     33
Tottenham Hotspur             33
Southampton                   33
Everton                       33
Burnley                       33
Wolverhampton Wanderers       33
TSG 1899 Hoffenheim           33
Atlético Madrid               33
Arsenal                       33
Liverpool                     33
Eintracht Frankfurt           33
Manchester City               33
Newcastle United              33
Fortuna Düsseldorf            33
VfL Wolfsburg                 32
Lazio                         32
FC Nantes                     32
                            ...
IFK Göteborg                  23
Dundalk                       23
Bray Wanderers                23
AC Ajaccio                    23
Odds BK                       23
Östersunds FK                 22
FK Haugesund                  22
Shamrock Rovers               22
Melbourne Victory             21
Dalkurd FF                    21
Wellington Phoenix            21
Chapecoense                   20
América FC (Minas Gerais)     20
Cruzeiro                      20
Tromsø IL                     20
Internacional                 20
Vitória                       20
Fluminense                    20
Santos                        20
Sport Club do Recife          20
Ceará Sporting Club           20
Grêmio                        20
Atlético Mineiro              20
Paraná                        20
Bahia                         20
Atlético Paranaense           20
Botafogo                      20
Sligo Rovers                  19
Limerick FC                   19
Derry City                    18
Name: club_name, Length: 652, dtype: int64

## club_logo

In [19]:
df.rename(columns={"Club Logo": "club_logo"} , inplace=True)
print('Unique values:', df.club_logo.unique())
print('Number of unique values:', len(df.club_logo.unique()))
print('Missing values:', df.club_logo.isna().sum())

Unique values: ['https://cdn.sofifa.org/teams/2/light/241.png'
 'https://cdn.sofifa.org/teams/2/light/45.png'
 'https://cdn.sofifa.org/teams/2/light/73.png'
 'https://cdn.sofifa.org/teams/2/light/11.png'
 'https://cdn.sofifa.org/teams/2/light/10.png'
 'https://cdn.sofifa.org/teams/2/light/5.png'
 'https://cdn.sofifa.org/teams/2/light/243.png'
 'https://cdn.sofifa.org/teams/2/light/240.png'
 'https://cdn.sofifa.org/teams/2/light/21.png'
 'https://cdn.sofifa.org/teams/2/light/18.png'
 'https://cdn.sofifa.org/teams/2/light/9.png'
 'https://cdn.sofifa.org/teams/2/light/48.png'
 'https://cdn.sofifa.org/teams/2/light/1.png'
 'https://cdn.sofifa.org/teams/2/light/47.png'
 'https://cdn.sofifa.org/teams/2/light/44.png'
 'https://cdn.sofifa.org/teams/2/light/46.png'
 'https://cdn.sofifa.org/teams/2/light/22.png'
 'https://cdn.sofifa.org/teams/2/light/101146.png'
 'https://cdn.sofifa.org/teams/2/light/66.png'
 'https://cdn.sofifa.org/teams/2/light/52.png'
 'https://cdn.sofifa.org/teams/2/light/461.png'
 'https://cdn.sofifa.org/teams/2/light/111839.png'
 'https://cdn.sofifa.org/teams/2/light/236.png'
 'https://cdn.sofifa.org/teams/2/light/34.png'
 'https://cdn.sofifa.org/teams/2/light/327.png'
 'https://cdn.sofifa.org/teams/2/light/697.png'
 'https://cdn.sofifa.org/teams/2/light/237.png'
 'https://cdn.sofifa.org/teams/2/light/449.png'
 'https://cdn.sofifa.org/teams/2/light/219.png'
 'https://cdn.sofifa.org/teams/2/light/450.png'
 'https://cdn.sofifa.org/teams/2/light/32.png'
 'https://cdn.sofifa.org/teams/2/light/457.png'
 'https://cdn.sofifa.org/teams/2/light/483.png'
 'https://cdn.sofifa.org/teams/2/light/481.png'
 'https://cdn.sofifa.org/teams/2/light/234.png'
 'https://cdn.sofifa.org/teams/2/light/1819.png'
 'https://cdn.sofifa.org/teams/2/light/69.png'
 'https://cdn.sofifa.org/teams/2/light/95.png'
 'https://cdn.sofifa.org/teams/2/light/39.png'
 'https://cdn.sofifa.org/teams/2/light/1629.png'
 'https://cdn.sofifa.org/teams/2/light/1035.png'
 'https://cdn.sofifa.org/teams/2/light/112172.png'
 'https://cdn.sofifa.org/teams/2/light/245.png'
 'https://cdn.sofifa.org/teams/2/light/112378.png'
 'https://cdn.sofifa.org/teams/2/light/7.png'
 'https://cdn.sofifa.org/teams/2/light/19.png'
 'https://cdn.sofifa.org/teams/2/light/31.png'
 'https://cdn.sofifa.org/teams/2/light/10029.png'
 'https://cdn.sofifa.org/teams/2/light/112540.png'
 'https://cdn.sofifa.org/teams/2/light/72.png'
 'https://cdn.sofifa.org/teams/2/light/112139.png'
 'https://cdn.sofifa.org/teams/2/light/110.png'
 'https://cdn.sofifa.org/teams/2/light/23.png'
 'https://cdn.sofifa.org/teams/2/light/166.png'
 'https://cdn.sofifa.org/teams/2/light/38.png'
 'https://cdn.sofifa.org/teams/2/light/568.png'
 'https://cdn.sofifa.org/teams/2/light/448.png'
 'https://cdn.sofifa.org/teams/2/light/54.png'
 'https://cdn.sofifa.org/teams/2/light/101014.png'
 'https://cdn.sofifa.org/teams/2/light/111768.png'
 'https://cdn.sofifa.org/teams/2/light/1799.png'
 'https://cdn.sofifa.org/teams/2/light/315.png'
 'https://cdn.sofifa.org/teams/2/light/175.png'
 'https://cdn.sofifa.org/teams/2/light/101059.png'
 'https://cdn.sofifa.org/teams/2/light/111651.png'
 'https://cdn.sofifa.org/teams/2/light/100765.png'
 'https://cdn.sofifa.org/teams/2/light/111974.png'
 'https://cdn.sofifa.org/teams/2/light/112828.png'
 'https://cdn.sofifa.org/teams/2/light/567.png'
 'https://cdn.sofifa.org/teams/2/light/247.png'
 'https://cdn.sofifa.org/teams/2/light/1853.png'
 'https://cdn.sofifa.org/teams/2/light/144.png'
 'https://cdn.sofifa.org/teams/2/light/1795.png'
 'https://cdn.sofifa.org/teams/2/light/112885.png'
 'https://cdn.sofifa.org/teams/2/light/70.png'
 'https://cdn.sofifa.org/teams/2/light/325.png'
 'https://cdn.sofifa.org/teams/2/light/326.png'
 'https://cdn.sofifa.org/teams/2/light/467.png'
 'https://cdn.sofifa.org/teams/2/light/112996.png'
 'https://cdn.sofifa.org/teams/2/light/1837.png'
 'https://cdn.sofifa.org/teams/2/light/605.png'
 'https://cdn.sofifa.org/teams/2/light/36.png'
 'https://cdn.sofifa.org/teams/2/light/1896.png'
 'https://cdn.sofifa.org/teams/2/light/1876.png'
 'https://cdn.sofifa.org/teams/2/light/463.png'
 'https://cdn.sofifa.org/flags/52.png'
 'https://cdn.sofifa.org/teams/2/light/1824.png'
 'https://cdn.sofifa.org/teams/2/light/110062.png'
 'https://cdn.sofifa.org/teams/2/light/112429.png'
 'https://cdn.sofifa.org/teams/2/light/1796.png'
 'https://cdn.sofifa.org/teams/2/light/1806.png'
 'https://cdn.sofifa.org/teams/2/light/17.png'
 'https://cdn.sofifa.org/teams/2/light/112983.png'
 'https://cdn.sofifa.org/teams/2/light/1860.png'
 'https://cdn.sofifa.org/teams/2/light/112537.png'
 'https://cdn.sofifa.org/teams/2/light/111139.png'
 'https://cdn.sofifa.org/teams/2/light/192.png'
 'https://cdn.sofifa.org/teams/2/light/110556.png'
 'https://cdn.sofifa.org/teams/2/light/111140.png'
 'https://cdn.sofifa.org/flags/46.png'
 'https://cdn.sofifa.org/teams/2/light/1970.png'
 'https://cdn.sofifa.org/teams/2/light/452.png'
 'https://cdn.sofifa.org/teams/2/light/112978.png'
 'https://cdn.sofifa.org/teams/2/light/1842.png'
 'https://cdn.sofifa.org/teams/2/light/693.png'
 'https://cdn.sofifa.org/teams/2/light/688.png'
 'https://cdn.sofifa.org/teams/2/light/113160.png'
 'https://cdn.sofifa.org/teams/2/light/101047.png'
 'https://cdn.sofifa.org/teams/2/light/1053.png'
 'https://cdn.sofifa.org/teams/2/light/1048.png'
 'https://cdn.sofifa.org/teams/2/light/112001.png'
 'https://cdn.sofifa.org/flags/40.png'
 'https://cdn.sofifa.org/teams/2/light/110093.png'
 'https://cdn.sofifa.org/teams/2/light/1877.png'
 'https://cdn.sofifa.org/teams/2/light/1878.png'
 'https://cdn.sofifa.org/teams/2/light/169.png'
 'https://cdn.sofifa.org/teams/2/light/1943.png'
 'https://cdn.sofifa.org/teams/2/light/100767.png'
 'https://cdn.sofifa.org/teams/2/light/101085.png'
 'https://cdn.sofifa.org/teams/2/light/100409.png'
 'https://cdn.sofifa.org/teams/2/light/110374.png'
 'https://cdn.sofifa.org/teams/2/light/71.png'
 'https://cdn.sofifa.org/teams/2/light/246.png'
 'https://cdn.sofifa.org/teams/2/light/231.png'
 'https://cdn.sofifa.org/teams/2/light/1808.png'
 'https://cdn.sofifa.org/teams/2/light/112387.png'
 'https://cdn.sofifa.org/teams/2/light/112162.png'
 'https://cdn.sofifa.org/teams/2/light/25.png'
 'https://cdn.sofifa.org/teams/2/light/393.png'
 'https://cdn.sofifa.org/teams/2/light/74.png'
 'https://cdn.sofifa.org/teams/2/light/436.png'
 'https://cdn.sofifa.org/teams/2/light/112791.png'
 'https://cdn.sofifa.org/teams/2/light/10031.png'
 'https://cdn.sofifa.org/teams/2/light/280.png'
 'https://cdn.sofifa.org/teams/2/light/111711.png'
 'https://cdn.sofifa.org/teams/2/light/111339.png'
 'https://cdn.sofifa.org/teams/2/light/13.png'
 'https://cdn.sofifa.org/teams/2/light/111657.png'
 'https://cdn.sofifa.org/teams/2/light/110150.png'
 'https://cdn.sofifa.org/teams/2/light/673.png'
 'https://cdn.sofifa.org/teams/2/light/485.png'
 'https://cdn.sofifa.org/teams/2/light/210.png'
 'https://cdn.sofifa.org/teams/2/light/111706.png'
 'https://cdn.sofifa.org/teams/2/light/1809.png'
 'https://cdn.sofifa.org/teams/2/light/229.png'
 'https://cdn.sofifa.org/teams/2/light/1939.png'
 'https://cdn.sofifa.org/teams/2/light/112516.png'
 'https://cdn.sofifa.org/teams/2/light/111144.png'
 'https://cdn.sofifa.org/teams/2/light/28.png'
 'https://cdn.sofifa.org/teams/2/light/191.png'
 'https://cdn.sofifa.org/teams/2/light/744.png'
 'https://cdn.sofifa.org/teams/2/light/59.png'
 'https://cdn.sofifa.org/teams/2/light/111397.png'
 'https://cdn.sofifa.org/teams/2/light/50.png'
 'https://cdn.sofifa.org/teams/2/light/896.png'
 'https://cdn.sofifa.org/teams/2/light/112408.png'
 'https://cdn.sofifa.org/teams/2/light/900.png'
 'https://cdn.sofifa.org/teams/2/light/674.png'
 'https://cdn.sofifa.org/teams/2/light/607.png'
 'https://cdn.sofifa.org/teams/2/light/232.png'
 'https://cdn.sofifa.org/teams/2/light/110955.png'
 'https://cdn.sofifa.org/teams/2/light/110980.png'
 'https://cdn.sofifa.org/flags/38.png'
 'https://cdn.sofifa.org/teams/2/light/101101.png'
 'https://cdn.sofifa.org/teams/2/light/109.png'
 'https://cdn.sofifa.org/teams/2/light/76.png'
 'https://cdn.sofifa.org/teams/2/light/101026.png'
 'https://cdn.sofifa.org/teams/2/light/101102.png'
 'https://cdn.sofifa.org/teams/2/light/1882.png'
 'https://cdn.sofifa.org/teams/2/light/189.png'
 'https://cdn.sofifa.org/flags/108.png'
 'https://cdn.sofifa.org/teams/2/light/112092.png'
 'https://cdn.sofifa.org/teams/2/light/1816.png'
 'https://cdn.sofifa.org/teams/2/light/111769.png'
 'https://cdn.sofifa.org/teams/2/light/110395.png'
 'https://cdn.sofifa.org/teams/2/light/517.png'
 'https://cdn.sofifa.org/teams/2/light/1879.png'
 'https://cdn.sofifa.org/teams/2/light/55.png'
 'https://cdn.sofifa.org/teams/2/light/462.png'
 'https://cdn.sofifa.org/teams/2/light/100888.png'
 'https://cdn.sofifa.org/teams/2/light/110404.png'
 'https://cdn.sofifa.org/teams/2/light/78.png'
 'https://cdn.sofifa.org/teams/2/light/1887.png'
 'https://cdn.sofifa.org/flags/58.png'
 'https://cdn.sofifa.org/teams/2/light/819.png'
 'https://cdn.sofifa.org/teams/2/light/472.png'
 'https://cdn.sofifa.org/teams/2/light/242.png'
 'https://cdn.sofifa.org/teams/2/light/110975.png'
 'https://cdn.sofifa.org/teams/2/light/1013.png'
 'https://cdn.sofifa.org/teams/2/light/480.png'
 'https://cdn.sofifa.org/teams/2/light/1032.png'
 'https://cdn.sofifa.org/teams/2/light/687.png'
 'https://cdn.sofifa.org/teams/2/light/101007.png'
 'https://cdn.sofifa.org/teams/2/light/112977.png'
 'https://cdn.sofifa.org/teams/2/light/1960.png'
 'https://cdn.sofifa.org/teams/2/light/111774.png'
 'https://cdn.sofifa.org/teams/2/light/112165.png'
 'https://cdn.sofifa.org/teams/2/light/278.png'
 'https://cdn.sofifa.org/teams/2/light/112393.png'
 'https://cdn.sofifa.org/teams/2/light/112224.png'
 'https://cdn.sofifa.org/teams/2/light/62.png'
 'https://cdn.sofifa.org/teams/2/light/111340.png'
 'https://cdn.sofifa.org/teams/2/light/110911.png'
 'https://cdn.sofifa.org/teams/2/light/65.png'
 'https://cdn.sofifa.org/teams/2/light/171.png'
 'https://cdn.sofifa.org/teams/2/light/1893.png'
 'https://cdn.sofifa.org/teams/2/light/459.png'
 'https://cdn.sofifa.org/teams/2/light/749.png'
 'https://cdn.sofifa.org/teams/2/light/111724.png'
 'https://cdn.sofifa.org/teams/2/light/110406.png'
 'https://cdn.sofifa.org/teams/2/light/1598.png'
 'https://cdn.sofifa.org/teams/2/light/101106.png'
 'https://cdn.sofifa.org/flags/23.png'
 'https://cdn.sofifa.org/teams/2/light/1915.png'
 'https://cdn.sofifa.org/teams/2/light/1530.png'
 'https://cdn.sofifa.org/teams/2/light/111048.png'
 'https://cdn.sofifa.org/teams/2/light/741.png'
 'https://cdn.sofifa.org/teams/2/light/111138.png'
 'https://cdn.sofifa.org/teams/2/light/110781.png'
 'https://cdn.sofifa.org/teams/2/light/1746.png'
 'https://cdn.sofifa.org/teams/2/light/100651.png'
 'https://cdn.sofifa.org/teams/2/light/8.png'
 'https://cdn.sofifa.org/teams/2/light/110468.png'
 'https://cdn.sofifa.org/teams/2/light/113142.png'
 'https://cdn.sofifa.org/teams/2/light/1039.png'
 'https://cdn.sofifa.org/teams/2/light/91.png'
 'https://cdn.sofifa.org/teams/2/light/111730.png'
 'https://cdn.sofifa.org/teams/2/light/1961.png'
 'https://cdn.sofifa.org/teams/2/light/2.png'
 'https://cdn.sofifa.org/teams/2/light/1880.png'
 'https://cdn.sofifa.org/teams/2/light/110569.png'
 'https://cdn.sofifa.org/teams/2/light/110144.png'
 'https://cdn.sofifa.org/teams/2/light/573.png'
 'https://cdn.sofifa.org/teams/2/light/1719.png'
 'https://cdn.sofifa.org/teams/2/light/101037.png'
 'https://cdn.sofifa.org/teams/2/light/1881.png'
 'https://cdn.sofifa.org/teams/2/light/14.png'
 'https://cdn.sofifa.org/teams/2/light/230.png'
 'https://cdn.sofifa.org/teams/2/light/111678.png'
 'https://cdn.sofifa.org/teams/2/light/111057.png'
 'https://cdn.sofifa.org/teams/2/light/111065.png'
 'https://cdn.sofifa.org/teams/2/light/1906.png'
 'https://cdn.sofifa.org/teams/2/light/266.png'
 'https://cdn.sofifa.org/teams/2/light/1907.png'
 'https://cdn.sofifa.org/teams/2/light/12.png'
 'https://cdn.sofifa.org/teams/2/light/211.png'
 'https://cdn.sofifa.org/teams/2/light/101114.png'
 'https://cdn.sofifa.org/teams/2/light/110832.png'
 'https://cdn.sofifa.org/teams/2/light/111400.png'
 'https://cdn.sofifa.org/teams/2/light/696.png'
 'https://cdn.sofifa.org/teams/2/light/15005.png'
 'https://cdn.sofifa.org/teams/2/light/112134.png'
 'https://cdn.sofifa.org/teams/2/light/110827.png'
 'https://cdn.sofifa.org/teams/2/light/110147.png'
 'https://cdn.sofifa.org/teams/2/light/1898.png'
 'https://cdn.sofifa.org/teams/2/light/101033.png'
 'https://cdn.sofifa.org/teams/2/light/110929.png'
 'https://cdn.sofifa.org/teams/2/light/518.png'
 'https://cdn.sofifa.org/teams/2/light/1843.png'
 'https://cdn.sofifa.org/teams/2/light/101100.png'
 'https://cdn.sofifa.org/teams/2/light/110152.png'
 'https://cdn.sofifa.org/teams/2/light/111399.png'
 'https://cdn.sofifa.org/teams/2/light/1884.png'
 'https://cdn.sofifa.org/teams/2/light/110770.png'
 'https://cdn.sofifa.org/teams/2/light/665.png'
 'https://cdn.sofifa.org/teams/2/light/689.png'
 'https://cdn.sofifa.org/teams/2/light/111674.png'
 'https://cdn.sofifa.org/teams/2/light/1028.png'
 'https://cdn.sofifa.org/teams/2/light/1854.png'
 'https://cdn.sofifa.org/teams/2/light/86.png'
 'https://cdn.sofifa.org/teams/2/light/267.png'
 'https://cdn.sofifa.org/teams/2/light/1871.png'
 'https://cdn.sofifa.org/teams/2/light/111575.png'
 'https://cdn.sofifa.org/teams/2/light/110580.png'
 'https://cdn.sofifa.org/teams/2/light/379.png'
 'https://cdn.sofifa.org/flags/140.png'
 'https://cdn.sofifa.org/teams/2/light/650.png'
 'https://cdn.sofifa.org/teams/2/light/112476.png'
 'https://cdn.sofifa.org/teams/2/light/1516.png'
 'https://cdn.sofifa.org/teams/2/light/111928.png'
 'https://cdn.sofifa.org/teams/2/light/111022.png'
 'https://cdn.sofifa.org/teams/2/light/190.png'
 'https://cdn.sofifa.org/flags/59.png'
 'https://cdn.sofifa.org/teams/2/light/101147.png'
 'https://cdn.sofifa.org/flags/44.png'
 'https://cdn.sofifa.org/teams/2/light/112584.png'
 'https://cdn.sofifa.org/teams/2/light/110636.png'
 'https://cdn.sofifa.org/teams/2/light/110839.png'
 'https://cdn.sofifa.org/teams/2/light/1801.png'
 'https://cdn.sofifa.org/teams/2/light/112670.png'
 'https://cdn.sofifa.org/teams/2/light/112026.png'
 'https://cdn.sofifa.org/teams/2/light/1909.png'
 'https://cdn.sofifa.org/teams/2/light/101084.png'
 'https://cdn.sofifa.org/teams/2/light/698.png'
 'https://cdn.sofifa.org/teams/2/light/101121.png'
 'https://cdn.sofifa.org/teams/2/light/1792.png'
 'https://cdn.sofifa.org/teams/2/light/576.png'
 'https://cdn.sofifa.org/teams/2/light/112096.png'
 'https://cdn.sofifa.org/teams/2/light/101020.png'
 'https://cdn.sofifa.org/teams/2/light/111235.png'
 'https://cdn.sofifa.org/teams/2/light/1925.png'
 'https://cdn.sofifa.org/teams/2/light/113259.png'
 'https://cdn.sofifa.org/teams/2/light/111035.png'
 'https://cdn.sofifa.org/teams/2/light/742.png'
 'https://cdn.sofifa.org/teams/2/light/111059.png'
 'https://cdn.sofifa.org/teams/2/light/1794.png'
 'https://cdn.sofifa.org/teams/2/light/111239.png'
 'https://cdn.sofifa.org/teams/2/light/101083.png'
 'https://cdn.sofifa.org/teams/2/light/433.png'
 'https://cdn.sofifa.org/teams/2/light/15.png'
 'https://cdn.sofifa.org/teams/2/light/983.png'
 'https://cdn.sofifa.org/teams/2/light/80.png'
 'https://cdn.sofifa.org/teams/2/light/1793.png'
 'https://cdn.sofifa.org/teams/2/light/695.png'
 'https://cdn.sofifa.org/teams/2/light/100634.png'
 'https://cdn.sofifa.org/teams/2/light/205.png'
 'https://cdn.sofifa.org/teams/2/light/110831.png'
 'https://cdn.sofifa.org/teams/2/light/111779.png'
 'https://cdn.sofifa.org/teams/2/light/112606.png'
 'https://cdn.sofifa.org/teams/2/light/479.png'
 'https://cdn.sofifa.org/teams/2/light/1904.png'
 'https://cdn.sofifa.org/teams/2/light/1844.png'
 'https://cdn.sofifa.org/flags/111.png'
 'https://cdn.sofifa.org/teams/2/light/15029.png'
 'https://cdn.sofifa.org/teams/2/light/269.png'
 'https://cdn.sofifa.org/teams/2/light/77.png'
 'https://cdn.sofifa.org/teams/2/light/111710.png'
 'https://cdn.sofifa.org/teams/2/light/111708.png'
 'https://cdn.sofifa.org/teams/2/light/3.png'
 'https://cdn.sofifa.org/teams/2/light/110502.png'
 'https://cdn.sofifa.org/teams/2/light/1900.png'
 'https://cdn.sofifa.org/teams/2/light/113157.png'
 'https://cdn.sofifa.org/teams/2/light/477.png'
 'https://cdn.sofifa.org/teams/2/light/682.png'
 'https://cdn.sofifa.org/flags/39.png'
 'https://cdn.sofifa.org/teams/2/light/1903.png'
 'https://cdn.sofifa.org/teams/2/light/101112.png'
 'https://cdn.sofifa.org/teams/2/light/272.png'
 'https://cdn.sofifa.org/teams/2/light/1913.png'
 'https://cdn.sofifa.org/teams/2/light/64.png'
 'https://cdn.sofifa.org/teams/2/light/101104.png'
 'https://cdn.sofifa.org/teams/2/light/670.png'
 'https://cdn.sofifa.org/teams/2/light/101105.png'
 'https://cdn.sofifa.org/teams/2/light/1807.png'
 'https://cdn.sofifa.org/teams/2/light/199.png'
 'https://cdn.sofifa.org/teams/2/light/2056.png'
 'https://cdn.sofifa.org/teams/2/light/101088.png'
 'https://cdn.sofifa.org/teams/2/light/322.png'
 'https://cdn.sofifa.org/teams/2/light/101041.png'
 'https://cdn.sofifa.org/teams/2/light/224.png'
 'https://cdn.sofifa.org/teams/2/light/298.png'
 'https://cdn.sofifa.org/teams/2/light/209.png'
 'https://cdn.sofifa.org/teams/2/light/68.png'
 'https://cdn.sofifa.org/teams/2/light/112534.png'
 'https://cdn.sofifa.org/teams/2/light/206.png'
 'https://cdn.sofifa.org/teams/2/light/111395.png'
 'https://cdn.sofifa.org/teams/2/light/10019.png'
 'https://cdn.sofifa.org/teams/2/light/1952.png'
 'https://cdn.sofifa.org/teams/2/light/110913.png'
 'https://cdn.sofifa.org/teams/2/light/435.png'
 'https://cdn.sofifa.org/teams/2/light/244.png'
 'https://cdn.sofifa.org/teams/2/light/666.png'
 'https://cdn.sofifa.org/teams/2/light/97.png'
 'https://cdn.sofifa.org/teams/2/light/111716.png'
 'https://cdn.sofifa.org/teams/2/light/2013.png'
 'https://cdn.sofifa.org/teams/2/light/1968.png'
 'https://cdn.sofifa.org/teams/2/light/101150.png'
 'https://cdn.sofifa.org/teams/2/light/260.png'
 'https://cdn.sofifa.org/teams/2/light/1831.png'
 'https://cdn.sofifa.org/teams/2/light/113057.png'
 'https://cdn.sofifa.org/teams/2/light/57.png'
 'https://cdn.sofifa.org/teams/2/light/112527.png'
 'https://cdn.sofifa.org/teams/2/light/417.png'
 'https://cdn.sofifa.org/teams/2/light/1919.png'
 'https://cdn.sofifa.org/teams/2/light/1891.png'
 'https://cdn.sofifa.org/teams/2/light/2007.png'
 'https://cdn.sofifa.org/teams/2/light/110329.png'
 'https://cdn.sofifa.org/teams/2/light/112531.png'
 'https://cdn.sofifa.org/teams/2/light/112391.png'
 'https://cdn.sofifa.org/teams/2/light/112992.png'
 'https://cdn.sofifa.org/teams/2/light/111715.png'
 'https://cdn.sofifa.org/teams/2/light/256.png'
 'https://cdn.sofifa.org/teams/2/light/110581.png'
 'https://cdn.sofifa.org/teams/2/light/320.png'
 'https://cdn.sofifa.org/flags/57.png'
 'https://cdn.sofifa.org/teams/2/light/101145.png'
 'https://cdn.sofifa.org/flags/37.png'
 'https://cdn.sofifa.org/teams/2/light/111434.png'
 'https://cdn.sofifa.org/teams/2/light/160.png'
 'https://cdn.sofifa.org/flags/53.png'
 'https://cdn.sofifa.org/teams/2/light/254.png'
 'https://cdn.sofifa.org/teams/2/light/1750.png'
 'https://cdn.sofifa.org/teams/2/light/112578.png'
 'https://cdn.sofifa.org/flags/70.png'
 'https://cdn.sofifa.org/teams/2/light/15019.png'
 'https://cdn.sofifa.org/teams/2/light/347.png'
 'https://cdn.sofifa.org/teams/2/light/1438.png'
 'https://cdn.sofifa.org/teams/2/light/711.png'
 'https://cdn.sofifa.org/teams/2/light/691.png'
 'https://cdn.sofifa.org/teams/2/light/110930.png'
 'https://cdn.sofifa.org/teams/2/light/112528.png'
 'https://cdn.sofifa.org/teams/2/light/112427.png'
 'https://cdn.sofifa.org/teams/2/light/1439.png'
 'https://cdn.sofifa.org/flags/103.png'
 'https://cdn.sofifa.org/flags/24.png'
 'https://cdn.sofifa.org/teams/2/light/101103.png'
 'https://cdn.sofifa.org/teams/2/light/634.png'
 'https://cdn.sofifa.org/teams/2/light/873.png'
 'https://cdn.sofifa.org/teams/2/light/710.png'
 'https://cdn.sofifa.org/teams/2/light/110854.png'

## value

In [20]:
df.rename(columns={"Value": "value"} , inplace=True)
print('Unique values:', df.value.unique())
print('Number of unique values:', len(df.value.unique()))
print('Missing values:', df.value.isna().sum())
print("\n")
print('Description:')
print(df['value'].describe())
print("\n")
print('Frequency:')
print(df['value'].value_counts())

Unique values: ['€110.5M' '€77M' '€118.5M' '€72M' '€102M' '€93M' '€67M' '€80M' '€51M'
 '€68M' '€76.5M' '€44M' '€60M' '€63M' '€89M' '€83.5M' '€78M' '€58M'
 '€53.5M' '€51.5M' '€38M' '€64.5M' '€27M' '€81M' '€69.5M' '€59.5M' '€62M'
 '€73.5M' '€59M' '€46M' '€43M' '€36M' '€57M' '€24M' '€30M' '€4M' '€64M'
 '€30.5M' '€62.5M' '€52M' '€45M' '€34M' '€46.5M' '€61M' '€41.5M' '€44.5M'
 '€56.5M' '€53M' '€50M' '€55M' '€36.5M' '€45.5M' '€43.5M' '€35M' '€39M'
 '€18M' '€21.5M' '€50.5M' '€54M' '€40.5M' '€37.5M' '€28.5M' '€37M' '€32M'
 '€26M' '€33M' '€38.5M' '€35.5M' '€9M' '€15.5M' '€22M' '€14M' '€42.5M'
 '€31.5M' '€42M' '€25M' '€29.5M' '€31M' '€24.5M' '€27.5M' '€29M' '€16.5M'
 '€23M' '€19M' '€4.2M' '€40M' '€41M' '€28M' '€22.5M' '€34.5M' '€32.5M'
 '€20M' '€26.5M' '€25.5M' '€21M' '€13M' '€17.5M' '€11.5M' '€8M' '€6M'
 '€19.5M' '€6.5M' '€20.5M' '€23.5M' '€18.5M' '€17M' '€12.5M' '€15M'
 '€13.5M' '€4.8M' '€3M' '€1.5M' '€16M' '€10M' '€11M' '€7M' '€14.5M'
 '€5.5M' '€10.5M' '€4.5M' '€12M' '€0' '€9.5M' '€8.5M' '€2M' '€1.7M' '€1M'
 '€3.6M' '€7.5M' '€3.8M' '€5M' '€2.4M' '€2.9M' '€4.7M' '€4.1M' '€2.1M'
 '€600K' '€2.7M' '€3.4M' '€2.5M' '€3.2M' '€3.1M' '€4.9M' '€4.3M' '€2.3M'
 '€525K' '€3.9M' '€1.8M' '€2.2M' '€4.4M' '€1.6M' '€900K' '€3.7M' '€3.5M'
 '€1.9M' '€450K' '€775K' '€650K' '€750K' '€2.8M' '€1.3M' '€4.6M' '€2.6M'
 '€1.2M' '€375K' '€3.3M' '€270K' '€950K' '€550K' '€1.1M' '€975K' '€1.4M'
 '€725K' '€425K' '€210K' '€875K' '€675K' '€325K' '€800K' '€850K' '€160K'
 '€120K' '€825K' '€925K' '€625K' '€240K' '€500K' '€575K' '€200K' '€250K'
 '€700K' '€350K' '€475K' '€300K' '€70K' '€140K' '€230K' '€400K' '€280K'
 '€100K' '€60K' '€260K' '€180K' '€220K' '€50K' '€290K' '€90K' '€150K'
 '€40K' '€130K' '€190K' '€170K' '€110K' '€30K' '€80K' '€20K' '€10K']
Number of unique values: 217
Missing values: 0


Description:
count     18207
unique      217
top       €1.1M
freq        431
Name: value, dtype: object


Frequency:
€1.1M      431
€375K      372
€425K      354
€325K      351
€450K      343
€525K      338
€350K      325
€1.2M      324
€400K      323
€1M        318
€475K      296
€500K      294
€600K      293
€550K      285
€675K      270
€575K      261
€1.3M      260
€0         252
€725K      241
€300K      240
€625K      238
€650K      225
€1.4M      221
€750K      219
€160K      206
€700K      203
€180K      202
€130K      201
€140K      200
€825K      197
          ...
€46M         1
€55M         1
€67M         1
€41M         1
€63M         1
€56.5M       1
€83.5M       1
€28M         1
€68M         1
€64M         1
€80M         1
€78M         1
€43M         1
€53M         1
€76.5M       1
€54M         1
€59M         1
€93M         1
€72M         1
€61M         1
€42M         1
€102M        1
€62M         1
€36M         1
€62.5M       1
€44.5M       1
€58M         1
€45.5M       1
€38.5M       1
€110.5M      1
Name: value, Length: 217, dtype: int64

In [21]:
count_M= 0
count_K = 0
count_0= 0

for x in df['value']:
    if x.find("M")!= -1:
        count_M += 1
    elif x.find("K")!= -1:
            count_K += 1
    else:
        if x.find("€0")!= -1:
            count_0 += 1
            
print('Ends in M:', count_M)
print('Zeros:', count_0)
print('Ends in K:', count_K)
print('Total:', count_M + count_K+ count_0)

Ends in M: 6847
Zeros: 252
Ends in K: 11108
Total: 18207

Changing Value from string to numeric

In [22]:
def value_conv(x):
    new = []
    for i in x:
        list(i)
        ending = i[-1]
        if ending is 'M':
            i = i[1:-1]
            i = float(''.join(i))
            i *= 1000000
        elif ending is 'K':
            i = i[1:-1]
            i = float(''.join(i))
            i *= 1000
        else:
            i = 0
        new.append(i)
    return new

df['value'] = value_conv(list(df['value']))

df['value']= df['value'].apply(lambda x: int(x))

In [23]:
print('Unique values:', df.value.unique())
print('Number of unique values:', len(df.value.unique()))
print('Missing values:', df.value.isna().sum())
print("\n")
print('Description:')
print(df['value'].describe())
print("\n")
print('Frequency:')
print(df['value'].value_counts())

Unique values: [110500000  77000000 118500000  72000000 102000000  93000000  67000000
  80000000  51000000  68000000  76500000  44000000  60000000  63000000
  89000000  83500000  78000000  58000000  53500000  51500000  38000000
  64500000  27000000  81000000  69500000  59500000  62000000  73500000
  59000000  46000000  43000000  36000000  57000000  24000000  30000000
   4000000  64000000  30500000  62500000  52000000  45000000  34000000
  46500000  61000000  41500000  44500000  56500000  53000000  50000000
  55000000  36500000  45500000  43500000  35000000  39000000  18000000
  21500000  50500000  54000000  40500000  37500000  28500000  37000000
  32000000  26000000  33000000  38500000  35500000   9000000  15500000
  22000000  14000000  42500000  31500000  42000000  25000000  29500000
  31000000  24500000  27500000  29000000  16500000  23000000  19000000
   4200000  40000000  41000000  28000000  22500000  34500000  32500000
  20000000  26500000  25500000  21000000  13000000  17500000  11500000
   8000000   6000000  19500000   6500000  20500000  23500000  18500000
  17000000  12500000  15000000  13500000   4800000   3000000   1500000
  16000000  10000000  11000000   7000000  14500000   5500000  10500000
   4500000  12000000         0   9500000   8500000   2000000   1700000
   1000000   3600000   7500000   3800000   5000000   2400000   2900000
   4700000   4099999   2100000    600000   2700000   3400000   2500000
   3200000   3100000   4900000   4300000   2300000    525000   3900000
   1800000   2200000   4400000   1600000    900000   3700000   3500000
   1900000    450000    775000    650000    750000   2800000   1300000
   4600000   2600000   1200000    375000   3300000    270000    950000
    550000   1100000    975000   1400000    725000    425000    210000
    875000    675000    325000    800000    850000    160000    120000
    825000    925000    625000    240000    500000    575000    200000
    250000    700000    350000    475000    300000     70000    140000
    230000    400000    280000    100000     60000    260000    180000
    220000     50000    290000     90000    150000     40000    130000
    190000    170000    110000     30000     80000     20000     10000]
Number of unique values: 217
Missing values: 0


Description:
count    1.820700e+04
mean     2.410696e+06
std      5.594933e+06
min      0.000000e+00
25%      3.000000e+05
50%      6.750000e+05
75%      2.000000e+06
max      1.185000e+08
Name: value, dtype: float64


Frequency:
1100000      431
375000       372
425000       354
325000       351
450000       343
525000       338
350000       325
1200000      324
400000       323
1000000      318
475000       296
500000       294
600000       293
550000       285
675000       270
575000       261
1300000      260
0            252
725000       241
300000       240
625000       238
650000       225
1400000      221
750000       219
160000       206
700000       203
180000       202
130000       201
140000       200
825000       197
            ...
54000000       1
89000000       1
42000000       1
40000000       1
53500000       1
67000000       1
62000000       1
51500000       1
83500000       1
63000000       1
80000000       1
56500000       1
43000000       1
68000000       1
110500000      1
72000000       1
118500000      1
62500000       1
78000000       1
53000000       1
41000000       1
55000000       1
41500000       1
28000000       1
59000000       1
93000000       1
45500000       1
64000000       1
61000000       1
76500000       1
Name: value, Length: 217, dtype: int64

## wage

In [24]:
df.rename(columns={"Wage": "wage"} , inplace=True)
print('Unique values:', df.wage.unique())
print('Number of unique values:', len(df.wage.unique()))
print('Missing values:', df.wage.isna().sum())
print("\n")
print('Description:')
print(df['wage'].describe())
print("\n")
print('Frequency:')
print(df['wage'].value_counts())

Unique values: ['€565K' '€405K' '€290K' '€260K' '€355K' '€340K' '€420K' '€455K' '€380K'
 '€94K' '€205K' '€125K' '€285K' '€225K' '€145K' '€240K' '€315K' '€200K'
 '€130K' '€300K' '€215K' '€100K' '€255K' '€165K' '€265K' '€160K' '€150K'
 '€245K' '€110K' '€77K' '€115K' '€210K' '€195K' '€230K' '€250K' '€135K'
 '€155K' '€180K' '€175K' '€190K' '€185K' '€21K' '€82K' '€73K' '€92K'
 '€88K' '€96K' '€170K' '€66K' '€235K' '€28K' '€105K' '€38K' '€81K' '€57K'
 '€15K' '€63K' '€22K' '€84K' '€120K' '€90K' '€72K' '€93K' '€45K' '€74K'
 '€51K' '€42K' '€31K' '€75K' '€25K' '€140K' '€41K' '€78K' '€53K' '€95K'
 '€80K' '€43K' '€60K' '€85K' '€64K' '€67K' '€18K' '€70K' '€91K' '€20K'
 '€49K' '€87K' '€86K' '€26K' '€29K' '€55K' '€35K' '€33K' '€56K' '€30K'
 '€11K' '€59K' '€23K' '€46K' '€39K' '€32K' '€36K' '€98K' '€54K' '€68K'
 '€58K' '€27K' '€40K' '€44K' '€19K' '€1K' '€61K' '€50K' '€99K' '€17K'
 '€52K' '€62K' '€12K' '€10K' '€71K' '€14K' '€76K' '€48K' '€65K' '€69K'
 '€24K' '€34K' '€16K' '€37K' '€47K' '€89K' '€0' '€97K' '€79K' '€13K'
 '€83K' '€6K' '€3K' '€9K' '€8K' '€7K' '€4K' '€2K' '€5K']
Number of unique values: 144
Missing values: 0


Description:
count     18207
unique      144
top         €1K
freq       4900
Name: wage, dtype: object


Frequency:
€1K      4900
€2K      2827
€3K      1857
€4K      1255
€5K       869
€6K       682
€7K       488
€8K       423
€9K       328
€10K      319
€11K      292
€12K      256
€0        241
€13K      227
€15K      200
€14K      188
€17K      161
€18K      152
€16K      136
€20K      134
€19K      130
€22K      128
€21K      111
€24K      102
€26K       95
€25K       92
€23K       90
€27K       62
€29K       61
€31K       60
         ...
€87K        3
€90K        3
€145K       3
€170K       3
€285K       3
€100K       3
€89K        3
€210K       2
€340K       2
€185K       2
€83K        2
€260K       2
€97K        2
€565K       1
€250K       1
€455K       1
€245K       1
€380K       1
€255K       1
€230K       1
€290K       1
€200K       1
€420K       1
€405K       1
€300K       1
€93K        1
€225K       1
€235K       1
€190K       1
€265K       1
Name: wage, Length: 144, dtype: int64

In [25]:
count_K = 0
count_0= 0

for x in df['wage']:
    if x.find("K")!= -1:
            count_K += 1
    else:
        if x.find("€0")!= -1:
            count_0 += 1
            
print('Zeros:', count_0)
print('Ends in K:', count_K)
print('Total:', count_K+ count_0)

Zeros: 241
Ends in K: 17966
Total: 18207

Changing wage from string to numeric

In [26]:
def value_conv(x):
    new = []
    for i in x:
        list(i)
        ending = i[-1]
        if ending is 'K':
            i = i[1:-1]
            i = float(''.join(i))
            i *= 1000
        else:
            i = 0
        new.append(i)
    return new

df['wage'] = value_conv(list(df['wage']))

df['wage']= df['wage'].apply(lambda x: int(x))

In [27]:
print('Unique values:', df.wage.unique())
print('Number of unique values:', len(df.wage.unique()))
print('Missing values:', df.wage.isna().sum())
print("\n")
print('Description:')
print(df['wage'].describe())
print("\n")
print('Frequency:')
print(df['wage'].value_counts())

Unique values: [565000 405000 290000 260000 355000 340000 420000 455000 380000  94000
 205000 125000 285000 225000 145000 240000 315000 200000 130000 300000
 215000 100000 255000 165000 265000 160000 150000 245000 110000  77000
 115000 210000 195000 230000 250000 135000 155000 180000 175000 190000
 185000  21000  82000  73000  92000  88000  96000 170000  66000 235000
  28000 105000  38000  81000  57000  15000  63000  22000  84000 120000
  90000  72000  93000  45000  74000  51000  42000  31000  75000  25000
 140000  41000  78000  53000  95000  80000  43000  60000  85000  64000
  67000  18000  70000  91000  20000  49000  87000  86000  26000  29000
  55000  35000  33000  56000  30000  11000  59000  23000  46000  39000
  32000  36000  98000  54000  68000  58000  27000  40000  44000  19000
   1000  61000  50000  99000  17000  52000  62000  12000  10000  71000
  14000  76000  48000  65000  69000  24000  34000  16000  37000  47000
  89000      0  97000  79000  13000  83000   6000   3000   9000   8000
   7000   4000   2000   5000]
Number of unique values: 144
Missing values: 0


Description:
count     18207.000000
mean       9731.312133
std       21999.290406
min           0.000000
25%        1000.000000
50%        3000.000000
75%        9000.000000
max      565000.000000
Name: wage, dtype: float64


Frequency:
1000      4900
2000      2827
3000      1857
4000      1255
5000       869
6000       682
7000       488
8000       423
9000       328
10000      319
11000      292
12000      256
0          241
13000      227
15000      200
14000      188
17000      161
18000      152
16000      136
20000      134
19000      130
22000      128
21000      111
24000      102
26000       95
25000       92
23000       90
27000       62
29000       61
31000       60
          ...
170000       3
285000       3
89000        3
155000       3
90000        3
355000       3
150000       3
340000       2
83000        2
185000       2
260000       2
210000       2
97000        2
230000       1
250000       1
245000       1
255000       1
455000       1
235000       1
200000       1
265000       1
300000       1
565000       1
405000       1
290000       1
225000       1
93000        1
420000       1
190000       1
380000       1
Name: wage, Length: 144, dtype: int64

## preferred_foot

In [28]:
df.rename(columns={"Preferred Foot": "preferred_foot"} , inplace=True)
print('Unique values:', df.preferred_foot.unique())
print('Number of unique values:', len(df.preferred_foot.unique()))
print('Missing values:', df.preferred_foot.isna().sum())
print("\n")
print('Description:')
print(df['preferred_foot'].describe())
print("\n")
print('Frequency:')
print(df['preferred_foot'].value_counts())

Unique values: ['Left' 'Right' nan]
Number of unique values: 3
Missing values: 48


Description:
count     18159
unique        2
top       Right
freq      13948
Name: preferred_foot, dtype: object


Frequency:
Right    13948
Left      4211
Name: preferred_foot, dtype: int64

Filling missing values with the "No provided" string:

In [29]:
df['preferred_foot'] = df['preferred_foot'].fillna('No provided')

In [30]:
print('Unique values:', df.preferred_foot.unique())
print('Number of unique values:', len(df.preferred_foot.unique()))
print('Missing values:', df.preferred_foot.isna().sum())
print("\n")
print('Description:')
print(df['preferred_foot'].describe())
print("\n")
print('Frequency:')
print(df['preferred_foot'].value_counts())

Unique values: ['Left' 'Right' 'No provided']
Number of unique values: 3
Missing values: 0


Description:
count     18207
unique        3
top       Right
freq      13948
Name: preferred_foot, dtype: object


Frequency:
Right          13948
Left            4211
No provided       48
Name: preferred_foot, dtype: int64

## international_reputation

In [31]:
df.rename(columns={"International Reputation": "international_reputation"} , inplace=True)
print('Unique values:', df.international_reputation.unique())
print('Number of unique values:', len(df.international_reputation.unique()))
print('Missing values:', df.international_reputation.isna().sum())
print("\n")
print('Description:')
print(df['international_reputation'].describe())
print("\n")
print('Frequency:')
print(df['international_reputation'].value_counts())

Unique values: [ 5.  4.  3.  2.  1. nan]
Number of unique values: 6
Missing values: 48


Description:
count    18159.000000
mean         1.113222
std          0.394031
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          5.000000
Name: international_reputation, dtype: float64


Frequency:
1.0    16532
2.0     1261
3.0      309
4.0       51
5.0        6
Name: international_reputation, dtype: int64

#### Filling missing values with the "No provided" string, and changing codes with their meaning:

In [32]:
df['international_reputation2']= df['international_reputation'].map({1: 'Normal', 2: 'Regional', 3: 'National',\
                                                                    4: 'Continental',5: 'World Class',  })
print(df.loc[:, ['international_reputation2', 'international_reputation']])
df.drop(['international_reputation'], axis=1, inplace=True)
df.rename(columns={"international_reputation2": "international_reputation"} , inplace=True)
df['international_reputation'] = df['international_reputation'].fillna('No provided')
print(df.loc[:, ['international_reputation', 'name']])

      international_reputation2  international_reputation
0                   World Class                       5.0
1                   World Class                       5.0
2                   World Class                       5.0
3                   Continental                       4.0
4                   Continental                       4.0
5                   Continental                       4.0
6                   Continental                       4.0
7                   World Class                       5.0
8                   Continental                       4.0
9                      National                       3.0
10                  Continental                       4.0
11                  Continental                       4.0
12                     National                       3.0
13                  Continental                       4.0
14                     National                       3.0
15                     National                       3.0
16                     National                       3.0
17                  Continental                       4.0
18                     National                       3.0
19                  Continental                       4.0
20                  Continental                       4.0
21                  Continental                       4.0
22                  World Class                       5.0
23                  Continental                       4.0
24                  Continental                       4.0
25                     National                       3.0
26                     National                       3.0
27                     National                       3.0
28                  Continental                       4.0
29                     National                       3.0
...                         ...                       ...
18177                    Normal                       1.0
18178                    Normal                       1.0
18179                    Normal                       1.0
18180                    Normal                       1.0
18181                    Normal                       1.0
18182                    Normal                       1.0
18183                    Normal                       1.0
18184                    Normal                       1.0
18185                    Normal                       1.0
18186                    Normal                       1.0
18187                    Normal                       1.0
18188                    Normal                       1.0
18189                    Normal                       1.0
18190                    Normal                       1.0
18191                    Normal                       1.0
18192                    Normal                       1.0
18193                    Normal                       1.0
18194                    Normal                       1.0
18195                    Normal                       1.0
18196                    Normal                       1.0
18197                    Normal                       1.0
18198                    Normal                       1.0
18199                    Normal                       1.0
18200                    Normal                       1.0
18201                    Normal                       1.0
18202                    Normal                       1.0
18203                    Normal                       1.0
18204                    Normal                       1.0
18205                    Normal                       1.0
18206                    Normal                       1.0

[18207 rows x 2 columns]
      international_reputation                  name
0                  World Class              L. Messi
1                  World Class     Cristiano Ronaldo
2                  World Class             Neymar Jr
3                  Continental                De Gea
4                  Continental          K. De Bruyne
5                  Continental             E. Hazard
6                  Continental             L. Modrić
7                  World Class             L. Suárez
8                  Continental          Sergio Ramos
9                     National              J. Oblak
10                 Continental        R. Lewandowski
11                 Continental              T. Kroos
12                    National              D. Godín
13                 Continental           David Silva
14                    National              N. Kanté
15                    National             P. Dybala
16                    National               H. Kane
17                 Continental          A. Griezmann
18                    National         M. ter Stegen
19                 Continental           T. Courtois
20                 Continental       Sergio Busquets
21                 Continental             E. Cavani
22                 World Class              M. Neuer
23                 Continental             S. Agüero
24                 Continental          G. Chiellini
25                    National             K. Mbappé
26                    National              M. Salah
27                    National              Casemiro
28                 Continental          J. Rodríguez
29                    National            L. Insigne
...                        ...                   ...
18177                   Normal             R. Roache
18178                   Normal          L. Wahlstedt
18179                   Normal           J. Williams
18180                   Normal              M. Hurst
18181                   Normal              C. Maher
18182                   Normal               Y. Góez
18183                   Normal         K. Pilkington
18184                   Normal             D. Horton
18185                   Normal              E. Tweed
18186                   Normal          Zhang Yufeng
18187                   Normal             C. Ehlich
18188                   Normal            L. Collins
18189                   Normal            A. Kaltner
18190                   Normal            L. Watkins
18191                   Normal  J. Norville-Williams
18192                   Normal             S. Squire
18193                   Normal            N. Fuentes
18194                   Normal              J. Milli
18195                   Normal            S. Griffin
18196                   Normal           K. Fujikawa
18197                   Normal            D. Holland
18198                   Normal            J. Livesey
18199                   Normal          M. Baldisimo
18200                   Normal              J. Young
18201                   Normal              D. Walsh
18202                   Normal          J. Lundstram
18203                   Normal    N. Christoffersson
18204                   Normal             B. Worman
18205                   Normal        D. Walker-Rice
18206                   Normal             G. Nugent

[18207 rows x 2 columns]

In [33]:
print('Unique values:', df.international_reputation.unique())
print('Number of unique values:', len(df.international_reputation.unique()))
print('Missing values:', df.international_reputation.isna().sum())
print("\n")
print('Description:')
print(df['international_reputation'].describe())
print("\n")
print('Frequency:')
print(df['international_reputation'].value_counts())

Unique values: ['World Class' 'Continental' 'National' 'Regional' 'Normal' 'No provided']
Number of unique values: 6
Missing values: 0


Description:
count      18207
unique         6
top       Normal
freq       16532
Name: international_reputation, dtype: object


Frequency:
Normal         16532
Regional        1261
National         309
Continental       51
No provided       48
World Class        6
Name: international_reputation, dtype: int64

### weak_foot_rating

In [34]:
df.rename(columns={"Weak Foot": "weak_foot_rating"} , inplace=True)
print('Unique values:', df.weak_foot_rating.unique())
print('Number of unique values:', len(df.weak_foot_rating.unique()))
print('Missing values:', df.weak_foot_rating.isna().sum())
print("\n")
print('Description:')
print(df['weak_foot_rating'].describe())
print("\n")
print('Frequency:')
print(df['weak_foot_rating'].value_counts())

Unique values: [ 4.  5.  3.  2.  1. nan]
Number of unique values: 6
Missing values: 48


Description:
count    18159.000000
mean         2.947299
std          0.660456
min          1.000000
25%          3.000000
50%          3.000000
75%          3.000000
max          5.000000
Name: weak_foot_rating, dtype: float64


Frequency:
3.0    11349
2.0     3761
4.0     2662
5.0      229
1.0      158
Name: weak_foot_rating, dtype: int64

Filling missing values with the ‘-99’ value:

In [35]:
df['weak_foot_rating'] = df['weak_foot_rating'].fillna(-99)
df['weak_foot_rating']= df['weak_foot_rating'].apply(lambda x: int(x))

In [36]:
print('Unique values:', df.weak_foot_rating.unique())
print('Number of unique values:', len(df.weak_foot_rating.unique()))
print('Missing values:', df.weak_foot_rating.isna().sum())
print("\n")
print('Description:')
print(df['weak_foot_rating'].describe())
print("\n")
print('Frequency:')
print(df['weak_foot_rating'].value_counts())

Unique values: [  4   5   3   2   1 -99]
Number of unique values: 6
Missing values: 0


Description:
count    18207.000000
mean         2.678530
std          5.269208
min        -99.000000
25%          3.000000
50%          3.000000
75%          3.000000
max          5.000000
Name: weak_foot_rating, dtype: float64


Frequency:
 3     11349
 2      3761
 4      2662
 5       229
 1       158
-99       48
Name: weak_foot_rating, dtype: int64

## skill_moves_rating

In [37]:
df.rename(columns={"Skill Moves": "skill_moves_rating"} , inplace=True)
print('Unique values:', df.skill_moves_rating.unique())
print('Number of unique values:', len(df.skill_moves_rating.unique()))
print('Missing values:', df.skill_moves_rating.isna().sum())
print("\n")
print('Description:')
print(df['skill_moves_rating'].describe())
print("\n")
print('Frequency:')
print(df['skill_moves_rating'].value_counts())

Unique values: [ 4.  5.  1.  3.  2. nan]
Number of unique values: 6
Missing values: 48


Description:
count    18159.000000
mean         2.361308
std          0.756164
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          5.000000
Name: skill_moves_rating, dtype: float64


Frequency:
2.0    8565
3.0    6600
1.0    2026
4.0     917
5.0      51
Name: skill_moves_rating, dtype: int64

Filling missing values with the ‘-99’ value:

In [38]:
df['skill_moves_rating'] = df['skill_moves_rating'].fillna(-99)
df['skill_moves_rating']= df['skill_moves_rating'].apply(lambda x: int(x))

In [39]:
print('Unique values:', df.skill_moves_rating.unique())
print('Number of unique values:', len(df.skill_moves_rating.unique()))
print('Missing values:', df.skill_moves_rating.isna().sum())
print("\n")
print('Description:')
print(df['skill_moves_rating'].describe())
print("\n")
print('Frequency:')
print(df['skill_moves_rating'].value_counts())

Unique values: [  4   5   1   3   2 -99]
Number of unique values: 6
Missing values: 0


Description:
count    18207.000000
mean         2.094085
std          5.252285
min        -99.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          5.000000
Name: skill_moves_rating, dtype: float64


Frequency:
 2     8565
 3     6600
 1     2026
 4      917
 5       51
-99      48
Name: skill_moves_rating, dtype: int64

## attacking_workrate and defense_workrate

In [40]:
new = df["Work Rate"].str.split("/ ", n = 1, expand = True)
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df['attacking_workrate']=df[0]
df['defense_workrate'] = df[1]
print(df.loc[0:5, ['Work Rate', 'attacking_workrate', 'defense_workrate']])
print("\n")
print(df.loc[13280:13285, ['Work Rate', 'attacking_workrate', 'defense_workrate']])

        Work Rate attacking_workrate defense_workrate
0  Medium/ Medium             Medium           Medium
1       High/ Low               High              Low
2    High/ Medium               High           Medium
3  Medium/ Medium             Medium           Medium
4      High/ High               High             High
5    High/ Medium               High           Medium


          Work Rate attacking_workrate defense_workrate
13280           NaN                NaN              NaN
13281           NaN                NaN              NaN
13282           NaN                NaN              NaN
13283           NaN                NaN              NaN
13284  Medium/ High             Medium             High
13285    High/ High               High             High

In [41]:
df.drop(['Work Rate', 0, 1], axis=1, inplace= True)

#### attacking_workrate

In [42]:
print('Unique values:', df.attacking_workrate.unique())
print('Number of unique values:', len(df.attacking_workrate.unique()))
print('Missing values:', df.attacking_workrate.isna().sum())
print("\n")
print('Description:')
print(df['attacking_workrate'].describe())
print("\n")
print('Frequency:')
print(df['attacking_workrate'].value_counts())

Unique values: ['Medium' 'High' 'Low' nan]
Number of unique values: 4
Missing values: 48


Description:
count      18159
unique         3
top       Medium
freq       12350
Name: attacking_workrate, dtype: object


Frequency:
Medium    12350
High       4887
Low         922
Name: attacking_workrate, dtype: int64

Filling missing values with the "No provided" string:

In [43]:
df['attacking_workrate'] = df['attacking_workrate'].fillna('No provided')

In [44]:
print('Unique values:', df.attacking_workrate.unique())
print('Number of unique values:', len(df.attacking_workrate.unique()))
print('Missing values:', df.attacking_workrate.isna().sum())
print("\n")
print('Description:')
print(df['attacking_workrate'].describe())
print("\n")
print('Frequency:')
print(df['attacking_workrate'].value_counts())

Unique values: ['Medium' 'High' 'Low' 'No provided']
Number of unique values: 4
Missing values: 0


Description:
count      18207
unique         4
top       Medium
freq       12350
Name: attacking_workrate, dtype: object


Frequency:
Medium         12350
High            4887
Low              922
No provided       48
Name: attacking_workrate, dtype: int64

#### defense_workrate

In [45]:
print('Unique values:', df.defense_workrate.unique())
print('Number of unique values:', len(df.defense_workrate.unique()))
print('Missing values:', df.defense_workrate.isna().sum())
print("\n")
print('Description:')
print(df['defense_workrate'].describe())
print("\n")
print('Frequency:')
print(df['defense_workrate'].value_counts())

Unique values: ['Medium' 'Low' 'High' nan]
Number of unique values: 4
Missing values: 48


Description:
count      18159
unique         3
top       Medium
freq       13432
Name: defense_workrate, dtype: object


Frequency:
Medium    13432
High       3144
Low        1583
Name: defense_workrate, dtype: int64

Filling missing values with the "No provided" string:

In [46]:
df['defense_workrate'] = df['defense_workrate'].fillna("No provided")

In [47]:
print('Unique values:', df.defense_workrate.unique())
print('Number of unique values:', len(df.defense_workrate.unique()))
print('Missing values:', df.defense_workrate.isna().sum())
print("\n")
print('Description:')
print(df['defense_workrate'].describe())
print("\n")
print('Frequency:')
print(df['defense_workrate'].value_counts())

Unique values: ['Medium' 'Low' 'High' 'No provided']
Number of unique values: 4
Missing values: 0


Description:
count      18207
unique         4
top       Medium
freq       13432
Name: defense_workrate, dtype: object


Frequency:
Medium         13432
High            3144
Low             1583
No provided       48
Name: defense_workrate, dtype: int64

## position

In [48]:
df.rename(columns={"Position": "position"} , inplace=True)
print('Unique values:', df.position.unique())
print('Number of unique values:', len(df.position.unique()))
print('Missing values:', df.position.isna().sum())
print("\n")
print('Description:')
print(df['position'].describe())
print("\n")
print('Frequency:')
print(df['position'].value_counts())

Unique values: ['RF' 'ST' 'LW' 'GK' 'RCM' 'LF' 'RS' 'RCB' 'LCM' 'CB' 'LDM' 'CAM' 'CDM'
 'LS' 'LCB' 'RM' 'LAM' 'LM' 'LB' 'RDM' 'RW' 'CM' 'RB' 'RAM' 'CF' 'RWB'
 'LWB' nan]
Number of unique values: 28
Missing values: 60


Description:
count     18147
unique       27
top          ST
freq       2152
Name: position, dtype: object


Frequency:
ST     2152
GK     2025
CB     1778
CM     1394
LB     1322
RB     1291
RM     1124
LM     1095
CAM     958
CDM     948
RCB     662
LCB     648
LCM     395
RCM     391
LW      381
RW      370
RDM     248
LDM     243
LS      207
RS      203
RWB      87
LWB      78
CF       74
LAM      21
RAM      21
RF       16
LF       15
Name: position, dtype: int64

Filling missing values with the "No provided" string:

In [49]:
df['position'] = df['position'].fillna('No provided')

In [50]:
print('Unique values:', df.position.unique())
print('Number of unique values:', len(df.position.unique()))
print('Missing values:', df.position.isna().sum())
print("\n")
print('Description:')
print(df['position'].describe())
print("\n")
print('Frequency:')
print(df['position'].value_counts())

Unique values: ['RF' 'ST' 'LW' 'GK' 'RCM' 'LF' 'RS' 'RCB' 'LCM' 'CB' 'LDM' 'CAM' 'CDM'
 'LS' 'LCB' 'RM' 'LAM' 'LM' 'LB' 'RDM' 'RW' 'CM' 'RB' 'RAM' 'CF' 'RWB'
 'LWB' 'No provided']
Number of unique values: 28
Missing values: 0


Description:
count     18207
unique       28
top          ST
freq       2152
Name: position, dtype: object


Frequency:
ST             2152
GK             2025
CB             1778
CM             1394
LB             1322
RB             1291
RM             1124
LM             1095
CAM             958
CDM             948
RCB             662
LCB             648
LCM             395
RCM             391
LW              381
RW              370
RDM             248
LDM             243
LS              207
RS              203
RWB              87
LWB              78
CF               74
No provided      60
RAM              21
LAM              21
RF               16
LF               15
Name: position, dtype: int64

## jersey_number

In [51]:
df.rename(columns={"Jersey Number": "jersey_number"} , inplace=True)
print('Unique values:', df.jersey_number.unique())
print('Number of unique values:', len(df.jersey_number.unique()))
print('Missing values:', df.jersey_number.isna().sum())
print("\n")
print('Description:')
print(df['jersey_number'].describe())
print("\n")
print('Frequency:')
print(df['jersey_number'].value_counts())

Unique values: [10.  7.  1.  9. 15.  8. 21. 13. 22.  5.  3. 14. 12. 11.  2. 23. 26.  6.
 17. 18.  4. 19. 31. 25. 37. 30. 44. 29. 24. 20. 16. 33. 28. 27. 77. 47.
 38. 40. 92. 36. 87. 34. 32. 83. 70. 35. 89. 56. 99. 57. 91. 86. 45. 63.
 39. 43. 42. 93. 72. 71. 88. 55. 80. 50. 66. 60. 73. 67. 74. 69. 76. 41.
 90. 46. 75. 79. 62. 81. 61. 49. 95. 53. 96. 97. 68. 98. 94. 58. 78. nan
 48. 52. 54. 84. 82. 65. 64. 51. 59. 85.]
Number of unique values: 100
Missing values: 60


Description:
count    18147.000000
mean        19.546096
std         15.947765
min          1.000000
25%          8.000000
50%         17.000000
75%         26.000000
max         99.000000
Name: jersey_number, dtype: float64


Frequency:
8.0     612
7.0     604
10.0    593
11.0    590
6.0     586
5.0     579
9.0     577
4.0     573
20.0    568
1.0     566
17.0    554
3.0     547
23.0    546
19.0    545
18.0    545
14.0    542
21.0    536
22.0    531
2.0     519
16.0    517
15.0    501
24.0    425
27.0    423
13.0    419
25.0    409
12.0    390
26.0    390
30.0    371
29.0    358
28.0    357
       ...
94.0     11
92.0     10
71.0     10
52.0     10
60.0     10
57.0      8
61.0      7
51.0      7
72.0      7
73.0      6
83.0      6
69.0      6
75.0      6
62.0      6
67.0      5
81.0      5
58.0      5
78.0      5
59.0      5
82.0      5
63.0      4
86.0      4
68.0      4
76.0      4
65.0      4
84.0      4
64.0      2
79.0      2
74.0      2
85.0      1
Name: jersey_number, Length: 99, dtype: int64

Filling missing values with the ‘-99’ value:

In [52]:
df['jersey_number'] = df['jersey_number'].fillna(-99)
df['jersey_number']= df['jersey_number'].apply(lambda x: int(x))

In [53]:
print('Unique values:', df.jersey_number.unique())
print('Number of unique values:', len(df.jersey_number.unique()))
print('Missing values:', df.jersey_number.isna().sum())
print("\n")
print('Description:')
print(df['jersey_number'].describe())
print("\n")
print('Frequency:')
print(df['jersey_number'].value_counts())

Unique values: [ 10   7   1   9  15   8  21  13  22   5   3  14  12  11   2  23  26   6
  17  18   4  19  31  25  37  30  44  29  24  20  16  33  28  27  77  47
  38  40  92  36  87  34  32  83  70  35  89  56  99  57  91  86  45  63
  39  43  42  93  72  71  88  55  80  50  66  60  73  67  74  69  76  41
  90  46  75  79  62  81  61  49  95  53  96  97  68  98  94  58  78 -99
  48  52  54  84  82  65  64  51  59  85]
Number of unique values: 100
Missing values: 0


Description:
count    18207.000000
mean        19.155435
std         17.310526
min        -99.000000
25%          8.000000
50%         17.000000
75%         26.000000
max         99.000000
Name: jersey_number, dtype: float64


Frequency:
8     612
7     604
10    593
11    590
6     586
5     579
9     577
4     573
20    568
1     566
17    554
3     547
23    546
19    545
18    545
14    542
21    536
22    531
2     519
16    517
15    501
24    425
27    423
13    419
25    409
26    390
12    390
30    371
29    358
28    357
     ...
53     11
92     10
52     10
60     10
71     10
57      8
51      7
61      7
72      7
62      6
75      6
83      6
73      6
69      6
78      5
81      5
58      5
59      5
82      5
67      5
65      4
76      4
86      4
84      4
63      4
68      4
74      2
79      2
64      2
85      1
Name: jersey_number, Length: 100, dtype: int64

## joined

In [54]:
df.rename(columns={"Joined": "joined"} , inplace=True)
print('Unique values:', df.joined.unique())
print('Number of unique values:', len(df.joined.unique()))
print('Missing values:', df.joined.isna().sum())
print("\n")
print('Description:')
print(df['joined'].describe())
print("\n")
print('Frequency:')
print(df['joined'].value_counts())

Unique values: ['Jul 1, 2004' 'Jul 10, 2018' 'Aug 3, 2017' ... 'May 22, 2017'
 'Nov 6, 2016' 'Nov 27, 2018']
Number of unique values: 1737
Missing values: 1553


Description:
count           16654
unique           1736
top       Jul 1, 2018
freq             1538
Name: joined, dtype: object


Frequency:
Jul 1, 2018     1538
Jul 1, 2017     1133
Jan 1, 2018      635
Jul 1, 2016      614
Jul 1, 2015      368
Jan 1, 2017      231
Jul 1, 2014      226
Jan 1, 2016      180
Jul 1, 2013      156
Jan 1, 2015      143
Jul 23, 2018     142
Jul 2, 2018      137
Jul 1, 2012      118
Jan 31, 2018     110
Aug 31, 2018     108
Jan 1, 2014       96
Jan 1, 2012       95
Aug 31, 2017      92
Jul 1, 2011       88
Jul 10, 2018      82
Aug 9, 2018       76
Jul 13, 2018      73
Jan 1, 2013       72
Jul 3, 2018       71
Jul 6, 2018       71
Feb 7, 2018       67
Jan 31, 2017      65
Jul 5, 2018       62
Jan 5, 2018       60
Feb 1, 2018       58
                ...
Sep 12, 2015       1
Aug 7, 2008        1
Feb 13, 2016       1
Feb 6, 2017        1
Dec 3, 2017        1
Sep 15, 2014       1
Jun 6, 2012        1
Nov 27, 2017       1
Oct 13, 2014       1
May 17, 2014       1
May 19, 2017       1
Mar 12, 2018       1
May 24, 2013       1
Nov 13, 2018       1
Aug 21, 2012       1
Jan 21, 2013       1
Feb 4, 2012        1
Apr 22, 2018       1
Nov 25, 2017       1
May 13, 2016       1
Sep 25, 2017       1
Apr 4, 2008        1
Apr 27, 2017       1
Nov 14, 2018       1
Jun 4, 2012        1
Jan 8, 2013        1
Feb 11, 2013       1
Aug 22, 2013       1
Jun 27, 2015       1
Sep 7, 2013        1
Name: joined, Length: 1736, dtype: int64

Filling missing values with the "No provided" string:

In [55]:
df['joined'] = df['joined'].fillna('No provided')

In [56]:
print('Unique values:', df.joined.unique())
print('Number of unique values:', len(df.joined.unique()))
print('Missing values:', df.joined.isna().sum())
print("\n")
print('Description:')
print(df['joined'].describe())
print("\n")
print('Frequency:')
print(df['joined'].value_counts())

Unique values: ['Jul 1, 2004' 'Jul 10, 2018' 'Aug 3, 2017' ... 'May 22, 2017'
 'Nov 6, 2016' 'Nov 27, 2018']
Number of unique values: 1737
Missing values: 0


Description:
count           18207
unique           1737
top       No provided
freq             1553
Name: joined, dtype: object


Frequency:
No provided     1553
Jul 1, 2018     1538
Jul 1, 2017     1133
Jan 1, 2018      635
Jul 1, 2016      614
Jul 1, 2015      368
Jan 1, 2017      231
Jul 1, 2014      226
Jan 1, 2016      180
Jul 1, 2013      156
Jan 1, 2015      143
Jul 23, 2018     142
Jul 2, 2018      137
Jul 1, 2012      118
Jan 31, 2018     110
Aug 31, 2018     108
Jan 1, 2014       96
Jan 1, 2012       95
Aug 31, 2017      92
Jul 1, 2011       88
Jul 10, 2018      82
Aug 9, 2018       76
Jul 13, 2018      73
Jan 1, 2013       72
Jul 3, 2018       71
Jul 6, 2018       71
Feb 7, 2018       67
Jan 31, 2017      65
Jul 5, 2018       62
Jan 5, 2018       60
                ...
Oct 30, 2014       1
Feb 6, 2017        1
May 23, 2016       1
Jun 27, 2015       1
Feb 13, 2016       1
Dec 3, 2017        1
Sep 15, 2014       1
Jun 6, 2012        1
Nov 27, 2017       1
Oct 13, 2014       1
May 17, 2014       1
May 19, 2017       1
Mar 12, 2018       1
May 24, 2013       1
Nov 13, 2018       1
Aug 21, 2012       1
Jan 21, 2013       1
Feb 4, 2012        1
Apr 22, 2018       1
Nov 25, 2017       1
May 13, 2016       1
Sep 25, 2017       1
Apr 4, 2008        1
Apr 27, 2017       1
Nov 14, 2018       1
Jun 4, 2012        1
Jan 8, 2013        1
Feb 11, 2013       1
Aug 22, 2013       1
Sep 7, 2013        1
Name: joined, Length: 1737, dtype: int64

## loaned_from

In [57]:
df.rename(columns={"Loaned From": "loaned_from"} , inplace=True)
print('Unique values:', df.loaned_from.unique())
print('Number of unique values:', len(df.loaned_from.unique()))
print('Missing values:', df.loaned_from.isna().sum())
print("\n")
print('Description:')
print(df['loaned_from'].describe())
print("\n")
print('Frequency:')
print(df['loaned_from'].value_counts())

Unique values: [nan 'Real Madrid' 'Juventus' 'FC Barcelona' 'SL Benfica' 'Sassuolo'
 'Atlético Madrid' 'Valencia CF' 'Paris Saint-Germain' 'Chelsea'
 'AS Monaco' 'Torino' 'Atalanta' 'Milan' 'Sevilla FC' 'Liverpool'
 'Arsenal' 'Sampdoria' 'RSC Anderlecht' 'FC Porto' 'Roma' 'Fiorentina'
 'Guangzhou Evergrande Taobao FC' 'Inter' 'Jiangsu Suning FC'
 'RCD Espanyol' 'Club Tijuana' 'West Bromwich Albion' 'Villarreal CF'
 'Napoli' 'Borussia Dortmund' 'Southampton' 'Udinese' 'Swansea City'
 'Hamburger SV' 'Málaga CF' 'Sporting CP' 'Leicester City' 'Everton'
 'En Avant de Guingamp' 'Genoa' 'SD Eibar' 'Bologna'
 'FC Girondins de Bordeaux' 'PSV' 'Real Betis' 'Toulouse Football Club'
 'Querétaro' 'Levante UD' 'Henan Jianye FC' 'Club Atlas' 'RC Celta'
 'Stoke City' 'Tigres U.A.N.L.' 'Atlético Nacional' 'LOSC Lille'
 'Newcastle United' 'Deportivo de La Coruña' 'Deportivo Cali'
 'Bournemouth' 'UD Las Palmas' 'Athletic Club de Bilbao' 'Watford'
 'Córdoba CF' 'Guadalajara' 'Stade Rennais FC' 'Os Belenenses'
 'Manchester City' 'Brighton & Hove Albion' 'VfL Wolfsburg' 'Pachuca'
 'FC Schalke 04' 'Manchester United' 'Ajax' 'Monterrey' 'Getafe CF'
 'FC Nantes' 'KAA Gent' 'FC Augsburg' 'Empoli' 'AS Saint-Étienne' 'Bahia'
 'Olympique Lyonnais' 'VfB Stuttgart' 'Medipol Başakşehir FK'
 'Real Sporting de Gijón' 'Sunderland' 'Kashiwa Reysol' 'Benevento'
 'FC Metz' 'Junior FC' 'Boca Juniors' 'FC Midtjylland' 'Millwall'
 'Al Hilal' 'Puebla FC' 'Club Atlético Tigre' 'Beşiktaş JK' 'Al Ahli'
 'Vélez Sarsfield' '1. FSV Mainz 05' 'Lazio'
 'Chongqing Dangdai Lifan FC SWM Team' 'Internacional' 'Perugia'
 'Hellas Verona' 'SV Werder Bremen' 'Eintracht Frankfurt'
 'Guizhou Hengfeng FC' 'Racing Club' 'Rosario Central'
 'TSG 1899 Hoffenheim' 'Aston Villa' 'FC Red Bull Salzburg'
 'Montpellier HSC' 'Standard de Liège' 'Club León' 'River Plate'
 'Olympique de Marseille' 'Grasshopper Club Zürich' 'Palermo'
 'Club Atlético Talleres' 'Norwich City' 'Hannover 96' 'Deportivo Toluca'
 'Parma' 'Tiburones Rojos de Veracruz' 'Toronto FC' 'West Ham United'
 'Fulham' 'Fenerbahçe SK' 'Brentford' "Newell's Old Boys"
 'Club Atlético Banfield' 'Independiente' 'SC Braga' 'Club América'
 'Sheffield Wednesday' 'Patriotas Boyacá FC' 'Eintracht Braunschweig'
 'FC Seoul' 'Club Brugge KV' 'FC Ingolstadt 04' 'SPAL' 'Tottenham Hotspur'
 'Universidad de Chile' 'Gimnàstic de Tarragona' 'Chievo Verona'
 'FC Utrecht' 'Burnley' 'Kayserispor' 'Girona FC' 'Pescara'
 'SV Darmstadt 98' 'Nottingham Forest' 'CD Leganés'
 'Independiente Medellín' 'Angers SCO' 'Cittadella' 'Cádiz CF' 'KRC Genk'
 'Defensa y Justicia' 'Cruz Azul' 'Sheffield United' 'U.N.A.M.'
 'Bursaspor' 'Real Valladolid CF' 'Deportivo Alavés'
 'San Lorenzo de Almagro' 'Universidad Católica' 'Wolverhampton Wanderers'
 'Belgrano de Córdoba' 'Wigan Athletic' 'FC Lorient' 'OGC Nice'
 'RC Strasbourg Alsace' 'Barnsley' 'Argentinos Juniors' 'Birmingham City'
 'Colo-Colo' 'Granada CF' 'FC København' 'Leeds United' 'CD Antofagasta'
 'Stade Malherbe Caen' 'Vissel Kobe' 'América de Cali' 'Stade de Reims'
 'AJ Auxerre' 'SC Freiburg' 'Club Atlético Colón' 'FK Austria Wien'
 'Legia Warszawa' 'Monarcas Morelia' 'Cagliari' 'Rangers FC'
 'Crystal Palace' 'Middlesbrough' 'FC Bayern München' 'SD Huesca'
 'Estudiantes de La Plata' 'Independiente Santa Fe' 'La Equidad'
 'Frosinone' 'Godoy Cruz' 'San Luis de Quillota' 'Sporting de Charleroi'
 'Gimnasia y Esgrima La Plata' 'SV Zulte-Waregem' 'Huddersfield Town'
 'Derby County' 'Reading' 'SG Dynamo Dresden' 'Bolton Wanderers' 'Brescia'
 'Hertha BSC' 'Shanghai Greenland Shenhua FC' 'Suwon Samsung Bluewings'
 'AS Nancy Lorraine' 'CD Tenerife' 'CD Palestino' 'Unión Española'
 'Gamba Osaka' 'Bayer 04 Leverkusen' 'Kawasaki Frontale' "CD O'Higgins"
 'Sporting Lokeren' 'Queens Park Rangers' 'Unión de Santa Fe'
 'Central Coast Mariners' 'Cardiff City' 'New York Red Bulls'
 'Rotherham United' 'Club Deportes Temuco' 'Ipswich Town'
 'Vitória Guimarães' 'Heracles Almelo' 'Preston North End' 'KV Oostende'
 'Sanfrecce Hiroshima' 'Patronato' 'Lechia Gdańsk' '1. FC Union Berlin'
 'Rayo Vallecano' 'Royal Excel Mouscron' 'Club Necaxa'
 'CD Universidad de Concepción' 'Extremadura UD' 'Bristol City'
 'RCD Mallorca' 'Yokohama F. Marinos' 'FC Nordsjælland' 'Al Fateh'
 'Luton Town' 'Portsmouth' 'Molde FK' 'Shanghai SIPG FC' 'FC Basel 1893'
 'Fortuna Düsseldorf' 'Pohang Steelers' 'Forest Green Rovers'
 'Rionegro Águilas' 'Melbourne City FC' 'DSC Arminia Bielefeld'
 'Vålerenga Fotball' 'Club Atlético Lanús' 'Jeonnam Dragons'
 'Strømsgodset IF' 'SC Paderborn 07' 'Accrington Stanley' 'Spezia'
 'La Berrichonne de Châteauroux' 'Heart of Midlothian' 'Incheon United FC'
 'FC Tokyo' 'Blackburn Rovers' 'Real Sociedad' 'Alianza Petrolera'
 'CA Osasuna' 'PEC Zwolle' 'Shrewsbury' 'VfL Bochum 1848'
 'Northampton Town' 'Dijon FCO' 'Crawley Town' 'Itagüí Leones FC'
 'Seattle Sounders FC' 'SV Sandhausen' 'Bury' 'Port Vale' 'RB Leipzig'
 'Daegu FC' 'LASK Linz' 'Östersunds FK' 'Fortuna Sittard'
 'Unión La Calera' 'Santos Laguna' 'Urawa Red Diamonds' 'Bradford City'
 'Ettifaq FC' '1. FC Köln' 'Club Atlético Huracán' 'FC St. Pauli'
 'Gangwon FC' 'Kalmar FF' 'Hokkaido Consadole Sapporo'
 'Tianjin Quanjian FC' 'Peterborough United' 'SK Sturm Graz'
 'Bristol Rovers' 'CD Lugo' 'Oldham Athletic' 'Al Fayha'
 'US Salernitana 1919' 'Aberdeen' 'Rosenborg BK' 'FC Sion' 'Amiens SC'
 'IK Start' 'Al Qadisiyah' 'Jeju United FC' 'Scunthorpe United' 'Celtic'
 'Al Nassr' 'SSV Jahn Regensburg' 'Fleetwood Town' 'Doncaster Rovers'
 'Stevenage' 'Blackpool' 'Malmö FF' 'Beijing Sinobo Guoan FC' 'Walsall'
 'Coventry City' 'AFC Wimbledon' 'ADO Den Haag' 'Oxford United'
 'FC Zürich' 'Al Ittihad' 'Morecambe' 'CD Everton de Viña del Mar'
 'Portland Timbers' 'Neuchâtel Xamax']
Number of unique values: 342
Missing values: 16943


Description:
count         1264
unique         341
top       Atalanta
freq            20
Name: loaned_from, dtype: object


Frequency:
Atalanta                   20
Sassuolo                   18
SL Benfica                 17
Juventus                   17
Sporting CP                14
Liverpool                  12
AS Monaco                  12
Watford                    12
Villarreal CF              12
Manchester City            12
FC Red Bull Salzburg       12
Chelsea                    12
Leeds United               12
Napoli                     12
Real Madrid                12
Inter                      12
Udinese                    12
Genoa                      11
Aston Villa                11
Wolverhampton Wanderers    11
Sheffield United           11
Racing Club                11
Roma                       10
FC Porto                   10
Everton                    10
Atlético Madrid            10
Brighton & Hove Albion     10
Sampdoria                   9
Nottingham Forest           9
Al Hilal                    9
                           ..
Östersunds FK               1
Brescia                     1
Spezia                      1
AS Nancy Lorraine           1
Jeju United FC              1
Real Sociedad               1
Cittadella                  1
Toronto FC                  1
Forest Green Rovers         1
Malmö FF                    1
VfL Bochum 1848             1
SV Zulte-Waregem            1
PEC Zwolle                  1
FC Tokyo                    1
Portsmouth                  1
SK Sturm Graz               1
Patronato                   1
Bayer 04 Leverkusen         1
Junior FC                   1
Kayserispor                 1
Strømsgodset IF             1
Stevenage                   1
New York Red Bulls          1
Amiens SC                   1
Rayo Vallecano              1
Unión La Calera             1
CD O'Higgins                1
Heracles Almelo             1
Sporting Lokeren            1
Henan Jianye FC             1
Name: loaned_from, Length: 341, dtype: int64

Filling missing values with the "No provided" string:

In [58]:
df['loaned_from'] = df['loaned_from'].fillna('No provided')

In [59]:
print('Unique values:', df.loaned_from.unique())
print('Number of unique values:', len(df.loaned_from.unique()))
print('Missing values:', df.loaned_from.isna().sum())
print("\n")
print('Description:')
print(df['loaned_from'].describe())
print("\n")
print('Frequency:')
print(df['loaned_from'].value_counts())

Unique values: ['No provided' 'Real Madrid' 'Juventus' 'FC Barcelona' 'SL Benfica'
 'Sassuolo' 'Atlético Madrid' 'Valencia CF' 'Paris Saint-Germain'
 'Chelsea' 'AS Monaco' 'Torino' 'Atalanta' 'Milan' 'Sevilla FC'
 'Liverpool' 'Arsenal' 'Sampdoria' 'RSC Anderlecht' 'FC Porto' 'Roma'
 'Fiorentina' 'Guangzhou Evergrande Taobao FC' 'Inter' 'Jiangsu Suning FC'
 'RCD Espanyol' 'Club Tijuana' 'West Bromwich Albion' 'Villarreal CF'
 'Napoli' 'Borussia Dortmund' 'Southampton' 'Udinese' 'Swansea City'
 'Hamburger SV' 'Málaga CF' 'Sporting CP' 'Leicester City' 'Everton'
 'En Avant de Guingamp' 'Genoa' 'SD Eibar' 'Bologna'
 'FC Girondins de Bordeaux' 'PSV' 'Real Betis' 'Toulouse Football Club'
 'Querétaro' 'Levante UD' 'Henan Jianye FC' 'Club Atlas' 'RC Celta'
 'Stoke City' 'Tigres U.A.N.L.' 'Atlético Nacional' 'LOSC Lille'
 'Newcastle United' 'Deportivo de La Coruña' 'Deportivo Cali'
 'Bournemouth' 'UD Las Palmas' 'Athletic Club de Bilbao' 'Watford'
 'Córdoba CF' 'Guadalajara' 'Stade Rennais FC' 'Os Belenenses'
 'Manchester City' 'Brighton & Hove Albion' 'VfL Wolfsburg' 'Pachuca'
 'FC Schalke 04' 'Manchester United' 'Ajax' 'Monterrey' 'Getafe CF'
 'FC Nantes' 'KAA Gent' 'FC Augsburg' 'Empoli' 'AS Saint-Étienne' 'Bahia'
 'Olympique Lyonnais' 'VfB Stuttgart' 'Medipol Başakşehir FK'
 'Real Sporting de Gijón' 'Sunderland' 'Kashiwa Reysol' 'Benevento'
 'FC Metz' 'Junior FC' 'Boca Juniors' 'FC Midtjylland' 'Millwall'
 'Al Hilal' 'Puebla FC' 'Club Atlético Tigre' 'Beşiktaş JK' 'Al Ahli'
 'Vélez Sarsfield' '1. FSV Mainz 05' 'Lazio'
 'Chongqing Dangdai Lifan FC SWM Team' 'Internacional' 'Perugia'
 'Hellas Verona' 'SV Werder Bremen' 'Eintracht Frankfurt'
 'Guizhou Hengfeng FC' 'Racing Club' 'Rosario Central'
 'TSG 1899 Hoffenheim' 'Aston Villa' 'FC Red Bull Salzburg'
 'Montpellier HSC' 'Standard de Liège' 'Club León' 'River Plate'
 'Olympique de Marseille' 'Grasshopper Club Zürich' 'Palermo'
 'Club Atlético Talleres' 'Norwich City' 'Hannover 96' 'Deportivo Toluca'
 'Parma' 'Tiburones Rojos de Veracruz' 'Toronto FC' 'West Ham United'
 'Fulham' 'Fenerbahçe SK' 'Brentford' "Newell's Old Boys"
 'Club Atlético Banfield' 'Independiente' 'SC Braga' 'Club América'
 'Sheffield Wednesday' 'Patriotas Boyacá FC' 'Eintracht Braunschweig'
 'FC Seoul' 'Club Brugge KV' 'FC Ingolstadt 04' 'SPAL' 'Tottenham Hotspur'
 'Universidad de Chile' 'Gimnàstic de Tarragona' 'Chievo Verona'
 'FC Utrecht' 'Burnley' 'Kayserispor' 'Girona FC' 'Pescara'
 'SV Darmstadt 98' 'Nottingham Forest' 'CD Leganés'
 'Independiente Medellín' 'Angers SCO' 'Cittadella' 'Cádiz CF' 'KRC Genk'
 'Defensa y Justicia' 'Cruz Azul' 'Sheffield United' 'U.N.A.M.'
 'Bursaspor' 'Real Valladolid CF' 'Deportivo Alavés'
 'San Lorenzo de Almagro' 'Universidad Católica' 'Wolverhampton Wanderers'
 'Belgrano de Córdoba' 'Wigan Athletic' 'FC Lorient' 'OGC Nice'
 'RC Strasbourg Alsace' 'Barnsley' 'Argentinos Juniors' 'Birmingham City'
 'Colo-Colo' 'Granada CF' 'FC København' 'Leeds United' 'CD Antofagasta'
 'Stade Malherbe Caen' 'Vissel Kobe' 'América de Cali' 'Stade de Reims'
 'AJ Auxerre' 'SC Freiburg' 'Club Atlético Colón' 'FK Austria Wien'
 'Legia Warszawa' 'Monarcas Morelia' 'Cagliari' 'Rangers FC'
 'Crystal Palace' 'Middlesbrough' 'FC Bayern München' 'SD Huesca'
 'Estudiantes de La Plata' 'Independiente Santa Fe' 'La Equidad'
 'Frosinone' 'Godoy Cruz' 'San Luis de Quillota' 'Sporting de Charleroi'
 'Gimnasia y Esgrima La Plata' 'SV Zulte-Waregem' 'Huddersfield Town'
 'Derby County' 'Reading' 'SG Dynamo Dresden' 'Bolton Wanderers' 'Brescia'
 'Hertha BSC' 'Shanghai Greenland Shenhua FC' 'Suwon Samsung Bluewings'
 'AS Nancy Lorraine' 'CD Tenerife' 'CD Palestino' 'Unión Española'
 'Gamba Osaka' 'Bayer 04 Leverkusen' 'Kawasaki Frontale' "CD O'Higgins"
 'Sporting Lokeren' 'Queens Park Rangers' 'Unión de Santa Fe'
 'Central Coast Mariners' 'Cardiff City' 'New York Red Bulls'
 'Rotherham United' 'Club Deportes Temuco' 'Ipswich Town'
 'Vitória Guimarães' 'Heracles Almelo' 'Preston North End' 'KV Oostende'
 'Sanfrecce Hiroshima' 'Patronato' 'Lechia Gdańsk' '1. FC Union Berlin'
 'Rayo Vallecano' 'Royal Excel Mouscron' 'Club Necaxa'
 'CD Universidad de Concepción' 'Extremadura UD' 'Bristol City'
 'RCD Mallorca' 'Yokohama F. Marinos' 'FC Nordsjælland' 'Al Fateh'
 'Luton Town' 'Portsmouth' 'Molde FK' 'Shanghai SIPG FC' 'FC Basel 1893'
 'Fortuna Düsseldorf' 'Pohang Steelers' 'Forest Green Rovers'
 'Rionegro Águilas' 'Melbourne City FC' 'DSC Arminia Bielefeld'
 'Vålerenga Fotball' 'Club Atlético Lanús' 'Jeonnam Dragons'
 'Strømsgodset IF' 'SC Paderborn 07' 'Accrington Stanley' 'Spezia'
 'La Berrichonne de Châteauroux' 'Heart of Midlothian' 'Incheon United FC'
 'FC Tokyo' 'Blackburn Rovers' 'Real Sociedad' 'Alianza Petrolera'
 'CA Osasuna' 'PEC Zwolle' 'Shrewsbury' 'VfL Bochum 1848'
 'Northampton Town' 'Dijon FCO' 'Crawley Town' 'Itagüí Leones FC'
 'Seattle Sounders FC' 'SV Sandhausen' 'Bury' 'Port Vale' 'RB Leipzig'
 'Daegu FC' 'LASK Linz' 'Östersunds FK' 'Fortuna Sittard'
 'Unión La Calera' 'Santos Laguna' 'Urawa Red Diamonds' 'Bradford City'
 'Ettifaq FC' '1. FC Köln' 'Club Atlético Huracán' 'FC St. Pauli'
 'Gangwon FC' 'Kalmar FF' 'Hokkaido Consadole Sapporo'
 'Tianjin Quanjian FC' 'Peterborough United' 'SK Sturm Graz'
 'Bristol Rovers' 'CD Lugo' 'Oldham Athletic' 'Al Fayha'
 'US Salernitana 1919' 'Aberdeen' 'Rosenborg BK' 'FC Sion' 'Amiens SC'
 'IK Start' 'Al Qadisiyah' 'Jeju United FC' 'Scunthorpe United' 'Celtic'
 'Al Nassr' 'SSV Jahn Regensburg' 'Fleetwood Town' 'Doncaster Rovers'
 'Stevenage' 'Blackpool' 'Malmö FF' 'Beijing Sinobo Guoan FC' 'Walsall'
 'Coventry City' 'AFC Wimbledon' 'ADO Den Haag' 'Oxford United'
 'FC Zürich' 'Al Ittihad' 'Morecambe' 'CD Everton de Viña del Mar'
 'Portland Timbers' 'Neuchâtel Xamax']
Number of unique values: 342
Missing values: 0


Description:
count           18207
unique            342
top       No provided
freq            16943
Name: loaned_from, dtype: object


Frequency:
No provided                16943
Atalanta                      20
Sassuolo                      18
Juventus                      17
SL Benfica                    17
Sporting CP                   14
Leeds United                  12
FC Red Bull Salzburg          12
Watford                       12
Inter                         12
Real Madrid                   12
Manchester City               12
Chelsea                       12
AS Monaco                     12
Napoli                        12
Udinese                       12
Liverpool                     12
Villarreal CF                 12
Genoa                         11
Wolverhampton Wanderers       11
Racing Club                   11
Aston Villa                   11
Sheffield United              11
FC Porto                      10
Everton                       10
Roma                          10
Atlético Madrid               10
Brighton & Hove Albion        10
Nottingham Forest              9
Fiorentina                     9
                           ...
CA Osasuna                     1
Rayo Vallecano                 1
Os Belenenses                  1
Club Atlético Tigre            1
SV Sandhausen                  1
LASK Linz                      1
Jeju United FC                 1
Bahia                          1
Vålerenga Fotball              1
Unión La Calera                1
Real Sociedad                  1
Walsall                        1
Östersunds FK                  1
RB Leipzig                     1
RC Strasbourg Alsace           1
Club Necaxa                    1
Guizhou Hengfeng FC            1
Real Sporting de Gijón         1
Spezia                         1
Portsmouth                     1
Brescia                        1
New York Red Bulls             1
Patronato                      1
Bayer 04 Leverkusen            1
Junior FC                      1
Kayserispor                    1
AS Nancy Lorraine              1
Strømsgodset IF                1
Stevenage                      1
Henan Jianye FC                1
Name: loaned_from, Length: 342, dtype: int64

## contract_until

In [60]:
df.rename(columns={"Contract Valid Until": "contract_until"} , inplace=True)
print('Unique values:', df.contract_until.unique())
print('Number of unique values:', len(df.contract_until.unique()))
print('Missing values:', df.contract_until.isna().sum())
print("\n")
print('Description:')
print(df['contract_until'].describe())
print("\n")
print('Frequency:')
print(df['contract_until'].value_counts())

Unique values: ['2021' '2022' '2020' '2023' '2019' '2024' 'Jun 30, 2019' '2025' '2026'
 'Dec 31, 2018' '2018' nan 'May 31, 2020' 'Jun 30, 2020' 'May 31, 2019'
 'Dec 31, 2019' 'Jan 1, 2019' 'Jun 1, 2019' 'Jan 4, 2019' 'Jan 31, 2019'
 'Jan 7, 2019' 'Jan 2, 2019' 'Jan 6, 2019' 'Oct 14, 2019' 'Jan 3, 2019'
 'May 4, 2019' 'Jan 12, 2019' 'Jan 25, 2019' 'Jan 18, 2019' 'Dec 1, 2019'
 'Nov 30, 2018' 'Feb 27, 2020' 'Jan 5, 2019' 'Jan 15, 2019' 'Jan 30, 2019'
 'Jan 11, 2019' 'Jan 20, 2019']
Number of unique values: 37
Missing values: 289


Description:
count     17918
unique       36
top        2019
freq       4819
Name: contract_until, dtype: object


Frequency:
2019            4819
2021            4360
2020            4027
2022            1477
2023            1053
Jun 30, 2019     931
2018             886
Dec 31, 2018     144
May 31, 2019      60
Jan 1, 2019       51
2024              23
Jun 30, 2020      14
Jan 31, 2019      13
2025               7
Jan 2, 2019        6
Jan 5, 2019        6
Oct 14, 2019       5
Jan 12, 2019       5
Jan 6, 2019        4
Dec 31, 2019       3
Jan 25, 2019       3
Jan 7, 2019        3
Dec 1, 2019        2
2026               2
May 31, 2020       2
Nov 30, 2018       2
Jan 11, 2019       1
May 4, 2019        1
Jan 20, 2019       1
Jan 3, 2019        1
Jan 18, 2019       1
Feb 27, 2020       1
Jan 15, 2019       1
Jan 30, 2019       1
Jan 4, 2019        1
Jun 1, 2019        1
Name: contract_until, dtype: int64

Filling missing values with the ‘-99’ value:

In [61]:
df['contract_until'] = df['contract_until'].fillna(-99)
del new
new = df["contract_until"].str.split(",", n = 1, expand = True)
new['n']=new[0]
new.drop([0], axis=1, inplace=True)
new.bfill(axis=1, inplace=True)
new.drop(['n'], axis=1, inplace=True)
new[1] = new[1].fillna(-99)
new[1]= new[1].apply(lambda x: int(x))
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df.drop(['contract_until'], axis=1, inplace=True)
df.rename(columns={1: "contract_until"}, inplace=True)
df.loc[:,'contract_until']=(df['contract_until'].map(lambda x: x if x!= -99000 else -99)).copy()

In [62]:
print('Unique values:', df.contract_until.unique())
print('Number of unique values:', len(df.contract_until.unique()))
print('Missing values:', df.contract_until.isna().sum())
print("\n")
print('Description:')
print(df['contract_until'].describe())
print("\n")
print('Frequency:')
print(df['contract_until'].value_counts())

Unique values: [2021 2022 2020 2023 2019 2024 2025 2026 2018  -99]
Number of unique values: 10
Missing values: 0


Description:
count    18207.000000
mean      1986.509419
std        264.870348
min        -99.000000
25%       2019.000000
50%       2020.000000
75%       2021.000000
max       2026.000000
Name: contract_until, dtype: float64


Frequency:
 2019    5920
 2021    4360
 2020    4044
 2022    1477
 2023    1053
 2018    1032
-99       289
 2024      23
 2025       7
 2026       2
Name: contract_until, dtype: int64

## height_feet and height_inches

In [63]:
new = df["Height"].str.split("'", n = 1, expand = True)
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df['height_feet']=df[0]
df['height_inches'] = df[1]
print(df.loc[0:5, ['Height', 'height_feet', 'height_inches']])
print("\n")
print(df.loc[13280:13285, ['Height', 'height_feet', 'height_inches']])

  Height height_feet height_inches
0    5'7           5             7
1    6'2           6             2
2    5'9           5             9
3    6'4           6             4
4   5'11           5            11
5    5'8           5             8


      Height height_feet height_inches
13280    NaN         NaN           NaN
13281    NaN         NaN           NaN
13282    NaN         NaN           NaN
13283    NaN         NaN           NaN
13284    5'9           5             9
13285    5'6           5             6

In [64]:
df.drop(['Height', 0, 1], axis=1, inplace= True)

## height_feet

In [65]:
print('Unique values:', df.height_feet.unique())
print('Number of unique values:', len(df.height_feet.unique()))
print('Missing values:', df.height_feet.isna().sum())
print("\n")
print('Description:')
print(df['height_feet'].describe())
print("\n")
print('Frequency:')
print(df['height_feet'].value_counts())

Unique values: ['5' '6' nan]
Number of unique values: 3
Missing values: 48


Description:
count     18159
unique        2
top           5
freq       9244
Name: height_feet, dtype: object


Frequency:
5    9244
6    8915
Name: height_feet, dtype: int64

Filling missing values with the ‘-99’ value:

In [66]:
df['height_feet'] = df['height_feet'].fillna(-99)
df['height_feet']= df['height_feet'].apply(lambda x: int(x))

In [67]:
print('Unique values:', df.height_feet.unique())
print('Number of unique values:', len(df.height_feet.unique()))
print('Missing values:', df.height_feet.isna().sum())
print("\n")
print('Description:')
print(df['height_feet'].describe())
print("\n")
print('Frequency:')
print(df['height_feet'].value_counts())

Unique values: [  5   6 -99]
Number of unique values: 3
Missing values: 0


Description:
count    18207.000000
mean         5.215467
std          5.381409
min        -99.000000
25%          5.000000
50%          5.000000
75%          6.000000
max          6.000000
Name: height_feet, dtype: float64


Frequency:
 5     9244
 6     8915
-99      48
Name: height_feet, dtype: int64

## height_inches

In [68]:
print('Unique values:', df.height_inches.unique())
print('Number of unique values:', len(df.height_inches.unique()))
print('Missing values:', df.height_inches.isna().sum())
print("\n")
print('Description:')
print(df['height_inches'].describe())
print("\n")
print('Frequency:')
print(df['height_inches'].value_counts())

Unique values: ['7' '2' '9' '4' '11' '8' '0' '6' '10' '1' '3' '5' nan]
Number of unique values: 13
Missing values: 48


Description:
count     18159
unique       12
top           0
freq       2881
Name: height_inches, dtype: object


Frequency:
0     2881
10    2479
9     2240
11    2159
2     2020
1     1911
3     1008
8      956
7      926
4      779
6      409
5      391
Name: height_inches, dtype: int64

Filling missing values with the ‘-99’ value:

In [69]:
df['height_inches'] = df['height_inches'].fillna(-99)
df['height_inches']= df['height_inches'].apply(lambda x: int(x))

In [70]:
print('Unique values:', df.height_inches.unique())
print('Number of unique values:', len(df.height_inches.unique()))
print('Missing values:', df.height_inches.isna().sum())
print("\n")
print('Description:')
print(df['height_inches'].describe())
print("\n")
print('Frequency:')
print(df['height_inches'].value_counts())

Unique values: [  7   2   9   4  11   8   0   6  10   1   3   5 -99]
Number of unique values: 13
Missing values: 0


Description:
count    18207.000000
mean         5.194541
std          6.761448
min        -99.000000
25%          1.000000
50%          6.000000
75%         10.000000
max         11.000000
Name: height_inches, dtype: float64


Frequency:
 0     2881
 10    2479
 9     2240
 11    2159
 2     2020
 1     1911
 3     1008
 8      956
 7      926
 4      779
 6      409
 5      391
-99      48
Name: height_inches, dtype: int64

## weight_pounds

In [71]:
df.rename(columns={"Weight": "weight_pounds"} , inplace=True)
print('Unique values:', df.weight_pounds.unique())
print('Number of unique values:', len(df.weight_pounds.unique()))
print('Missing values:', df.weight_pounds.isna().sum())
print("\n")
print('Description:')
print(df['weight_pounds'].describe())
print("\n")
print('Frequency:')
print(df['weight_pounds'].value_counts())

Unique values: ['159lbs' '183lbs' '150lbs' '168lbs' '154lbs' '163lbs' '146lbs' '190lbs'
 '181lbs' '192lbs' '176lbs' '172lbs' '148lbs' '165lbs' '196lbs' '161lbs'
 '187lbs' '212lbs' '170lbs' '203lbs' '157lbs' '185lbs' '130lbs' '174lbs'
 '207lbs' '134lbs' '141lbs' '152lbs' '179lbs' '132lbs' '201lbs' '198lbs'
 '209lbs' '214lbs' '143lbs' '205lbs' '137lbs' '194lbs' '216lbs' '139lbs'
 '220lbs' '126lbs' '218lbs' '123lbs' '227lbs' '128lbs' '223lbs' '225lbs'
 '121lbs' '115lbs' '117lbs' '236lbs' '229lbs' '243lbs' nan '110lbs'
 '119lbs' '234lbs']
Number of unique values: 58
Missing values: 48


Description:
count      18159
unique        57
top       165lbs
freq        1483
Name: weight_pounds, dtype: object


Frequency:
165lbs    1483
154lbs    1439
176lbs    1041
172lbs     987
159lbs     946
161lbs     936
163lbs     901
170lbs     860
168lbs     836
174lbs     705
150lbs     660
157lbs     617
181lbs     584
183lbs     513
179lbs     507
152lbs     506
143lbs     505
187lbs     448
148lbs     435
185lbs     432
146lbs     365
141lbs     322
190lbs     288
194lbs     278
139lbs     206
192lbs     193
137lbs     165
198lbs     156
196lbs     143
132lbs     127
201lbs      93
134lbs      87
203lbs      75
205lbs      60
207lbs      45
209lbs      34
130lbs      33
128lbs      31
212lbs      23
123lbs      18
126lbs      14
214lbs      11
121lbs      10
216lbs       9
117lbs       6
218lbs       5
119lbs       4
225lbs       3
223lbs       3
236lbs       2
227lbs       2
110lbs       2
115lbs       1
229lbs       1
220lbs       1
243lbs       1
234lbs       1
Name: weight_pounds, dtype: int64

In [72]:
new = df["weight_pounds"].str.split("l", n = 1, expand = True)
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df['weight_pounds1']=df[0]
df['weight_pounds2'] = df[1]
print(df.loc[0:5, ['weight_pounds', 'weight_pounds1', 'weight_pounds2']])
print("\n")
print(df.loc[13280:13285, ['weight_pounds', 'weight_pounds1', 'weight_pounds2']])

  weight_pounds weight_pounds1 weight_pounds2
0        159lbs            159             bs
1        183lbs            183             bs
2        150lbs            150             bs
3        168lbs            168             bs
4        154lbs            154             bs
5        163lbs            163             bs


      weight_pounds weight_pounds1 weight_pounds2
13280           NaN            NaN            NaN
13281           NaN            NaN            NaN
13282           NaN            NaN            NaN
13283           NaN            NaN            NaN
13284        157lbs            157             bs
13285        146lbs            146             bs

In [73]:
df.drop(['weight_pounds', 'weight_pounds2',0, 1], axis=1, inplace= True)

In [74]:
df.rename(columns={"weight_pounds1": "weight_pounds"} , inplace=True)

Filling missing values with the ‘-99’ value:

In [75]:
df['weight_pounds'] = df['weight_pounds'].fillna(-99)
df['weight_pounds']= df['weight_pounds'].apply(lambda x: int(x))

In [76]:
print('Unique values:', df.weight_pounds.unique())
print('Number of unique values:', len(df.weight_pounds.unique()))
print('Missing values:', df.weight_pounds.isna().sum())
print("\n")
print('Description:')
print(df['weight_pounds'].describe())
print("\n")
print('Frequency:')
print(df['weight_pounds'].value_counts())

Unique values: [159 183 150 168 154 163 146 190 181 192 176 172 148 165 196 161 187 212
 170 203 157 185 130 174 207 134 141 152 179 132 201 198 209 214 143 205
 137 194 216 139 220 126 218 123 227 128 223 225 121 115 117 236 229 243
 -99 110 119 234]
Number of unique values: 58
Missing values: 0


Description:
count    18207.000000
mean       165.280551
std         20.667411
min        -99.000000
25%        154.000000
50%        165.000000
75%        176.000000
max        243.000000
Name: weight_pounds, dtype: float64


Frequency:
 165    1483
 154    1439
 176    1041
 172     987
 159     946
 161     936
 163     901
 170     860
 168     836
 174     705
 150     660
 157     617
 181     584
 183     513
 179     507
 152     506
 143     505
 187     448
 148     435
 185     432
 146     365
 141     322
 190     288
 194     278
 139     206
 192     193
 137     165
 198     156
 196     143
 132     127
 201      93
 134      87
 203      75
 205      60
-99       48
 207      45
 209      34
 130      33
 128      31
 212      23
 123      18
 126      14
 214      11
 121      10
 216       9
 117       6
 218       5
 119       4
 225       3
 223       3
 227       2
 236       2
 110       2
 234       1
 243       1
 220       1
 229       1
 115       1
Name: weight_pounds, dtype: int64

## LWB

In [77]:
new = df["LWB"].str.split("+", n = 1, expand = True)
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df['LWB1']=df[0]
df.drop([1], axis=1, inplace= True)
print(df.loc[0:5, ['LWB', 'LWB1']])
print("\n")
print(df.loc[13280:13285, ['LWB', 'LWB1']])
df.drop(['LWB', 0], axis=1, inplace= True)
df.rename(columns={"LWB1": "LWB"} , inplace=True)
print("\n")
print('Missing values:', df.LWB.isna().sum())
df['LWB'] = df['LWB'].fillna(-99)
df['LWB']= df['LWB'].apply(lambda x: int(x))
del new

    LWB LWB1
0  64+2   64
1  65+3   65
2  65+3   65
3   NaN  NaN
4  77+3   77
5  66+3   66


        LWB LWB1
13280   NaN  NaN
13281   NaN  NaN
13282   NaN  NaN
13283   NaN  NaN
13284  61+2   61
13285  61+2   61


Missing values: 2085

In [78]:
print('Unique values:', df.LWB.unique())
print('Number of unique values:', len(df.LWB.unique()))
print('Missing values:', df.LWB.isna().sum())
print("\n")
print('Description:')
print(df['LWB'].describe())
print("\n")
print('Frequency:')
print(df['LWB'].value_counts())

Unique values: [ 64  65 -99  77  66  82  69  81  61  79  76  85  62  70  67  58  74  78
  63  72  71  73  55  80  54  60  84  75  68  83  57  59  53  56  52  50
  51  47  49  45  44  48  46  43  41  42  40  39  35  36  38  37  34  32
  33  31  30]
Number of unique values: 57
Missing values: 0


Description:
count    18207.000000
mean        39.589938
std         50.548554
min        -99.000000
25%         48.000000
50%         56.000000
75%         63.000000
max         85.000000
Name: LWB, dtype: float64


Frequency:
-99    2085
 61     720
 60     709
 59     694
 62     692
 56     686
 57     636
 63     628
 53     614
 58     607
 64     594
 65     589
 55     587
 52     585
 54     567
 51     515
 66     495
 50     466
 67     452
 48     440
 49     417
 68     391
 47     379
 69     341
 70     307
 46     301
 45     272
 71     260
 44     226
 43     225
 72     210
 42     170
 73     167
 41     153
 40     130
 74     116
 75     116
 39     109
 38     101
 76      74
 37      62
 36      60
 77      54
 35      46
 78      42
 34      31
 79      31
 80      17
 82       8
 83       6
 81       6
 33       6
 32       6
 85       2
 31       2
 84       1
 30       1
Name: LWB, dtype: int64

## RWB

In [79]:
new = df["RWB"].str.split("+", n = 1, expand = True)
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df['RWB1']=df[0]
df.drop([1], axis=1, inplace= True)
print(df.loc[0:5, ['RWB', 'RWB1']])
print("\n")
print(df.loc[13280:13285, ['RWB', 'RWB1']])
df.drop(['RWB', 0], axis=1, inplace= True)
df.rename(columns={"RWB1": "RWB"} , inplace=True)
print("\n")
print('Missing values:', df.RWB.isna().sum())
df['RWB'] = df['RWB'].fillna(-99)
df['RWB']= df['RWB'].apply(lambda x: int(x))
del new

    RWB RWB1
0  64+2   64
1  65+3   65
2  65+3   65
3   NaN  NaN
4  77+3   77
5  66+3   66


        RWB RWB1
13280   NaN  NaN
13281   NaN  NaN
13282   NaN  NaN
13283   NaN  NaN
13284  61+2   61
13285  61+2   61


Missing values: 2085

In [80]:
print('Unique values:', df.RWB.unique())
print('Number of unique values:', len(df.RWB.unique()))
print('Missing values:', df.RWB.isna().sum())
print("\n")
print('Description:')
print(df['RWB'].describe())
print("\n")
print('Frequency:')
print(df['RWB'].value_counts())

Unique values: [ 64  65 -99  77  66  82  69  81  61  79  76  85  62  70  67  58  74  78
  63  72  71  73  55  80  54  60  84  75  68  83  57  59  53  56  52  50
  51  47  49  45  44  48  46  43  41  42  40  39  35  36  38  37  34  32
  33  31  30]
Number of unique values: 57
Missing values: 0


Description:
count    18207.000000
mean        39.589938
std         50.548554
min        -99.000000
25%         48.000000
50%         56.000000
75%         63.000000
max         85.000000
Name: RWB, dtype: float64


Frequency:
-99    2085
 61     720
 60     709
 59     694
 62     692
 56     686
 57     636
 63     628
 53     614
 58     607
 64     594
 65     589
 55     587
 52     585
 54     567
 51     515
 66     495
 50     466
 67     452
 48     440
 49     417
 68     391
 47     379
 69     341
 70     307
 46     301
 45     272
 71     260
 44     226
 43     225
 72     210
 42     170
 73     167
 41     153
 40     130
 74     116
 75     116
 39     109
 38     101
 76      74
 37      62
 36      60
 77      54
 35      46
 78      42
 34      31
 79      31
 80      17
 82       8
 83       6
 81       6
 33       6
 32       6
 85       2
 31       2
 84       1
 30       1
Name: RWB, dtype: int64

## LB

In [81]:
new = df["LB"].str.split("+", n = 1, expand = True)
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df['LB1']=df[0]
df.drop([1], axis=1, inplace= True)
print(df.loc[0:5, ['LB', 'LB1']])
print("\n")
print(df.loc[13280:13285, ['LB', 'LB1']])
df.drop(['LB', 0], axis=1, inplace= True)
df.rename(columns={"LB1": "LB"} , inplace=True)
print("\n")
print('Missing values:', df.LB.isna().sum())
df['LB'] = df['LB'].fillna(-99)
df['LB']= df['LB'].apply(lambda x: int(x))
del new

     LB  LB1
0  59+2   59
1  61+3   61
2  60+3   60
3   NaN  NaN
4  73+3   73
5  60+3   60


         LB  LB1
13280   NaN  NaN
13281   NaN  NaN
13282   NaN  NaN
13283   NaN  NaN
13284  61+2   61
13285  61+2   61


Missing values: 2085

In [82]:
print('Unique values:', df.LB.unique())
print('Number of unique values:', len(df.LB.unique()))
print('Missing values:', df.LB.isna().sum())
print("\n")
print('Description:')
print(df['LB'].describe())
print("\n")
print('Frequency:')
print(df['LB'].value_counts())

Unique values: [ 59  61  60 -99  73  79  66  84  58  77  64  56  62  67  78  65  53  68
  80  71  51  81  52  75  57  63  69  83  76  82  74  72  54  55  70  50
  49  46  48  45  47  44  43  42  41  40  38  39  36  34  35  37  33  32
  31  30  29]
Number of unique values: 57
Missing values: 0


Description:
count    18207.000000
mean        38.964354
std         50.417681
min        -99.000000
25%         46.000000
50%         56.000000
75%         63.000000
max         84.000000
Name: LB, dtype: float64


Frequency:
-99    2085
 61     676
 58     672
 59     663
 63     658
 64     653
 60     637
 62     606
 57     579
 65     574
 54     551
 56     540
 55     523
 66     514
 53     499
 52     497
 51     496
 67     483
 49     453
 50     443
 48     406
 68     375
 47     373
 46     365
 45     332
 69     315
 70     313
 44     306
 43     269
 71     247
 42     241
 41     226
 72     201
 40     184
 39     152
 38     144
 73     143
 74     113
 75     111
 37     107
 36      91
 76      70
 35      68
 34      52
 77      47
 78      37
 33      33
 79      25
 80      17
 32      15
 82       8
 81       5
 84       5
 31       5
 83       2
 29       1
 30       1
Name: LB, dtype: int64

## CB

In [83]:
new = df["CB"].str.split("+", n = 1, expand = True)
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df['CB1']=df[0]
df.drop([1], axis=1, inplace= True)
print(df.loc[0:5, ['CB', 'CB1']])
print("\n")
print(df.loc[13280:13285, ['CB', 'CB1']])
df.drop(['CB', 0], axis=1, inplace= True)
df.rename(columns={"CB1": "CB"} , inplace=True)
print("\n")
print('Missing values:', df.CB.isna().sum())
df['CB'] = df['CB'].fillna(-99)
df['CB']= df['CB'].apply(lambda x: int(x))
del new

     CB  CB1
0  47+2   47
1  53+3   53
2  47+3   47
3   NaN  NaN
4  66+3   66
5  49+3   49


         CB  CB1
13280   NaN  NaN
13281   NaN  NaN
13282   NaN  NaN
13283   NaN  NaN
13284  56+2   56
13285  60+2   60


Missing values: 2085

In [84]:
print('Unique values:', df.CB.unique())
print('Number of unique values:', len(df.CB.unique()))
print('Missing values:', df.CB.isna().sum())
print("\n")
print('Description:')
print(df['CB'].describe())
print("\n")
print('Frequency:')
print(df['CB'].value_counts())

Unique values: [ 47  53 -99  66  49  71  63  87  57  72  83  45  60  61  82  86  54  85
  58  44  52  81  67  48  84  51  74  55  78  46  70  76  59  73  40  79
  50  77  69  80  68  75  41  64  56  42  62  43  38  65  39  37  36  35
  32  34  33  31  27  29  30  28  25]
Number of unique values: 63
Missing values: 0


Description:
count    18207.000000
mean        37.908716
std         50.452895
min        -99.000000
25%         42.000000
50%         55.000000
75%         64.000000
max         87.000000
Name: CB, dtype: float64


Frequency:
-99    2085
 63     639
 62     621
 64     596
 65     581
 61     576
 66     537
 60     503
 67     485
 59     480
 68     479
 57     437
 58     421
 46     378
 56     378
 45     376
 51     365
 44     362
 69     361
 43     357
 47     351
 70     350
 41     342
 55     341
 54     340
 52     339
 53     338
 48     334
 42     331
 50     329
       ...
 72     282
 39     270
 37     270
 38     264
 36     220
 73     200
 35     185
 74     162
 34     156
 33     134
 75     130
 32     107
 76      82
 31      67
 77      62
 30      57
 79      41
 78      41
 81      35
 80      24
 29      22
 82      14
 28      13
 83      11
 84       8
 27       8
 85       3
 87       2
 86       1
 25       1
Name: CB, Length: 63, dtype: int64

## RB

In [85]:
new = df["RB"].str.split("+", n = 1, expand = True)
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df['RB1']=df[0]
df.drop([1], axis=1, inplace= True)
print(df.loc[0:5, ['RB', 'RB1']])
print("\n")
print(df.loc[13280:13285, ['RB', 'RB1']])
df.drop(['RB', 0], axis=1, inplace= True)
df.rename(columns={"RB1": "RB"} , inplace=True)
print("\n")
print('Missing values:', df.RB.isna().sum())
df['RB'] = df['RB'].fillna(-99)
df['RB']= df['RB'].apply(lambda x: int(x))
del new

     RB  RB1
0  59+2   59
1  61+3   61
2  60+3   60
3   NaN  NaN
4  73+3   73
5  60+3   60


         RB  RB1
13280   NaN  NaN
13281   NaN  NaN
13282   NaN  NaN
13283   NaN  NaN
13284  61+2   61
13285  61+2   61


Missing values: 2085

In [86]:
print('Unique values:', df.RB.unique())
print('Number of unique values:', len(df.RB.unique()))
print('Missing values:', df.RB.isna().sum())
print("\n")
print('Description:')
print(df['RB'].describe())
print("\n")
print('Frequency:')
print(df['RB'].value_counts())

Unique values: [ 59  61  60 -99  73  79  66  84  58  77  64  56  62  67  78  65  53  68
  80  71  51  81  52  75  57  63  69  83  76  82  74  72  54  55  70  50
  49  46  48  45  47  44  43  42  41  40  38  39  36  34  35  37  33  32
  31  30  29]
Number of unique values: 57
Missing values: 0


Description:
count    18207.000000
mean        38.964354
std         50.417681
min        -99.000000
25%         46.000000
50%         56.000000
75%         63.000000
max         84.000000
Name: RB, dtype: float64


Frequency:
-99    2085
 61     676
 58     672
 59     663
 63     658
 64     653
 60     637
 62     606
 57     579
 65     574
 54     551
 56     540
 55     523
 66     514
 53     499
 52     497
 51     496
 67     483
 49     453
 50     443
 48     406
 68     375
 47     373
 46     365
 45     332
 69     315
 70     313
 44     306
 43     269
 71     247
 42     241
 41     226
 72     201
 40     184
 39     152
 38     144
 73     143
 74     113
 75     111
 37     107
 36      91
 76      70
 35      68
 34      52
 77      47
 78      37
 33      33
 79      25
 80      17
 32      15
 82       8
 81       5
 84       5
 31       5
 83       2
 29       1
 30       1
Name: RB, dtype: int64

## ST

In [87]:
new = df["ST"].str.split("+", n = 1, expand = True)
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df['ST1']=df[0]
df.drop([1], axis=1, inplace= True)
print(df.loc[0:5, ['ST', 'ST1']])
print("\n")
print(df.loc[13280:13285, ['ST', 'ST1']])
df.drop(['ST', 0], axis=1, inplace= True)
df.rename(columns={"ST1": "ST"} , inplace=True)
print("\n")
print('Missing values:', df.ST.isna().sum())
df['ST'] = df['ST'].fillna(-99)
df['ST']= df['ST'].apply(lambda x: int(x))
del new

     ST  ST1
0  88+2   88
1  91+3   91
2  84+3   84
3   NaN  NaN
4  82+3   82
5  83+3   83


         ST  ST1
13280   NaN  NaN
13281   NaN  NaN
13282   NaN  NaN
13283   NaN  NaN
13284  46+2   46
13285  52+2   52


Missing values: 2085

In [88]:
print('Unique values:', df.ST.unique())
print('Number of unique values:', len(df.ST.unique()))
print('Missing values:', df.ST.isna().sum())
print("\n")
print('Description:')
print(df['ST'].describe())
print("\n")
print('Frequency:')
print(df['ST'].value_counts())

Unique values: [ 88  91  84 -99  82  83  77  87  73  78  64  72  86  71  85  58  80  76
  79  69  66  70  52  81  68  75  62  74  67  65  61  57  49  63  60  56
  59  55  53  51  54  50  48  47  46  42  44  45  43  40  39  37  41  38
  36  34  35  31  33  32]
Number of unique values: 60
Missing values: 0


Description:
count    18207.000000
mean        39.857527
std         50.667494
min        -99.000000
25%         48.000000
50%         57.000000
75%         64.000000
max         91.000000
Name: ST, dtype: float64


Frequency:
-99    2085
 61     714
 60     698
 59     694
 63     673
 64     671
 58     666
 57     654
 62     628
 56     604
 54     571
 66     566
 65     560
 55     551
 53     543
 67     503
 52     502
 51     484
 68     439
 49     413
 50     410
 48     384
 69     363
 47     336
 70     329
 46     322
 45     290
 44     270
 71     262
 43     217
 72     209
 42     185
 73     184
 41     158
 40     153
 39     132
 74     128
 75     102
 76      82
 38      77
 77      56
 36      55
 37      51
 78      46
 35      35
 34      33
 79      28
 81      20
 80      17
 82      12
 33      12
 32       8
 84       5
 83       4
 86       4
 85       3
 87       2
 31       2
 88       1
 91       1
Name: ST, dtype: int64

## LW

In [89]:
new = df['LW'].str.split("+", n = 1, expand = True)
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df['LW1']=df[0]
df.drop([1], axis=1, inplace= True)
print(df.loc[0:5, ['LW', 'LW1']])
print("\n")
print(df.loc[13280:13285, ['LW', 'LW1']])
df.drop(['LW', 0], axis=1, inplace= True)
df.rename(columns={"LW1": "LW"} , inplace=True)
print("\n")
print('Missing values:', df.LW.isna().sum())
df['LW'] = df['LW'].fillna(-99)
df['LW']= df['LW'].apply(lambda x: int(x))
del new

     LW  LW1
0  92+2   92
1  89+3   89
2  89+3   89
3   NaN  NaN
4  87+3   87
5  89+3   89


         LW  LW1
13280   NaN  NaN
13281   NaN  NaN
13282   NaN  NaN
13283   NaN  NaN
13284  53+2   53
13285  56+2   56


Missing values: 2085

In [90]:
print('Unique values:', df.LW.unique())
print('Number of unique values:', len(df.LW.unique()))
print('Missing values:', df.LW.isna().sum())
print("\n")
print('Description:')
print(df['LW'].describe())
print("\n")
print('Frequency:')
print(df['LW'].value_counts())

Unique values: [ 92  89 -99  87  85  86  70  83  81  61  77  82  74  54  69  84  68  66
  76  51  79  80  64  65  78  71  63  57  75  56  49  59  62  60  58  72
  52  55  44  67  73  53  50  48  47  42  45  41  43  46  40  38  39  34
  35  36  37  33  32  28  30  31  29  27  25]
Number of unique values: 65
Missing values: 0


Description:
count    18207.000000
mean        40.939748
std         51.174568
min        -99.000000
25%         49.000000
50%         59.000000
75%         65.000000
max         92.000000
Name: LW, dtype: float64


Frequency:
-99    2085
 63     750
 61     712
 62     690
 64     681
 59     681
 60     680
 65     679
 66     632
 57     612
 58     609
 67     552
 55     551
 68     542
 56     531
 54     515
 69     443
 70     404
 53     400
 52     389
 71     349
 51     348
 50     332
 49     317
 72     282
 48     265
 47     241
 73     234
 74     226
 45     204
       ...
 75     149
 40     134
 39     124
 38     119
 76     118
 37      96
 77      88
 36      86
 35      82
 34      65
 79      56
 78      56
 33      47
 80      39
 32      36
 81      32
 82      31
 31      27
 30      13
 84      13
 83      10
 29       6
 86       6
 87       5
 85       4
 89       3
 27       2
 92       1
 25       1
 28       1
Name: LW, Length: 65, dtype: int64

## CF

In [91]:
new = df["CF"].str.split("+", n = 1, expand = True)
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df['CF1']=df[0]
df.drop([1], axis=1, inplace= True)
print(df.loc[0:5, ['CF', 'CF1']])
print("\n")
print(df.loc[13280:13285, ['CF', 'CF1']])
df.drop(['CF', 0], axis=1, inplace= True)
df.rename(columns={"CF1": "CF"} , inplace=True)
print("\n")
print('Missing values:', df.CF.isna().sum())
df['CF'] = df['CF'].fillna(-99)
df['CF']= df['CF'].apply(lambda x: int(x))

     CF  CF1
0  93+2   93
1  90+3   90
2  89+3   89
3   NaN  NaN
4  87+3   87
5  88+3   88


         CF  CF1
13280   NaN  NaN
13281   NaN  NaN
13282   NaN  NaN
13283   NaN  NaN
13284  50+2   50
13285  55+2   55


Missing values: 2085

In [92]:
print('Unique values:', df.CF.unique())
print('Number of unique values:', len(df.CF.unique()))
print('Missing values:', df.CF.isna().sum())
print("\n")
print('Description:')
print(df['CF'].describe())
print("\n")
print('Frequency:')
print(df['CF'].value_counts())

Unique values: [ 93  90  89 -99  87  88  84  71  86  82  62  77  76  83  55  73  85  69
  67  81  52  79  66  63  75  70  65  78  58  57  48  61  64  80  74  59
  60  51  68  56  53  72  47  54  50  46  45  49  43  42  41  40  44  39
  36  38  35  37  33  34  30  31  32  27  29]
Number of unique values: 65
Missing values: 0


Description:
count    18207.000000
mean        40.657934
std         51.068122
min        -99.000000
25%         48.000000
50%         58.000000
75%         65.000000
max         93.000000
Name: CF, dtype: float64


Frequency:
-99    2085
 61     719
 63     696
 62     689
 64     683
 60     679
 59     669
 58     644
 65     640
 66     610
 57     596
 56     548
 68     531
 67     523
 55     515
 54     493
 53     443
 69     428
 52     407
 51     404
 70     368
 50     355
 71     346
 49     318
 72     297
 48     267
 47     266
 46     255
 45     234
 73     229
       ...
 41     131
 75     124
 38     123
 39     119
 76      99
 36      91
 37      88
 77      87
 78      70
 35      65
 79      52
 34      49
 33      43
 80      39
 31      35
 81      35
 32      25
 82      22
 83      15
 30      12
 84       9
 87       5
 85       4
 86       4
 29       3
 27       2
 90       1
 93       1
 89       1
 88       1
Name: CF, Length: 65, dtype: int64

## RW

In [93]:
new = df["RW"].str.split("+", n = 1, expand = True)
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df['RW1']=df[0]
df.drop([1], axis=1, inplace= True)
print(df.loc[0:5, ['RW', 'RW1']])
print("\n")
print(df.loc[13280:13285, ['RW', 'RW1']])
df.drop(['RW', 0], axis=1, inplace= True)
df.rename(columns={"RW1": "RW"} , inplace=True)
print("\n")
print('Missing values:', df.RW.isna().sum())
df['RW'] = df['RW'].fillna(-99)
df['RW']= df['RW'].apply(lambda x: int(x))
del new

     RW  RW1
0  92+2   92
1  89+3   89
2  89+3   89
3   NaN  NaN
4  87+3   87
5  89+3   89


         RW  RW1
13280   NaN  NaN
13281   NaN  NaN
13282   NaN  NaN
13283   NaN  NaN
13284  53+2   53
13285  56+2   56


Missing values: 2085

In [94]:
print('Unique values:', df.RW.unique())
print('Number of unique values:', len(df.RW.unique()))
print('Missing values:', df.RW.isna().sum())
print("\n")
print('Description:')
print(df['RW'].describe())
print("\n")
print('Frequency:')
print(df['RW'].value_counts())

Unique values: [ 92  89 -99  87  85  86  70  83  81  61  77  82  74  54  69  84  68  66
  76  51  79  80  64  65  78  71  63  57  75  56  49  59  62  60  58  72
  52  55  44  67  73  53  50  48  47  42  45  41  43  46  40  38  39  34
  35  36  37  33  32  28  30  31  29  27  25]
Number of unique values: 65
Missing values: 0


Description:
count    18207.000000
mean        40.939748
std         51.174568
min        -99.000000
25%         49.000000
50%         59.000000
75%         65.000000
max         92.000000
Name: RW, dtype: float64


Frequency:
-99    2085
 63     750
 61     712
 62     690
 64     681
 59     681
 60     680
 65     679
 66     632
 57     612
 58     609
 67     552
 55     551
 68     542
 56     531
 54     515
 69     443
 70     404
 53     400
 52     389
 71     349
 51     348
 50     332
 49     317
 72     282
 48     265
 47     241
 73     234
 74     226
 45     204
       ...
 75     149
 40     134
 39     124
 38     119
 76     118
 37      96
 77      88
 36      86
 35      82
 34      65
 79      56
 78      56
 33      47
 80      39
 32      36
 81      32
 82      31
 31      27
 30      13
 84      13
 83      10
 29       6
 86       6
 87       5
 85       4
 89       3
 27       2
 92       1
 25       1
 28       1
Name: RW, Length: 65, dtype: int64

## CAM

In [95]:
new = df["CAM"].str.split("+", n = 1, expand = True)
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df['CAM1']=df[0]
df.drop([1], axis=1, inplace= True)
print(df.loc[0:5, ['CAM', 'CAM1']])
print("\n")
print(df.loc[13280:13285, ['CAM', 'CAM1']])
df.drop(['CAM', 0], axis=1, inplace= True)
df.rename(columns={"CAM1": "CAM"} , inplace=True)
print("\n")
print('Missing values:', df.CAM.isna().sum())
df['CAM'] = df['CAM'].fillna(-99)
df['CAM']= df['CAM'].apply(lambda x: int(x))
del new

    CAM CAM1
0  93+2   93
1  88+3   88
2  89+3   89
3   NaN  NaN
4  88+3   88
5  89+3   89


        CAM CAM1
13280   NaN  NaN
13281   NaN  NaN
13282   NaN  NaN
13283   NaN  NaN
13284  52+2   52
13285  55+2   55


Missing values: 2085

In [96]:
print('Unique values:', df.CAM.unique())
print('Number of unique values:', len(df.CAM.unique()))
print('Missing values:', df.CAM.isna().sum())
print("\n")
print('Description:')
print(df['CAM'].describe())
print("\n")
print('Frequency:')
print(df['CAM'].value_counts())

Unique values: [ 93  88  89 -99  87  85  71  83  84  62  79  82  86  80  54  74  81  70
  69  76  52  78  67  64  72  68  57  77  58  49  66  75  65  59  61  50
  63  73  56  60  46  53  55  51  48  47  45  42  41  44  43  38  40  37
  39  35  36  34  33  29  32  31  30  28  27]
Number of unique values: 65
Missing values: 0


Description:
count    18207.000000
mean        40.891470
std         51.138677
min        -99.000000
25%         49.000000
50%         58.000000
75%         65.000000
max         93.000000
Name: CAM, dtype: float64


Frequency:
-99    2085
 61     750
 62     727
 60     705
 63     679
 59     676
 58     670
 64     664
 65     645
 57     613
 66     613
 67     561
 56     559
 55     525
 54     489
 68     486
 53     442
 69     441
 52     409
 70     401
 51     387
 50     339
 71     324
 49     309
 72     283
 48     270
 73     262
 47     255
 46     243
 45     208
       ...
 40     140
 41     127
 39     103
 76     101
 38     101
 37      87
 79      70
 77      67
 36      66
 35      65
 78      63
 34      52
 80      45
 81      42
 32      35
 33      33
 31      29
 30      26
 82      25
 83      13
 29      11
 84      10
 86       7
 85       6
 87       4
 28       3
 89       2
 88       2
 27       1
 93       1
Name: CAM, Length: 65, dtype: int64

## LM

In [97]:
new = df["LM"].str.split("+", n = 1, expand = True)
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df['LM1']=df[0]
df.drop([1], axis=1, inplace= True)
print(df.loc[0:5, ['LM', 'LM1']])
print("\n")
print(df.loc[13280:13285, ['LM', 'LM1']])
df.drop(['LM', 0], axis=1, inplace= True)
df.rename(columns={"LM1": "LM"} , inplace=True)
print("\n")
print('Missing values:', df.LM.isna().sum())
df['LM'] = df['LM'].fillna(-99)
df['LM']= df['LM'].apply(lambda x: int(x))
del new

     LM  LM1
0  91+2   91
1  88+3   88
2  88+3   88
3   NaN  NaN
4  88+3   88
5  89+3   89


         LM  LM1
13280   NaN  NaN
13281   NaN  NaN
13282   NaN  NaN
13283   NaN  NaN
13284  56+2   56
13285  57+2   57


Missing values: 2085

In [98]:
print('Unique values:', df.LM.unique())
print('Number of unique values:', len(df.LM.unique()))
print('Missing values:', df.LM.isna().sum())
print("\n")
print('Description:')
print(df['LM'].describe())
print("\n")
print('Frequency:')
print(df['LM'].value_counts())

Unique values: [ 91  88 -99  89  86  84  72  81  82  63  85  79  76  83  56  71  70  78
  69  74  55  77  66  67  64  80  65  68  60  53  61  75  62  58  52  57
  54  59  48  73  51  47  50  44  45  49  46  39  43  41  38  42  40  37
  36  29  35  34  33  32  31  30  28  27]
Number of unique values: 64
Missing values: 0


Description:
count    18207.000000
mean        41.556984
std         51.289475
min        -99.000000
25%         50.000000
50%         59.000000
75%         65.000000
max         91.000000
Name: LM, dtype: float64


Frequency:
-99    2085
 61     807
 62     760
 60     750
 63     748
 64     718
 65     705
 59     692
 66     672
 67     631
 57     612
 58     597
 56     583
 55     525
 68     520
 69     476
 54     465
 70     427
 53     400
 52     390
 51     370
 71     364
 50     307
 49     288
 72     282
 73     260
 48     252
 47     218
 74     208
 46     185
       ...
 42     132
 41     118
 40     110
 39      99
 76      97
 77      92
 38      74
 37      74
 78      63
 79      60
 36      47
 35      46
 34      44
 80      40
 81      31
 33      29
 82      23
 32      15
 83      15
 86       6
 85       6
 31       5
 84       5
 88       3
 29       2
 30       2
 28       1
 27       1
 89       1
 91       1
Name: LM, Length: 64, dtype: int64

## CM

In [99]:
new = df["CM"].str.split("+", n = 1, expand = True)
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df['CM1']=df[0]
df.drop([1], axis=1, inplace= True)
print(df.loc[0:5, ['CM', 'CM1']])
print("\n")
print(df.loc[13280:13285, ['CM', 'CM1']])
df.drop(['CM', 0], axis=1, inplace= True)
df.rename(columns={"CM1": "CM"} , inplace=True)
print("\n")
print('Missing values:', df.CM.isna().sum())
df['CM'] = df['CM'].fillna(-99)
df['CM']= df['CM'].apply(lambda x: int(x))
del new

     CM  CM1
0  84+2   84
1  81+3   81
2  81+3   81
3   NaN  NaN
4  87+3   87
5  82+3   82


         CM  CM1
13280   NaN  NaN
13281   NaN  NaN
13282   NaN  NaN
13283   NaN  NaN
13284  55+2   55
13285  55+2   55


Missing values: 2085

In [100]:
print('Unique values:', df.CM.unique())
print('Number of unique values:', len(df.CM.unique()))
print('Missing values:', df.CM.isna().sum())
print("\n")
print('Description:')
print(df['CM'].describe())
print("\n")
print('Frequency:')
print(df['CM'].value_counts())

Unique values: [ 84  81 -99  87  82  88  79  75  77  86  68  85  80  83  76  60  78  73
  71  58  72  70  74  69  62  65  56  67  63  66  59  64  61  54  57  52
  55  50  51  45  53  44  47  48  49  46  43  41  39  40  42  38  34  35
  37  36  33  31  32  30]
Number of unique values: 60
Missing values: 0


Description:
count    18207.000000
mean        40.216510
std         50.743608
min        -99.000000
25%         49.000000
50%         57.000000
75%         63.000000
max         88.000000
Name: CM, dtype: float64


Frequency:
-99    2085
 58     764
 62     749
 60     744
 61     736
 59     729
 57     667
 63     656
 56     655
 55     645
 64     642
 53     631
 54     602
 65     555
 66     551
 52     525
 51     448
 67     437
 50     433
 49     407
 68     395
 69     373
 47     331
 48     320
 70     301
 71     270
 46     264
 45     245
 72     223
 44     203
 43     185
 73     172
 42     153
 74     134
 41     122
 75     117
 40      91
 39      78
 76      74
 77      70
 38      66
 78      55
 37      41
 79      38
 36      38
 34      37
 80      31
 35      28
 81      20
 33      16
 32      15
 82      13
 83       9
 84       8
 31       4
 85       2
 86       1
 87       1
 88       1
 30       1
Name: CM, dtype: int64

## RM

In [101]:
new = df["RM"].str.split("+", n = 1, expand = True)
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df['RM1']=df[0]
df.drop([1], axis=1, inplace= True)
print(df.loc[0:5, ['RM', 'RM1']])
print("\n")
print(df.loc[13280:13285, ['RM', 'RM1']])
df.drop(['RM', 0], axis=1, inplace= True)
df.rename(columns={"RM1": "RM"} , inplace=True)
print("\n")
print('Missing values:', df.RM.isna().sum())
df['RM'] = df['RM'].fillna(-99)
df['RM']= df['RM'].apply(lambda x: int(x))
del new

     RM  RM1
0  91+2   91
1  88+3   88
2  88+3   88
3   NaN  NaN
4  88+3   88
5  89+3   89


         RM  RM1
13280   NaN  NaN
13281   NaN  NaN
13282   NaN  NaN
13283   NaN  NaN
13284  56+2   56
13285  57+2   57


Missing values: 2085

In [102]:
print('Unique values:', df.RM.unique())
print('Number of unique values:', len(df.RM.unique()))
print('Missing values:', df.RM.isna().sum())
print("\n")
print('Description:')
print(df['RM'].describe())
print("\n")
print('Frequency:')
print(df['RM'].value_counts())

Unique values: [ 91  88 -99  89  86  84  72  81  82  63  85  79  76  83  56  71  70  78
  69  74  55  77  66  67  64  80  65  68  60  53  61  75  62  58  52  57
  54  59  48  73  51  47  50  44  45  49  46  39  43  41  38  42  40  37
  36  29  35  34  33  32  31  30  28  27]
Number of unique values: 64
Missing values: 0


Description:
count    18207.000000
mean        41.556984
std         51.289475
min        -99.000000
25%         50.000000
50%         59.000000
75%         65.000000
max         91.000000
Name: RM, dtype: float64


Frequency:
-99    2085
 61     807
 62     760
 60     750
 63     748
 64     718
 65     705
 59     692
 66     672
 67     631
 57     612
 58     597
 56     583
 55     525
 68     520
 69     476
 54     465
 70     427
 53     400
 52     390
 51     370
 71     364
 50     307
 49     288
 72     282
 73     260
 48     252
 47     218
 74     208
 46     185
       ...
 42     132
 41     118
 40     110
 39      99
 76      97
 77      92
 38      74
 37      74
 78      63
 79      60
 36      47
 35      46
 34      44
 80      40
 81      31
 33      29
 82      23
 32      15
 83      15
 86       6
 85       6
 31       5
 84       5
 88       3
 29       2
 30       2
 28       1
 27       1
 89       1
 91       1
Name: RM, Length: 64, dtype: int64

## CDM

In [103]:
new = df["CDM"].str.split("+", n = 1, expand = True)
df=pd.merge(df,new,left_index=True,right_index=True,how="inner")
df['CDM1']=df[0]
df.drop([1], axis=1, inplace= True)
print(df.loc[0:5, ['CDM', 'CDM1']])
print("\n")
print(df.loc[13280:13285, ['CDM', 'CDM1']])
df.drop(['CDM', 0], axis=1, inplace= True)
df.rename(columns={"CDM1": "CDM"} , inplace=True)
print("\n")
print('Missing values:', df.CDM.isna().sum())
df['CDM'] = df['CDM'].fillna(-99)
df['CDM']= df['CDM'].apply(lambda x: int(x))
del new

    CDM CDM1
0  61+2   61
1  61+3   61
2  60+3   60
3   NaN  NaN
4  77+3   77
5  63+3   63


        CDM CDM1
13280   NaN  NaN
13281   NaN  NaN
13282   NaN  NaN
13283   NaN  NaN
13284  58+2   58
13285  59+2   59


Missing values: 2085

In [104]:
print('Unique values:', df.CDM.unique())
print('Number of unique values:', len(df.CDM.unique()))
print('Missing values:', df.CDM.isna().sum())
print("\n")
print('Description:')
print(df['CDM'].describe())
print("\n")
print('Frequency:')
print(df['CDM'].value_counts())

Unique values: [ 61  60 -99  77  63  81  68  84  62  82  70  87  58  66  67  86  65  56
  76  85  73  71  83  53  75  78  80  79  59  64  74  72  57  54  51  69
  55  52  48  49  50  46  43  47  45  42  44  40  41  39  36  38  37  35
  34  33  32  31  30  29  28]
Number of unique values: 61
Missing values: 0


Description:
count    18207.000000
mean        38.980612
std         50.518238
min        -99.000000
25%         46.000000
50%         56.000000
75%         63.000000
max         87.000000
Name: CDM, dtype: float64


Frequency:
-99    2085
 62     667
 60     637
 61     629
 59     602
 64     596
 58     580
 63     579
 65     543
 57     536
 56     532
 66     530
 54     509
 55     488
 53     477
 51     473
 52     450
 49     450
 50     440
 68     432
 67     430
 48     427
 47     396
 69     368
 46     360
 44     339
 45     327
 70     312
 43     282
 71     279
       ...
 41     218
 72     217
 73     196
 40     173
 39     173
 38     158
 74     157
 37     117
 75     103
 35      94
 76      91
 36      88
 34      70
 77      64
 78      54
 33      48
 32      43
 79      31
 80      28
 31      27
 81      23
 30      11
 83      10
 82       9
 29       4
 84       2
 85       1
 86       1
 87       1
 28       1
Name: CDM, Length: 61, dtype: int64

## crossing

In [105]:
df.rename(columns={"Crossing": "crossing"} , inplace=True)
print('Unique values:', df.crossing.unique())
print('Number of unique values:', len(df.crossing.unique()))
print('Missing values:', df.crossing.isna().sum())
print("\n")
print('Description:')
print(df['crossing'].describe())
print("\n")
print('Frequency:')
print(df['crossing'].value_counts())

Unique values: [84. 79. 17. 93. 81. 86. 77. 66. 13. 62. 88. 55. 68. 82. 75. 15. 14. 70.
 58. 78. 52. 90. 64. 87. 60. 12. 69. 46. 30. 80. 11. 57. 83. 85. 20. 73.
 53. 72. 36. 44. 45. 40. 27. 76. 63. 65. 48. 61. 47. 89. 19. 49.  9. 71.
 74. 24. 18. 38. 92. 56. 67. 35. 25. 50. 29. 10. 42. 54. 59. 91. 51. 43.
 33. 34. 16. 39. 28.  8. 21. 23. 41. 32. 37. 31. 22.  7. 26.  6.  5. nan]
Number of unique values: 90
Missing values: 48


Description:
count    18159.000000
mean        49.734181
std         18.364524
min          5.000000
25%         38.000000
50%         54.000000
75%         64.000000
max         93.000000
Name: crossing, dtype: float64


Frequency:
62.0    528
65.0    528
60.0    518
59.0    508
64.0    497
58.0    491
63.0    465
61.0    446
55.0    431
66.0    429
68.0    425
57.0    420
56.0    414
67.0    404
54.0    389
52.0    377
53.0    343
70.0    337
69.0    329
49.0    310
50.0    300
51.0    299
48.0    295
45.0    294
46.0    290
13.0    284
11.0    269
12.0    267
14.0    265
47.0    263
       ...
20.0    112
78.0    109
26.0    104
16.0     93
22.0     91
17.0     89
19.0     85
24.0     80
23.0     79
21.0     78
79.0     71
80.0     53
9.0      39
82.0     33
81.0     32
83.0     30
8.0      23
84.0     18
86.0     16
85.0     10
7.0       9
87.0      5
91.0      4
88.0      3
6.0       3
90.0      3
89.0      2
92.0      1
93.0      1
5.0       1
Name: crossing, Length: 89, dtype: int64

Filling missing values with the ‘-99’ value:

In [106]:
df['crossing'] = df['crossing'].fillna(-99)
df['crossing']= df['crossing'].apply(lambda x: int(x))

In [107]:
print('Unique values:', df.crossing.unique())
print('Number of unique values:', len(df.crossing.unique()))
print('Missing values:', df.crossing.isna().sum())
print("\n")
print('Description:')
print(df['crossing'].describe())
print("\n")
print('Frequency:')
print(df['crossing'].value_counts())

Unique values: [ 84  79  17  93  81  86  77  66  13  62  88  55  68  82  75  15  14  70
  58  78  52  90  64  87  60  12  69  46  30  80  11  57  83  85  20  73
  53  72  36  44  45  40  27  76  63  65  48  61  47  89  19  49   9  71
  74  24  18  38  92  56  67  35  25  50  29  10  42  54  59  91  51  43
  33  34  16  39  28   8  21  23  41  32  37  31  22   7  26   6   5 -99]
Number of unique values: 90
Missing values: 0


Description:
count    18207.000000
mean        49.342066
std         19.862954
min        -99.000000
25%         38.000000
50%         54.000000
75%         64.000000
max         93.000000
Name: crossing, dtype: float64


Frequency:
 62    528
 65    528
 60    518
 59    508
 64    497
 58    491
 63    465
 61    446
 55    431
 66    429
 68    425
 57    420
 56    414
 67    404
 54    389
 52    377
 53    343
 70    337
 69    329
 49    310
 50    300
 51    299
 48    295
 45    294
 46    290
 13    284
 11    269
 12    267
 14    265
 47    263
      ...
 78    109
 26    104
 16     93
 22     91
 17     89
 19     85
 24     80
 23     79
 21     78
 79     71
 80     53
-99     48
 9      39
 82     33
 81     32
 83     30
 8      23
 84     18
 86     16
 85     10
 7       9
 87      5
 91      4
 88      3
 90      3
 6       3
 89      2
 5       1
 92      1
 93      1
Name: crossing, Length: 90, dtype: int64

## finishing

In [108]:
df.rename(columns={"Finishing": "finishing"} , inplace=True)
print('Unique values:', df.finishing.unique())
print('Number of unique values:', len(df.finishing.unique()))
print('Missing values:', df.finishing.isna().sum())
print("\n")
print('Description:')
print(df['finishing'].describe())
print("\n")
print('Frequency:')
print(df['finishing'].value_counts())

Unique values: [95. 94. 87. 13. 82. 84. 72. 93. 60. 11. 91. 76. 42. 65. 90. 14. 67. 89.
 33. 88. 59. 83. 77. 79. 80. 55. 70. 86. 10. 92. 38. 15. 51. 19. 73. 56.
 64. 81. 75. 52. 40. 69. 46. 48. 45. 47. 66. 78. 63. 54. 12. 34. 57. 43.
 37. 20. 41. 85. 18. 25.  9. 71. 44. 27. 21. 74. 31. 68. 39. 62. 29. 61.
 32. 50. 16. 53.  8. 23. 58. 30. 49. 17. 36. 28. 35. 26.  6. 22. 24.  7.
  5.  2.  4. nan]
Number of unique values: 94
Missing values: 48


Description:
count    18159.000000
mean        45.550911
std         19.525820
min          2.000000
25%         30.000000
50%         49.000000
75%         62.000000
max         95.000000
Name: finishing, dtype: float64


Frequency:
58.0    462
59.0    433
62.0    430
60.0    427
65.0    424
66.0    401
64.0    399
57.0    384
61.0    382
55.0    374
63.0    373
67.0    345
68.0    340
56.0    336
48.0    330
54.0    328
52.0    320
45.0    289
32.0    287
53.0    281
70.0    280
50.0    277
42.0    275
49.0    269
69.0    267
40.0    258
30.0    257
35.0    250
34.0    244
41.0    241
       ...
9.0     163
16.0    150
8.0     142
10.0    140
75.0    132
7.0     115
76.0     96
6.0      95
5.0      80
77.0     76
78.0     71
80.0     60
79.0     46
81.0     29
84.0     20
83.0     18
82.0     15
85.0     10
86.0      9
87.0      8
88.0      7
4.0       5
90.0      3
93.0      2
2.0       2
89.0      2
94.0      2
91.0      2
92.0      1
95.0      1
Name: finishing, Length: 93, dtype: int64

Filling missing values with the ‘-99’ value:

In [109]:
df['finishing'] = df['finishing'].fillna(-99)
df['finishing']= df['finishing'].apply(lambda x: int(x))

In [110]:
print('Unique values:', df.finishing.unique())
print('Number of unique values:', len(df.finishing.unique()))
print('Missing values:', df.finishing.isna().sum())
print("\n")
print('Description:')
print(df['finishing'].describe())
print("\n")
print('Frequency:')
print(df['finishing'].value_counts())

Unique values: [ 95  94  87  13  82  84  72  93  60  11  91  76  42  65  90  14  67  89
  33  88  59  83  77  79  80  55  70  86  10  92  38  15  51  19  73  56
  64  81  75  52  40  69  46  48  45  47  66  78  63  54  12  34  57  43
  37  20  41  85  18  25   9  71  44  27  21  74  31  68  39  62  29  61
  32  50  16  53   8  23  58  30  49  17  36  28  35  26   6  22  24   7
   5   2   4 -99]
Number of unique values: 94
Missing values: 0


Description:
count    18207.000000
mean        45.169825
std         20.861368
min        -99.000000
25%         30.000000
50%         49.000000
75%         62.000000
max         95.000000
Name: finishing, dtype: float64


Frequency:
 58    462
 59    433
 62    430
 60    427
 65    424
 66    401
 64    399
 57    384
 61    382
 55    374
 63    373
 67    345
 68    340
 56    336
 48    330
 54    328
 52    320
 45    289
 32    287
 53    281
 70    280
 50    277
 42    275
 49    269
 69    267
 40    258
 30    257
 35    250
 34    244
 41    241
      ...
 16    150
 8     142
 10    140
 75    132
 7     115
 76     96
 6      95
 5      80
 77     76
 78     71
 80     60
-99     48
 79     46
 81     29
 84     20
 83     18
 82     15
 85     10
 86      9
 87      8
 88      7
 4       5
 90      3
 91      2
 2       2
 89      2
 93      2
 94      2
 92      1
 95      1
Name: finishing, Length: 94, dtype: int64

## heading_accuracy

In [111]:
df.rename(columns={"HeadingAccuracy": "heading_accuracy"} , inplace=True)
print('Unique values:', df.heading_accuracy.unique())
print('Number of unique values:', len(df.heading_accuracy.unique()))
print('Missing values:', df.heading_accuracy.isna().sum())
print("\n")
print('Description:')
print(df['heading_accuracy'].describe())
print("\n")
print('Frequency:')
print(df['heading_accuracy'].value_counts())

Unique values: [70. 89. 62. 21. 55. 61. 77. 91. 15. 85. 54. 92. 68. 84. 11. 13. 25. 83.
 59. 76. 56. 52. 48. 79. 87. 75. 10. 80. 81. 73. 86. 35. 74. 58. 72. 51.
 14. 82. 38. 50. 49. 60. 63. 19. 16. 46. 94. 69. 65. 12. 78. 90. 31. 41.
 43. 64. 42. 53. 17. 44. 45. 34. 67. 23. 57. 88. 71. 47. 40. 66. 36. 20.
 39. 93.  8. 18.  7. 37. 32. 24. 33.  9. 30. 22. 28. 27. 29. 26.  5.  6.
  4. nan]
Number of unique values: 92
Missing values: 48


Description:
count    18159.000000
mean        52.298144
std         17.379909
min          4.000000
25%         44.000000
50%         56.000000
75%         64.000000
max         94.000000
Name: heading_accuracy, dtype: float64


Frequency:
58.0    646
59.0    572
60.0    571
55.0    565
62.0    528
65.0    510
61.0    485
64.0    483
54.0    481
57.0    471
68.0    464
53.0    450
63.0    447
56.0    436
52.0    429
49.0    429
66.0    414
48.0    411
51.0    390
67.0    379
70.0    364
50.0    356
45.0    343
47.0    340
44.0    330
72.0    326
46.0    311
69.0    302
13.0    295
42.0    291
       ...
31.0     46
81.0     45
83.0     39
82.0     36
23.0     32
9.0      31
29.0     27
84.0     26
22.0     25
21.0     25
28.0     25
8.0      20
85.0     19
25.0     18
24.0     18
27.0     17
26.0     13
86.0     12
7.0       7
87.0      7
90.0      6
89.0      4
91.0      4
93.0      3
92.0      3
5.0       3
4.0       2
88.0      2
6.0       2
94.0      2
Name: heading_accuracy, Length: 91, dtype: int64

Filling missing values with the ‘-99’ value:

In [112]:
df['heading_accuracy'] = df['heading_accuracy'].fillna(-99)
df['heading_accuracy']= df['heading_accuracy'].apply(lambda x: int(x))

In [113]:
print('Unique values:', df.heading_accuracy.unique())
print('Number of unique values:', len(df.heading_accuracy.unique()))
print('Missing values:', df.heading_accuracy.isna().sum())
print("\n")
print('Description:')
print(df['heading_accuracy'].describe())
print("\n")
print('Frequency:')
print(df['heading_accuracy'].value_counts())

Unique values: [ 70  89  62  21  55  61  77  91  15  85  54  92  68  84  11  13  25  83
  59  76  56  52  48  79  87  75  10  80  81  73  86  35  74  58  72  51
  14  82  38  50  49  60  63  19  16  46  94  69  65  12  78  90  31  41
  43  64  42  53  17  44  45  34  67  23  57  88  71  47  40  66  36  20
  39  93   8  18   7  37  32  24  33   9  30  22  28  27  29  26   5   6
   4 -99]
Number of unique values: 92
Missing values: 0


Description:
count    18207.00000
mean        51.89927
std         19.01205
min        -99.00000
25%         44.00000
50%         56.00000
75%         64.00000
max         94.00000
Name: heading_accuracy, dtype: float64


Frequency:
58    646
59    572
60    571
55    565
62    528
65    510
61    485
64    483
54    481
57    471
68    464
53    450
63    447
56    436
52    429
49    429
66    414
48    411
51    390
67    379
70    364
50    356
45    343
47    340
44    330
72    326
46    311
69    302
13    295
42    291
     ...
31     46
81     45
83     39
82     36
23     32
9      31
29     27
84     26
22     25
21     25
28     25
8      20
85     19
24     18
25     18
27     17
26     13
86     12
87      7
7       7
90      6
91      4
89      4
92      3
93      3
5       3
6       2
4       2
88      2
94      2
Name: heading_accuracy, Length: 92, dtype: int64

## shortpassing

In [114]:
df.rename(columns={"ShortPassing": "shortpassing"} , inplace=True)
print('Unique values:', df.shortpassing.unique())
print('Number of unique values:', len(df.shortpassing.unique()))
print('Missing values:', df.shortpassing.isna().sum())
print("\n")
print('Description:')
print(df['shortpassing'].describe())
print("\n")
print('Frequency:')
print(df['shortpassing'].value_counts())

Unique values: [90. 81. 84. 50. 92. 89. 93. 82. 78. 29. 83. 79. 86. 87. 80. 36. 33. 55.
 59. 85. 91. 88. 77. 75. 37. 73. 66. 30. 74. 56. 76. 65. 70. 45. 60. 32.
 68. 71. 15. 39. 44. 72. 35. 24. 63. 25. 34. 31. 40. 19. 28. 67. 18. 38.
 47. 64. 69. 23. 21. 26. 17. 41. 20. 62. 11. 57. 22. 54. 48. 27. 61. 58.
 14. 42. 52. 53. 49. 16. 43. 51. 46. 13. 12.  8.  7. nan]
Number of unique values: 86
Missing values: 48


Description:
count    18159.000000
mean        58.686712
std         14.699495
min          7.000000
25%         54.000000
50%         62.000000
75%         68.000000
max         93.000000
Name: shortpassing, dtype: float64


Frequency:
64.0    876
65.0    789
62.0    763
63.0    742
68.0    735
66.0    729
67.0    699
60.0    627
70.0    590
58.0    577
61.0    545
69.0    544
59.0    543
72.0    489
57.0    451
71.0    443
56.0    427
55.0    410
73.0    400
74.0    387
54.0    366
75.0    306
53.0    303
52.0    302
76.0    258
51.0    208
77.0    197
78.0    194
48.0    192
49.0    179
       ...
36.0     80
34.0     74
39.0     71
82.0     67
81.0     67
37.0     66
21.0     65
20.0     65
19.0     59
18.0     53
84.0     48
17.0     47
15.0     46
83.0     44
16.0     37
85.0     26
12.0     18
86.0     18
14.0     16
13.0     12
89.0      9
90.0      7
11.0      7
88.0      6
87.0      6
93.0      2
7.0       2
92.0      2
8.0       1
91.0      1
Name: shortpassing, Length: 85, dtype: int64

Filling missing values with the ‘-99’ value:

In [115]:
df['shortpassing'] = df['shortpassing'].fillna(-99)
df['shortpassing']= df['shortpassing'].apply(lambda x: int(x))

In [116]:
print('Unique values:', df.shortpassing.unique())
print('Number of unique values:', len(df.shortpassing.unique()))
print('Missing values:', df.shortpassing.isna().sum())
print("\n")
print('Description:')
print(df['shortpassing'].describe())
print("\n")
print('Frequency:')
print(df['shortpassing'].value_counts())

Unique values: [ 90  81  84  50  92  89  93  82  78  29  83  79  86  87  80  36  33  55
  59  85  91  88  77  75  37  73  66  30  74  56  76  65  70  45  60  32
  68  71  15  39  44  72  35  24  63  25  34  31  40  19  28  67  18  38
  47  64  69  23  21  26  17  41  20  62  11  57  22  54  48  27  61  58
  14  42  52  53  49  16  43  51  46  13  12   8   7 -99]
Number of unique values: 86
Missing values: 0


Description:
count    18207.000000
mean        58.270995
std         16.759753
min        -99.000000
25%         53.000000
50%         62.000000
75%         68.000000
max         93.000000
Name: shortpassing, dtype: float64


Frequency:
 64    876
 65    789
 62    763
 63    742
 68    735
 66    729
 67    699
 60    627
 70    590
 58    577
 61    545
 69    544
 59    543
 72    489
 57    451
 71    443
 56    427
 55    410
 73    400
 74    387
 54    366
 75    306
 53    303
 52    302
 76    258
 51    208
 77    197
 78    194
 48    192
 49    179
      ...
 34     74
 39     71
 82     67
 81     67
 37     66
 21     65
 20     65
 19     59
 18     53
 84     48
-99     48
 17     47
 15     46
 83     44
 16     37
 85     26
 86     18
 12     18
 14     16
 13     12
 89      9
 11      7
 90      7
 88      6
 87      6
 93      2
 7       2
 92      2
 91      1
 8       1
Name: shortpassing, Length: 86, dtype: int64

## volleys

In [117]:
df.rename(columns={"Volleys": "volleys"} , inplace=True)
print('Unique values:', df.volleys.unique())
print('Number of unique values:', len(df.volleys.unique()))
print('Missing values:', df.volleys.isna().sum())
print("\n")
print('Description:')
print(df['volleys'].describe())
print("\n")
print('Frequency:')
print(df['volleys'].value_counts())

Unique values: [86. 87. 84. 13. 82. 80. 76. 88. 66. 89. 47. 56. 14. 12. 44. 90. 11. 85.
 45. 78. 73. 53. 74. 65. 77. 75. 60. 54. 63. 17. 70. 79. 52. 57. 69. 18.
 71. 67. 81. 42. 64. 68. 51. 58. 38. 72. 40. 20. 61. 16. 83. 46. 23. 28.
 30. 31. 50. 34. 27. 19. 10.  9. 59. 15. 35. 33. 62. 24. 55. 39. 32.  8.
 41. 26. 48. 43. 49. 25. 37. 36. 29. 21. 22.  7.  5.  6.  4. nan]
Number of unique values: 88
Missing values: 48


Description:
count    18159.000000
mean        42.909026
std         17.694408
min          4.000000
25%         30.000000
50%         44.000000
75%         57.000000
max         90.000000
Name: volleys, dtype: float64


Frequency:
49.0    402
59.0    387
48.0    387
58.0    382
45.0    374
42.0    369
43.0    368
55.0    359
52.0    357
54.0    354
32.0    351
56.0    349
34.0    348
40.0    347
47.0    346
41.0    345
53.0    345
44.0    344
35.0    339
50.0    331
31.0    328
30.0    326
38.0    324
57.0    314
39.0    313
51.0    313
46.0    309
60.0    308
29.0    307
36.0    305
       ...
8.0     137
18.0    135
71.0    129
17.0    120
72.0    119
16.0    118
21.0    114
74.0    111
7.0     110
10.0    102
6.0     101
5.0      90
75.0     88
73.0     83
76.0     79
77.0     46
78.0     30
80.0     26
79.0     25
81.0     22
82.0     18
84.0     13
85.0     11
83.0     11
4.0       7
86.0      7
87.0      5
90.0      5
88.0      3
89.0      1
Name: volleys, Length: 87, dtype: int64

Filling missing values with the ‘-99’ value:

In [118]:
df['volleys'] = df['volleys'].fillna(-99)
df['volleys']= df['volleys'].apply(lambda x: int(x))

In [119]:
print('Unique values:', df.volleys.unique())
print('Number of unique values:', len(df.volleys.unique()))
print('Missing values:', df.volleys.isna().sum())
print("\n")
print('Description:')
print(df['volleys'].describe())
print("\n")
print('Frequency:')
print(df['volleys'].value_counts())

Unique values: [ 86  87  84  13  82  80  76  88  66  89  47  56  14  12  44  90  11  85
  45  78  73  53  74  65  77  75  60  54  63  17  70  79  52  57  69  18
  71  67  81  42  64  68  51  58  38  72  40  20  61  16  83  46  23  28
  30  31  50  34  27  19  10   9  59  15  35  33  62  24  55  39  32   8
  41  26  48  43  49  25  37  36  29  21  22   7   5   6   4 -99]
Number of unique values: 88
Missing values: 0


Description:
count    18207.000000
mean        42.534904
std         19.110750
min        -99.000000
25%         30.000000
50%         44.000000
75%         57.000000
max         90.000000
Name: volleys, dtype: float64


Frequency:
 49    402
 59    387
 48    387
 58    382
 45    374
 42    369
 43    368
 55    359
 52    357
 54    354
 32    351
 56    349
 34    348
 40    347
 47    346
 53    345
 41    345
 44    344
 35    339
 50    331
 31    328
 30    326
 38    324
 57    314
 39    313
 51    313
 46    309
 60    308
 29    307
 36    305
      ...
 18    135
 71    129
 17    120
 72    119
 16    118
 21    114
 74    111
 7     110
 10    102
 6     101
 5      90
 75     88
 73     83
 76     79
-99     48
 77     46
 78     30
 80     26
 79     25
 81     22
 82     18
 84     13
 83     11
 85     11
 4       7
 86      7
 90      5
 87      5
 88      3
 89      1
Name: volleys, Length: 88, dtype: int64

## dribbling

In [120]:
df.rename(columns={"Dribbling": "dribbling"} , inplace=True)
print('Unique values:', df.dribbling.unique())
print('Number of unique values:', len(df.dribbling.unique()))
print('Missing values:', df.dribbling.isna().sum())
print("\n")
print('Description:')
print(df['dribbling'].describe())
print("\n")
print('Frequency:')
print(df['dribbling'].value_counts())

Unique values: [97. 88. 96. 18. 86. 95. 90. 87. 63. 12. 85. 81. 53. 89. 79. 92. 80. 17.
 13. 30. 58. 69. 94. 84. 91. 68. 10. 62. 26. 77. 66. 16. 83. 71. 59. 23.
 70. 57. 75. 64. 27. 82. 54. 51. 78. 11. 93. 76. 60. 67. 47. 42. 15. 19.
 56. 55. 14. 20. 65. 72. 28.  9. 73. 48. 52. 25. 43. 74. 46. 21. 44. 49.
 24.  8. 50. 36. 40. 22. 61. 34. 45. 33. 35. 38. 39. 31. 41. 37.  7. 32.
 29.  6.  4.  5. nan]
Number of unique values: 95
Missing values: 48


Description:
count    18159.000000
mean        55.371001
std         18.910371
min          4.000000
25%         49.000000
50%         61.000000
75%         68.000000
max         97.000000
Name: dribbling, dtype: float64


Frequency:
64.0    717
65.0    666
63.0    662
66.0    657
62.0    637
68.0    629
67.0    619
60.0    534
59.0    526
61.0    524
58.0    503
69.0    479
57.0    470
70.0    457
71.0    443
72.0    436
55.0    396
56.0    394
73.0    383
74.0    364
75.0    342
54.0    307
53.0    302
52.0    295
76.0    247
12.0    232
51.0    230
13.0    224
14.0    221
50.0    214
       ...
25.0     69
37.0     68
22.0     67
28.0     63
29.0     62
33.0     62
7.0      59
21.0     59
26.0     57
83.0     56
84.0     50
27.0     50
24.0     50
86.0     39
6.0      38
23.0     38
85.0     34
87.0     29
5.0      23
88.0     18
90.0     12
89.0      8
4.0       4
91.0      4
92.0      3
97.0      1
94.0      1
95.0      1
96.0      1
93.0      1
Name: dribbling, Length: 94, dtype: int64

Filling missing values with the ‘-99’ value:

In [121]:
df['dribbling'] = df['dribbling'].fillna(-99)
df['dribbling']= df['dribbling'].apply(lambda x: int(x))

In [122]:
print('Unique values:', df.dribbling.unique())
print('Number of unique values:', len(df.dribbling.unique()))
print('Missing values:', df.dribbling.isna().sum())
print("\n")
print('Description:')
print(df['dribbling'].describe())
print("\n")
print('Frequency:')
print(df['dribbling'].value_counts())

Unique values: [ 97  88  96  18  86  95  90  87  63  12  85  81  53  89  79  92  80  17
  13  30  58  69  94  84  91  68  10  62  26  77  66  16  83  71  59  23
  70  57  75  64  27  82  54  51  78  11  93  76  60  67  47  42  15  19
  56  55  14  20  65  72  28   9  73  48  52  25  43  74  46  21  44  49
  24   8  50  36  40  22  61  34  45  33  35  38  39  31  41  37   7  32
  29   6   4   5 -99]
Number of unique values: 95
Missing values: 0


Description:
count    18207.000000
mean        54.964025
std         20.477363
min        -99.000000
25%         49.000000
50%         61.000000
75%         68.000000
max         97.000000
Name: dribbling, dtype: float64


Frequency:
 64    717
 65    666
 63    662
 66    657
 62    637
 68    629
 67    619
 60    534
 59    526
 61    524
 58    503
 69    479
 57    470
 70    457
 71    443
 72    436
 55    396
 56    394
 73    383
 74    364
 75    342
 54    307
 53    302
 52    295
 76    247
 12    232
 51    230
 13    224
 14    221
 50    214
      ...
 37     68
 22     67
 28     63
 29     62
 33     62
 21     59
 7      59
 26     57
 83     56
 24     50
 84     50
 27     50
-99     48
 86     39
 6      38
 23     38
 85     34
 87     29
 5      23
 88     18
 90     12
 89      8
 91      4
 4       4
 92      3
 96      1
 93      1
 97      1
 94      1
 95      1
Name: dribbling, Length: 95, dtype: int64

## curve

In [123]:
df.rename(columns={"Curve": "curve"} , inplace=True)
print('Unique values:', df.curve.unique())
print('Number of unique values:', len(df.curve.unique()))
print('Missing values:', df.curve.isna().sum())
print("\n")
print('Description:')
print(df['curve'].describe())
print("\n")
print('Frequency:')
print(df['curve'].value_counts())

Unique values: [93. 81. 88. 21. 85. 83. 86. 74. 13. 77. 49. 82. 78. 84. 18. 19. 66. 14.
 60. 59. 89. 87. 91. 80. 65. 90. 11. 61. 12. 20. 72. 58. 28. 70. 15. 46.
 73. 68. 56. 63. 34. 30. 50. 16. 79. 53. 76. 62. 52. 32. 44. 36. 75. 71.
 45.  9. 64. 23. 69. 29. 17. 94. 25. 47. 48. 55. 33. 24. 35. 42. 67. 10.
 54. 38. 57. 39. 43. 22. 40. 41. 26. 37. 51. 92. 31. 27.  8.  6.  7. nan]
Number of unique values: 90
Missing values: 48


Description:
count    18159.000000
mean        47.170824
std         18.395264
min          6.000000
25%         34.000000
50%         48.000000
75%         62.000000
max         94.000000
Name: curve, dtype: float64


Frequency:
58.0    400
48.0    393
45.0    391
60.0    376
49.0    369
64.0    368
55.0    367
42.0    363
65.0    361
59.0    352
62.0    351
53.0    349
57.0    341
54.0    336
52.0    335
41.0    330
50.0    330
66.0    327
63.0    326
68.0    321
46.0    320
43.0    309
61.0    306
39.0    305
47.0    304
56.0    303
40.0    302
51.0    301
67.0    300
69.0    295
       ...
20.0    128
24.0    125
75.0    124
19.0    114
22.0    111
18.0    109
21.0    109
78.0    107
17.0    106
77.0    105
80.0     93
79.0     69
82.0     63
81.0     53
83.0     49
9.0      41
84.0     35
85.0     25
86.0     20
8.0      11
88.0     10
87.0      9
90.0      6
6.0       4
89.0      4
7.0       4
91.0      1
93.0      1
92.0      1
94.0      1
Name: curve, Length: 89, dtype: int64

Filling missing values with the ‘-99’ value:

In [124]:
df['curve'] = df['curve'].fillna(-99)
df['curve']= df['curve'].apply(lambda x: int(x))

In [125]:
print('Unique values:', df.curve.unique())
print('Number of unique values:', len(df.curve.unique()))
print('Missing values:', df.curve.isna().sum())
print("\n")
print('Description:')
print(df['curve'].describe())
print("\n")
print('Frequency:')
print(df['curve'].value_counts())

Unique values: [ 93  81  88  21  85  83  86  74  13  77  49  82  78  84  18  19  66  14
  60  59  89  87  91  80  65  90  11  61  12  20  72  58  28  70  15  46
  73  68  56  63  34  30  50  16  79  53  76  62  52  32  44  36  75  71
  45   9  64  23  69  29  17  94  25  47  48  55  33  24  35  42  67  10
  54  38  57  39  43  22  40  41  26  37  51  92  31  27   8   6   7 -99]
Number of unique values: 90
Missing values: 0


Description:
count    18207.000000
mean        46.785467
std         19.841274
min        -99.000000
25%         34.000000
50%         48.000000
75%         62.000000
max         94.000000
Name: curve, dtype: float64


Frequency:
 58    400
 48    393
 45    391
 60    376
 49    369
 64    368
 55    367
 42    363
 65    361
 59    352
 62    351
 53    349
 57    341
 54    336
 52    335
 50    330
 41    330
 66    327
 63    326
 68    321
 46    320
 43    309
 61    306
 39    305
 47    304
 56    303
 40    302
 51    301
 67    300
 69    295
      ...
 24    125
 75    124
 19    114
 22    111
 18    109
 21    109
 78    107
 17    106
 77    105
 80     93
 79     69
 82     63
 81     53
 83     49
-99     48
 9      41
 84     35
 85     25
 86     20
 8      11
 88     10
 87      9
 90      6
 7       4
 89      4
 6       4
 91      1
 92      1
 93      1
 94      1
Name: curve, Length: 90, dtype: int64

## FKaccuracy

In [126]:
df.rename(columns={"FKAccuracy": "FKaccuracy"} , inplace=True)
print('Unique values:', df.FKaccuracy.unique())
print('Number of unique values:', len(df.FKaccuracy.unique()))
print('Missing values:', df.FKaccuracy.isna().sum())
print("\n")
print('Description:')
print(df['FKaccuracy'].describe())
print("\n")
print('Frequency:')
print(df['FKaccuracy'].value_counts())

Unique values: [94. 76. 87. 19. 83. 79. 78. 84. 72. 14. 86. 51. 77. 49. 88. 68. 12. 20.
 11. 73. 31. 63. 60. 74. 53. 67. 10. 62. 64. 13. 45. 28. 82. 15. 66. 43.
 70. 65. 54. 59. 58. 61. 69. 92. 27. 30. 75. 18. 71. 39. 90. 52. 47. 44.
 81. 32. 50. 16.  8. 22. 35. 56. 29. 80. 37. 57. 26. 55. 21. 25. 24. 46.
 42. 93. 48. 34. 33. 85. 17. 40. 38. 41. 36.  9. 23. 91.  7.  4. nan  6.
  3.]
Number of unique values: 91
Missing values: 48


Description:
count    18159.000000
mean        42.863153
std         17.478763
min          3.000000
25%         31.000000
50%         41.000000
75%         57.000000
max         94.000000
Name: FKaccuracy, dtype: float64


Frequency:
42.0    485
40.0    479
32.0    473
35.0    458
39.0    441
34.0    437
30.0    423
38.0    407
31.0    395
33.0    393
41.0    390
36.0    376
45.0    372
29.0    370
37.0    369
48.0    344
28.0    340
43.0    337
46.0    316
12.0    314
55.0    310
13.0    309
59.0    307
58.0    306
60.0    298
49.0    298
44.0    293
47.0    278
50.0    268
52.0    265
       ...
21.0    124
74.0    119
18.0    116
16.0    112
19.0    110
17.0    100
76.0     89
77.0     75
78.0     72
79.0     47
80.0     39
9.0      33
82.0     28
81.0     26
8.0      20
83.0     20
84.0     17
86.0     11
7.0       8
85.0      8
87.0      5
6.0       3
88.0      3
90.0      2
94.0      1
93.0      1
3.0       1
92.0      1
91.0      1
4.0       1
Name: FKaccuracy, Length: 90, dtype: int64

Filling missing values with the ‘-99’ value:

In [127]:
df['FKaccuracy'] = df['FKaccuracy'].fillna(-99)
df['FKaccuracy']= df['FKaccuracy'].apply(lambda x: int(x))

In [128]:
print('Unique values:', df.FKaccuracy.unique())
print('Number of unique values:', len(df.FKaccuracy.unique()))
print('Missing values:', df.FKaccuracy.isna().sum())
print("\n")
print('Description:')
print(df['FKaccuracy'].describe())
print("\n")
print('Frequency:')
print(df['FKaccuracy'].value_counts())

Unique values: [ 94  76  87  19  83  79  78  84  72  14  86  51  77  49  88  68  12  20
  11  73  31  63  60  74  53  67  10  62  64  13  45  28  82  15  66  43
  70  65  54  59  58  61  69  92  27  30  75  18  71  39  90  52  47  44
  81  32  50  16   8  22  35  56  29  80  37  57  26  55  21  25  24  46
  42  93  48  34  33  85  17  40  38  41  36   9  23  91   7   4 -99   6
   3]
Number of unique values: 91
Missing values: 0


Description:
count    18207.000000
mean        42.489153
std         18.910887
min        -99.000000
25%         31.000000
50%         41.000000
75%         56.000000
max         94.000000
Name: FKaccuracy, dtype: float64


Frequency:
 42    485
 40    479
 32    473
 35    458
 39    441
 34    437
 30    423
 38    407
 31    395
 33    393
 41    390
 36    376
 45    372
 29    370
 37    369
 48    344
 28    340
 43    337
 46    316
 12    314
 55    310
 13    309
 59    307
 58    306
 60    298
 49    298
 44    293
 47    278
 50    268
 52    265
      ...
 74    119
 18    116
 16    112
 19    110
 17    100
 76     89
 77     75
 78     72
-99     48
 79     47
 80     39
 9      33
 82     28
 81     26
 83     20
 8      20
 84     17
 86     11
 85      8
 7       8
 87      5
 6       3
 88      3
 90      2
 93      1
 4       1
 91      1
 3       1
 94      1
 92      1
Name: FKaccuracy, Length: 91, dtype: int64

## longpassing

In [129]:
df.rename(columns={"LongPassing": "longpassing"} , inplace=True)
print('Unique values:', df.longpassing.unique())
print('Number of unique values:', len(df.longpassing.unique()))
print('Missing values:', df.longpassing.isna().sum())
print("\n")
print('Description:')
print(df['longpassing'].describe())
print("\n")
print('Frequency:')
print(df['longpassing'].value_counts())

Unique values: [87. 77. 78. 51. 91. 83. 88. 64. 26. 65. 93. 70. 81. 75. 82. 76. 42. 35.
 52. 59. 73. 72. 85. 80. 50. 34. 54. 56. 90. 37. 49. 74. 79. 58. 71. 69.
 89. 68. 44. 61. 36. 62. 66. 67. 86. 63. 60. 31. 40. 20. 39. 46. 47. 55.
 32. 84. 41. 25. 43. 30. 28. 22. 17. 24. 16. 53. 48. 33. 27. 45. 21. 57.
 23. 38. 12. 19. 29. 13. 11. 18. 15. 10. 14.  9. nan]
Number of unique values: 85
Missing values: 48


Description:
count    18159.000000
mean        52.711933
std         15.327870
min          9.000000
25%         43.000000
50%         56.000000
75%         64.000000
max         93.000000
Name: longpassing, dtype: float64


Frequency:
62.0    625
59.0    603
58.0    602
63.0    598
60.0    593
64.0    565
65.0    557
55.0    537
57.0    510
61.0    508
66.0    489
56.0    473
54.0    464
53.0    449
68.0    433
67.0    415
52.0    401
69.0    364
70.0    355
51.0    347
49.0    335
50.0    320
48.0    303
45.0    291
47.0    269
72.0    255
71.0    252
42.0    250
46.0    247
44.0    231
       ...
21.0    132
76.0    130
77.0    109
20.0    106
18.0     88
78.0     88
19.0     77
16.0     73
17.0     72
79.0     57
80.0     53
15.0     52
81.0     28
82.0     25
83.0     24
13.0     22
12.0     18
14.0     18
85.0     12
11.0     11
84.0     10
87.0      9
89.0      4
9.0       3
10.0      3
86.0      3
90.0      2
88.0      2
91.0      1
93.0      1
Name: longpassing, Length: 84, dtype: int64

Filling missing values with the ‘-99’ value:

In [130]:
df['longpassing'] = df['longpassing'].fillna(-99)
df['longpassing']= df['longpassing'].apply(lambda x: int(x))

In [131]:
print('Unique values:', df.longpassing.unique())
print('Number of unique values:', len(df.longpassing.unique()))
print('Missing values:', df.longpassing.isna().sum())
print("\n")
print('Description:')
print(df['longpassing'].describe())
print("\n")
print('Frequency:')
print(df['longpassing'].value_counts())

Unique values: [ 87  77  78  51  91  83  88  64  26  65  93  70  81  75  82  76  42  35
  52  59  73  72  85  80  50  34  54  56  90  37  49  74  79  58  71  69
  89  68  44  61  36  62  66  67  86  63  60  31  40  20  39  46  47  55
  32  84  41  25  43  30  28  22  17  24  16  53  48  33  27  45  21  57
  23  38  12  19  29  13  11  18  15  10  14   9 -99]
Number of unique values: 85
Missing values: 0


Description:
count    18207.000000
mean        52.311968
std         17.171112
min        -99.000000
25%         43.000000
50%         56.000000
75%         64.000000
max         93.000000
Name: longpassing, dtype: float64


Frequency:
 62    625
 59    603
 58    602
 63    598
 60    593
 64    565
 65    557
 55    537
 57    510
 61    508
 66    489
 56    473
 54    464
 53    449
 68    433
 67    415
 52    401
 69    364
 70    355
 51    347
 49    335
 50    320
 48    303
 45    291
 47    269
 72    255
 71    252
 42    250
 46    247
 44    231
      ...
 76    130
 77    109
 20    106
 18     88
 78     88
 19     77
 16     73
 17     72
 79     57
 80     53
 15     52
-99     48
 81     28
 82     25
 83     24
 13     22
 14     18
 12     18
 85     12
 11     11
 84     10
 87      9
 89      4
 10      3
 9       3
 86      3
 90      2
 88      2
 91      1
 93      1
Name: longpassing, Length: 85, dtype: int64

## ballcontrol

In [132]:
df.rename(columns={"BallControl": "ballcontrol"} , inplace=True)
print('Unique values:', df.ballcontrol.unique())
print('Number of unique values:', len(df.ballcontrol.unique()))
print('Missing values:', df.ballcontrol.isna().sum())
print("\n")
print('Description:')
print(df['ballcontrol'].describe())
print("\n")
print('Frequency:')
print(df['ballcontrol'].value_counts())

Unique values: [96. 94. 95. 42. 91. 93. 90. 84. 16. 89. 76. 80. 92. 18. 23. 88. 82. 48.
 57. 78. 81. 85. 34. 28. 77. 60. 19. 72. 83. 87. 37. 86. 73. 75. 74. 64.
 67. 30. 65. 70. 22. 68. 79. 62. 56. 63. 21. 71. 20. 14. 58. 15. 40. 24.
 17. 59. 25. 69. 32. 66. 38. 29. 36. 54. 61.  9. 12. 35. 26. 10. 53. 33.
 52. 41. 55. 31. 13. 47. 49. 50. 51. 11. 27. 39. 43. 44. 46.  8. 45.  5.
 nan]
Number of unique values: 91
Missing values: 48


Description:
count    18159.000000
mean        58.369459
std         16.686595
min          5.000000
25%         54.000000
50%         63.000000
75%         69.000000
max         96.000000
Name: ballcontrol, dtype: float64


Frequency:
65.0    807
64.0    778
66.0    733
62.0    732
68.0    721
63.0    711
67.0    704
60.0    642
70.0    634
61.0    589
69.0    579
58.0    528
72.0    498
59.0    498
71.0    472
74.0    434
73.0    433
55.0    413
57.0    397
75.0    363
56.0    356
54.0    309
76.0    274
53.0    274
52.0    270
77.0    221
51.0    203
50.0    194
78.0    193
48.0    188
       ...
35.0     56
33.0     54
38.0     52
39.0     51
84.0     50
32.0     50
10.0     47
29.0     45
31.0     43
85.0     42
34.0     42
28.0     41
26.0     38
27.0     37
36.0     34
37.0     33
86.0     29
87.0     15
88.0     15
90.0     10
89.0      9
91.0      5
9.0       5
92.0      4
94.0      3
8.0       2
93.0      2
95.0      2
5.0       1
96.0      1
Name: ballcontrol, Length: 90, dtype: int64

Filling missing values with the ‘-99’ value:

In [133]:
df['ballcontrol'] = df['ballcontrol'].fillna(-99)
df['ballcontrol']= df['ballcontrol'].apply(lambda x: int(x))

In [134]:
print('Unique values:', df.ballcontrol.unique())
print('Number of unique values:', len(df.ballcontrol.unique()))
print('Missing values:', df.ballcontrol.isna().sum())
print("\n")
print('Description:')
print(df['ballcontrol'].describe())
print("\n")
print('Frequency:')
print(df['ballcontrol'].value_counts())

Unique values: [ 96  94  95  42  91  93  90  84  16  89  76  80  92  18  23  88  82  48
  57  78  81  85  34  28  77  60  19  72  83  87  37  86  73  75  74  64
  67  30  65  70  22  68  79  62  56  63  21  71  20  14  58  15  40  24
  17  59  25  69  32  66  38  29  36  54  61   9  12  35  26  10  53  33
  52  41  55  31  13  47  49  50  51  11  27  39  43  44  46   8  45   5
 -99]
Number of unique values: 91
Missing values: 0


Description:
count    18207.000000
mean        57.954578
std         18.515652
min        -99.000000
25%         54.000000
50%         63.000000
75%         69.000000
max         96.000000
Name: ballcontrol, dtype: float64


Frequency:
 65    807
 64    778
 66    733
 62    732
 68    721
 63    711
 67    704
 60    642
 70    634
 61    589
 69    579
 58    528
 72    498
 59    498
 71    472
 74    434
 73    433
 55    413
 57    397
 75    363
 56    356
 54    309
 76    274
 53    274
 52    270
 77    221
 51    203
 50    194
 78    193
 48    188
      ...
 33     54
 38     52
 39     51
 84     50
 32     50
-99     48
 10     47
 29     45
 31     43
 34     42
 85     42
 28     41
 26     38
 27     37
 36     34
 37     33
 86     29
 88     15
 87     15
 90     10
 89      9
 91      5
 9       5
 92      4
 94      3
 93      2
 8       2
 95      2
 5       1
 96      1
Name: ballcontrol, Length: 91, dtype: int64

## acceleration

In [135]:
df.rename(columns={"Acceleration": "acceleration"} , inplace=True)
print('Unique values:', df.acceleration.unique())
print('Number of unique values:', len(df.acceleration.unique()))
print('Missing values:', df.acceleration.isna().sum())
print("\n")
print('Description:')
print(df['acceleration'].describe())
print("\n")
print('Frequency:')
print(df['acceleration'].value_counts())

Unique values: [91. 89. 94. 57. 78. 80. 86. 76. 43. 77. 64. 68. 70. 82. 87. 88. 38. 46.
 50. 75. 54. 63. 96. 59. 73. 93. 53. 83. 65. 51. 49. 71. 61. 69. 66. 84.
 95. 74. 97. 72. 85. 79. 81. 67. 60. 52. 58. 62. 45. 90. 34. 92. 55. 47.
 56. 48. 40. 35. 41. 39. 44. 36. 30. 42. 32. 33. 37. 31. 29. 22. 28. 17.
 27. 24. 25. 26. 21. 15. 23. 20. 19. 18. 16. 12. 13. 14. nan]
Number of unique values: 87
Missing values: 48


Description:
count    18159.000000
mean        64.614076
std         14.927780
min         12.000000
25%         57.000000
50%         67.000000
75%         75.000000
max         97.000000
Name: acceleration, dtype: float64


Frequency:
69.0    759
68.0    741
67.0    685
74.0    614
66.0    608
65.0    568
75.0    568
72.0    549
78.0    528
73.0    527
76.0    523
64.0    508
71.0    498
77.0    488
70.0    483
79.0    480
63.0    476
62.0    443
55.0    360
60.0    333
61.0    332
54.0    296
59.0    280
58.0    269
80.0    264
52.0    237
53.0    237
82.0    229
57.0    225
84.0    222
       ...
31.0     89
36.0     89
39.0     80
35.0     75
37.0     75
30.0     72
92.0     56
29.0     55
28.0     48
25.0     43
93.0     41
26.0     40
27.0     36
23.0     32
22.0     32
20.0     32
21.0     32
24.0     29
94.0     25
17.0     24
18.0     22
19.0     19
15.0     17
16.0     13
95.0      8
14.0      3
13.0      2
97.0      2
96.0      2
12.0      1
Name: acceleration, Length: 86, dtype: int64

Filling missing values with the ‘-99’ value:

In [136]:
df['acceleration'] = df['acceleration'].fillna(-99)
df['acceleration']= df['acceleration'].apply(lambda x: int(x))

In [137]:
print('Unique values:', df.acceleration.unique())
print('Number of unique values:', len(df.acceleration.unique()))
print('Missing values:', df.acceleration.isna().sum())
print("\n")
print('Description:')
print(df['acceleration'].describe())
print("\n")
print('Frequency:')
print(df['acceleration'].value_counts())

Unique values: [ 91  89  94  57  78  80  86  76  43  77  64  68  70  82  87  88  38  46
  50  75  54  63  96  59  73  93  53  83  65  51  49  71  61  69  66  84
  95  74  97  72  85  79  81  67  60  52  58  62  45  90  34  92  55  47
  56  48  40  35  41  39  44  36  30  42  32  33  37  31  29  22  28  17
  27  24  25  26  21  15  23  20  19  18  16  12  13  14 -99]
Number of unique values: 87
Missing values: 0


Description:
count    18207.000000
mean        64.182732
std         17.106806
min        -99.000000
25%         57.000000
50%         67.000000
75%         75.000000
max         97.000000
Name: acceleration, dtype: float64


Frequency:
 69    759
 68    741
 67    685
 74    614
 66    608
 65    568
 75    568
 72    549
 78    528
 73    527
 76    523
 64    508
 71    498
 77    488
 70    483
 79    480
 63    476
 62    443
 55    360
 60    333
 61    332
 54    296
 59    280
 58    269
 80    264
 52    237
 53    237
 82    229
 57    225
 84    222
      ...
 36     89
 39     80
 35     75
 37     75
 30     72
 92     56
 29     55
 28     48
-99     48
 25     43
 93     41
 26     40
 27     36
 20     32
 22     32
 21     32
 23     32
 24     29
 94     25
 17     24
 18     22
 19     19
 15     17
 16     13
 95      8
 14      3
 96      2
 97      2
 13      2
 12      1
Name: acceleration, Length: 87, dtype: int64

## SprintSpeed

In [138]:
df.rename(columns={"SprintSpeed": "sprint_speed"} , inplace=True)
print('Unique values:', df.sprint_speed.unique())
print('Number of unique values:', len(df.sprint_speed.unique()))
print('Missing values:', df.sprint_speed.isna().sum())
print("\n")
print('Description:')
print(df['sprint_speed'].describe())
print("\n")
print('Frequency:')
print(df['sprint_speed'].value_counts())

Unique values: [86. 91. 90. 58. 76. 88. 72. 75. 60. 78. 62. 68. 64. 83. 85. 50. 52. 80.
 96. 65. 67. 69. 73. 95. 82. 55. 43. 79. 53. 93. 59. 74. 63. 77. 92. 66.
 70. 45. 84. 61. 47. 89. 87. 56. 44. 57. 54. 33. 71. 51. 49. 46. 37. 81.
 42. 94. 35. 36. 34. 38. 40. 48. 31. 41. 32. 39. 27. 26. 30. 18. 28. 29.
 24. 22. 21. 25. 20. 16. 15. 17. 19. 23. 13. nan 12. 14.]
Number of unique values: 86
Missing values: 48


Description:
count    18159.000000
mean        64.726967
std         14.649953
min         12.000000
25%         57.000000
50%         67.000000
75%         75.000000
max         96.000000
Name: sprint_speed, dtype: float64


Frequency:
68.0    744
69.0    730
67.0    705
66.0    623
65.0    614
72.0    604
75.0    584
73.0    576
74.0    554
70.0    529
76.0    529
64.0    527
77.0    520
71.0    512
63.0    474
78.0    458
79.0    444
62.0    404
55.0    391
61.0    390
60.0    336
54.0    328
59.0    277
80.0    260
53.0    253
58.0    251
82.0    246
83.0    238
52.0    235
81.0    207
       ...
35.0     84
36.0     84
37.0     82
39.0     81
89.0     80
30.0     76
91.0     73
92.0     58
26.0     51
28.0     50
93.0     43
29.0     42
27.0     37
24.0     36
23.0     36
22.0     29
25.0     27
20.0     27
21.0     23
18.0     20
16.0     19
15.0     18
94.0     17
17.0     15
19.0     11
95.0      5
96.0      3
13.0      1
12.0      1
14.0      1
Name: sprint_speed, Length: 85, dtype: int64

Filling missing values with the ‘-99’ value:

In [139]:
df['sprint_speed'] = df['sprint_speed'].fillna(-99)
df['sprint_speed']= df['sprint_speed'].apply(lambda x: int(x))

In [140]:
print('Unique values:', df.sprint_speed.unique())
print('Number of unique values:', len(df.sprint_speed.unique()))
print('Missing values:', df.sprint_speed.isna().sum())
print("\n")
print('Description:')
print(df['sprint_speed'].describe())
print("\n")
print('Frequency:')
print(df['sprint_speed'].value_counts())

Unique values: [ 86  91  90  58  76  88  72  75  60  78  62  68  64  83  85  50  52  80
  96  65  67  69  73  95  82  55  43  79  53  93  59  74  63  77  92  66
  70  45  84  61  47  89  87  56  44  57  54  33  71  51  49  46  37  81
  42  94  35  36  34  38  40  48  31  41  32  39  27  26  30  18  28  29
  24  22  21  25  20  16  15  17  19  23  13 -99  12  14]
Number of unique values: 86
Missing values: 0


Description:
count    18207.000000
mean        64.295326
std         16.868437
min        -99.000000
25%         57.000000
50%         67.000000
75%         75.000000
max         96.000000
Name: sprint_speed, dtype: float64


Frequency:
 68    744
 69    730
 67    705
 66    623
 65    614
 72    604
 75    584
 73    576
 74    554
 76    529
 70    529
 64    527
 77    520
 71    512
 63    474
 78    458
 79    444
 62    404
 55    391
 61    390
 60    336
 54    328
 59    277
 80    260
 53    253
 58    251
 82    246
 83    238
 52    235
 81    207
      ...
 36     84
 37     82
 39     81
 89     80
 30     76
 91     73
 92     58
 26     51
 28     50
-99     48
 93     43
 29     42
 27     37
 24     36
 23     36
 22     29
 20     27
 25     27
 21     23
 18     20
 16     19
 15     18
 94     17
 17     15
 19     11
 95      5
 96      3
 12      1
 13      1
 14      1
Name: sprint_speed, Length: 86, dtype: int64

## agility

In [141]:
df.rename(columns={"Agility": "agility"} , inplace=True)
print('Unique values:', df.agility.unique())
print('Number of unique values:', len(df.agility.unique()))
print('Missing values:', df.agility.isna().sum())
print("\n")
print('Description:')
print(df['agility'].describe())
print("\n")
print('Frequency:')
print(df['agility'].value_counts())

Unique values: [91. 87. 96. 60. 79. 95. 93. 82. 78. 67. 70. 58. 92. 71. 90. 37. 61. 66.
 77. 51. 86. 54. 62. 83. 94. 76. 63. 55. 75. 68. 47. 50. 74. 72. 88. 80.
 59. 48. 40. 84. 85. 64. 69. 56. 57. 46. 73. 45. 33. 81. 52. 44. 43. 89.
 53. 41. 42. 34. 65. 32. 39. 35. 49. 36. 29. 31. 30. 38. 26. 25. 19. 28.
 21. 23. 20. 22. 14. 18. 24. 27. nan 15.]
Number of unique values: 82
Missing values: 48


Description:
count    18159.000000
mean        63.503607
std         14.766049
min         14.000000
25%         55.000000
50%         66.000000
75%         74.000000
max         96.000000
Name: agility, dtype: float64


Frequency:
68.0    601
70.0    568
72.0    565
69.0    556
66.0    550
71.0    543
67.0    542
73.0    536
74.0    522
65.0    521
64.0    500
75.0    498
63.0    482
62.0    468
77.0    466
76.0    448
60.0    433
78.0    426
61.0    425
58.0    416
59.0    406
79.0    378
57.0    367
56.0    327
55.0    297
52.0    269
54.0    256
80.0    253
81.0    249
82.0    242
       ...
31.0    133
43.0    133
35.0    126
42.0    125
36.0    113
90.0    111
41.0    110
30.0    106
88.0    103
91.0     88
89.0     76
92.0     64
29.0     52
28.0     51
25.0     41
22.0     38
93.0     38
26.0     31
23.0     29
27.0     26
24.0     24
94.0     19
21.0     15
19.0      6
95.0      4
18.0      4
20.0      2
15.0      1
14.0      1
96.0      1
Name: agility, Length: 81, dtype: int64

Filling missing values with the ‘-99’ value:

In [142]:
df['agility'] = df['agility'].fillna(-99)
df['agility']= df['agility'].apply(lambda x: int(x))

In [143]:
print('Unique values:', df.agility.unique())
print('Number of unique values:', len(df.agility.unique()))
print('Missing values:', df.agility.isna().sum())
print("\n")
print('Description:')
print(df['agility'].describe())
print("\n")
print('Frequency:')
print(df['agility'].value_counts())

Unique values: [ 91  87  96  60  79  95  93  82  78  67  70  58  92  71  90  37  61  66
  77  51  86  54  62  83  94  76  63  55  75  68  47  50  74  72  88  80
  59  48  40  84  85  64  69  56  57  46  73  45  33  81  52  44  43  89
  53  41  42  34  65  32  39  35  49  36  29  31  30  38  26  25  19  28
  21  23  20  22  14  18  24  27 -99  15]
Number of unique values: 82
Missing values: 0


Description:
count    18207.000000
mean        63.075191
std         16.938146
min        -99.000000
25%         55.000000
50%         66.000000
75%         74.000000
max         96.000000
Name: agility, dtype: float64


Frequency:
 68    601
 70    568
 72    565
 69    556
 66    550
 71    543
 67    542
 73    536
 74    522
 65    521
 64    500
 75    498
 63    482
 62    468
 77    466
 76    448
 60    433
 78    426
 61    425
 58    416
 59    406
 79    378
 57    367
 56    327
 55    297
 52    269
 54    256
 80    253
 81    249
 82    242
      ...
 37    133
 35    126
 42    125
 36    113
 90    111
 41    110
 30    106
 88    103
 91     88
 89     76
 92     64
 29     52
 28     51
-99     48
 25     41
 22     38
 93     38
 26     31
 23     29
 27     26
 24     24
 94     19
 21     15
 19      6
 18      4
 95      4
 20      2
 14      1
 96      1
 15      1
Name: agility, Length: 82, dtype: int64

## reactions

In [144]:
df.rename(columns={"Reactions": "reactions"} , inplace=True)
print('Unique values:', df.reactions.unique())
print('Number of unique values:', len(df.reactions.unique()))
print('Missing values:', df.reactions.isna().sum())
print("\n")
print('Description:')
print(df['reactions'].describe())
print("\n")
print('Frequency:')
print(df['reactions'].value_counts())

Unique values: [95. 96. 94. 90. 91. 92. 85. 86. 89. 93. 84. 87. 82. 83. 77. 88. 79. 80.
 81. 78. 76. 75. 70. 74. 68. 72. 73. 71. 67. 66. 69. 64. 65. 62. 58. 61.
 60. 63. 55. 59. 54. 51. 57. 53. 56. 50. 52. 49. 48. 46. 47. 44. 45. 41.
 43. 42. nan 38. 39. 31. 40. 37. 35. 34. 30. 36. 33. 32. 21.]
Number of unique values: 69
Missing values: 48


Description:
count    18159.000000
mean        61.836610
std          9.010464
min         21.000000
25%         56.000000
50%         62.000000
75%         68.000000
max         96.000000
Name: reactions, dtype: float64


Frequency:
65.0    863
64.0    862
60.0    833
62.0    820
63.0    812
66.0    734
58.0    716
68.0    710
67.0    701
61.0    700
59.0    694
55.0    685
70.0    608
57.0    604
56.0    595
69.0    527
54.0    524
53.0    481
52.0    466
72.0    452
71.0    430
74.0    360
73.0    356
51.0    350
50.0    291
75.0    277
48.0    271
49.0    267
76.0    240
47.0    220
       ...
82.0     76
42.0     72
81.0     68
41.0     64
40.0     55
83.0     47
84.0     41
39.0     30
85.0     30
38.0     27
37.0     25
36.0     21
35.0     16
86.0     15
33.0     12
87.0     10
34.0      7
88.0      7
90.0      7
32.0      6
91.0      5
31.0      5
30.0      5
94.0      1
95.0      1
89.0      1
92.0      1
21.0      1
93.0      1
96.0      1
Name: reactions, Length: 68, dtype: int64

Filling missing values with the ‘-99’ value:

In [145]:
df['reactions'] = df['reactions'].fillna(-99)
df['reactions']= df['reactions'].apply(lambda x: int(x))

In [146]:
print('Unique values:', df.reactions.unique())
print('Number of unique values:', len(df.reactions.unique()))
print('Missing values:', df.reactions.isna().sum())
print("\n")
print('Description:')
print(df['reactions'].describe())
print("\n")
print('Frequency:')
print(df['reactions'].value_counts())

Unique values: [ 95  96  94  90  91  92  85  86  89  93  84  87  82  83  77  88  79  80
  81  78  76  75  70  74  68  72  73  71  67  66  69  64  65  62  58  61
  60  63  55  59  54  51  57  53  56  50  52  49  48  46  47  44  45  41
  43  42 -99  38  39  31  40  37  35  34  30  36  33  32  21]
Number of unique values: 69
Missing values: 0


Description:
count    18207.000000
mean        61.412589
std         12.206413
min        -99.000000
25%         56.000000
50%         62.000000
75%         68.000000
max         96.000000
Name: reactions, dtype: float64


Frequency:
 65    863
 64    862
 60    833
 62    820
 63    812
 66    734
 58    716
 68    710
 67    701
 61    700
 59    694
 55    685
 70    608
 57    604
 56    595
 69    527
 54    524
 53    481
 52    466
 72    452
 71    430
 74    360
 73    356
 51    350
 50    291
 75    277
 48    271
 49    267
 76    240
 47    220
      ...
 42     72
 81     68
 41     64
 40     55
-99     48
 83     47
 84     41
 85     30
 39     30
 38     27
 37     25
 36     21
 35     16
 86     15
 33     12
 87     10
 88      7
 34      7
 90      7
 32      6
 91      5
 30      5
 31      5
 21      1
 89      1
 92      1
 93      1
 96      1
 94      1
 95      1
Name: reactions, Length: 69, dtype: int64

## balance

In [147]:
df.rename(columns={"Balance": "balance"} , inplace=True)
print('Unique values:', df.balance.unique())
print('Number of unique values:', len(df.balance.unique()))
print('Missing values:', df.balance.isna().sum())
print("\n")
print('Description:')
print(df['balance'].describe())
print("\n")
print('Frequency:')
print(df['balance'].value_counts())

Unique values: [95. 70. 84. 43. 77. 94. 83. 66. 49. 78. 71. 54. 90. 92. 85. 80. 45. 52.
 59. 35. 91. 55. 88. 76. 93. 81. 60. 86. 65. 69. 68. 36. 40. 64. 61. 46.
 63. 48. 72. 73. 50. 79. 53. 37. 62. 51. 87. 75. 74. 82. 57. 41. 39. 33.
 67. 30. 44. 58. 47. 56. 31. 32. 89. 27. 38. 34. 25. 42. 96. 28. 24. 29.
 22. 20. 23. 16. 21. 26. 17. 19. nan 18.]
Number of unique values: 82
Missing values: 48


Description:
count    18159.000000
mean        63.966573
std         14.136166
min         16.000000
25%         56.000000
50%         66.000000
75%         74.000000
max         96.000000
Name: balance, dtype: float64


Frequency:
68.0    604
70.0    594
66.0    589
65.0    589
67.0    587
69.0    574
71.0    559
72.0    548
74.0    534
73.0    524
75.0    519
64.0    509
76.0    475
62.0    471
63.0    470
61.0    451
60.0    443
77.0    436
78.0    420
59.0    410
58.0    401
55.0    350
57.0    334
79.0    332
56.0    315
54.0    303
80.0    288
53.0    254
52.0    252
81.0    239
       ...
90.0    109
39.0    107
33.0    104
35.0    100
88.0     92
91.0     90
37.0     87
89.0     80
36.0     77
30.0     72
31.0     72
92.0     60
28.0     52
29.0     52
93.0     42
22.0     34
27.0     31
26.0     25
25.0     25
24.0     24
94.0     23
23.0     18
21.0     15
95.0      7
20.0      7
96.0      5
18.0      3
19.0      3
16.0      3
17.0      3
Name: balance, Length: 81, dtype: int64

Filling missing values with the ‘-99’ value:

In [148]:
df['balance'] = df['balance'].fillna(-99)
df['balance']= df['balance'].apply(lambda x: int(x))

In [149]:
print('Unique values:', df.balance.unique())
print('Number of unique values:', len(df.balance.unique()))
print('Missing values:', df.balance.isna().sum())
print("\n")
print('Description:')
print(df['balance'].describe())
print("\n")
print('Frequency:')
print(df['balance'].value_counts())

Unique values: [ 95  70  84  43  77  94  83  66  49  78  71  54  90  92  85  80  45  52
  59  35  91  55  88  76  93  81  60  86  65  69  68  36  40  64  61  46
  63  48  72  73  50  79  53  37  62  51  87  75  74  82  57  41  39  33
  67  30  44  58  47  56  31  32  89  27  38  34  25  42  96  28  24  29
  22  20  23  16  21  26  17  19 -99  18]
Number of unique values: 82
Missing values: 0


Description:
count    18207.000000
mean        63.536936
std         16.405487
min        -99.000000
25%         56.000000
50%         66.000000
75%         74.000000
max         96.000000
Name: balance, dtype: float64


Frequency:
 68    604
 70    594
 66    589
 65    589
 67    587
 69    574
 71    559
 72    548
 74    534
 73    524
 75    519
 64    509
 76    475
 62    471
 63    470
 61    451
 60    443
 77    436
 78    420
 59    410
 58    401
 55    350
 57    334
 79    332
 56    315
 54    303
 80    288
 53    254
 52    252
 81    239
      ...
 39    107
 33    104
 35    100
 88     92
 91     90
 37     87
 89     80
 36     77
 30     72
 31     72
 92     60
 28     52
 29     52
-99     48
 93     42
 22     34
 27     31
 26     25
 25     25
 24     24
 94     23
 23     18
 21     15
 95      7
 20      7
 96      5
 17      3
 18      3
 19      3
 16      3
Name: balance, Length: 82, dtype: int64

## shotpower

In [150]:
df.rename(columns={"ShotPower": "shotpower"} , inplace=True)
print('Unique values:', df.shotpower.unique())
print('Number of unique values:', len(df.shotpower.unique()))
print('Missing values:', df.shotpower.isna().sum())
print("\n")
print('Description:')
print(df['shotpower'].describe())
print("\n")
print('Frequency:')
print(df['shotpower'].value_counts())

Unique values: [85. 95. 80. 31. 91. 82. 79. 86. 22. 88. 87. 67. 72. 71. 36. 61. 25. 78.
 77. 75. 69. 84. 83. 92. 23. 39. 55. 90. 21. 64. 62. 70. 42. 81. 73. 52.
 56. 68. 74. 66. 65. 50. 40. 15. 63. 53. 59. 20. 14. 24. 76. 54. 44. 46.
 43. 28. 57. 89. 38. 60. 58. 35. 18. 94. 17. 29. 45. 48. 19. 37. 51. 49.
 41. 47. 30. 12. 26. 27. 34. 93. 33. 16. 13. 10. 11. 32.  8.  3.  6.  2.
  9. nan  7.]
Number of unique values: 93
Missing values: 48


Description:
count    18159.000000
mean        55.460047
std         17.237958
min          2.000000
25%         45.000000
50%         59.000000
75%         68.000000
max         95.000000
Name: shotpower, dtype: float64


Frequency:
68.0    574
70.0    558
65.0    552
62.0    542
66.0    515
60.0    497
64.0    491
63.0    473
58.0    471
59.0    462
67.0    460
61.0    445
72.0    441
55.0    426
69.0    406
56.0    402
75.0    381
71.0    380
57.0    368
74.0    363
52.0    361
73.0    322
54.0    316
53.0    299
76.0    290
48.0    288
49.0    275
51.0    270
50.0    266
45.0    254
       ...
82.0     81
29.0     80
16.0     73
30.0     71
28.0     65
84.0     65
27.0     61
85.0     57
15.0     55
14.0     39
86.0     37
12.0     32
87.0     24
13.0     24
11.0     13
88.0     13
9.0       4
10.0      4
89.0      3
90.0      3
92.0      3
8.0       2
6.0       2
91.0      2
3.0       1
7.0       1
2.0       1
93.0      1
94.0      1
95.0      1
Name: shotpower, Length: 92, dtype: int64

Filling missing values with the ‘-99’ value:

In [151]:
df['shotpower'] = df['shotpower'].fillna(-99)
df['shotpower']= df['shotpower'].apply(lambda x: int(x))

In [152]:
print('Unique values:', df.shotpower.unique())
print('Number of unique values:', len(df.shotpower.unique()))
print('Missing values:', df.shotpower.isna().sum())
print("\n")
print('Description:')
print(df['shotpower'].describe())
print("\n")
print('Frequency:')
print(df['shotpower'].value_counts())

Unique values: [ 85  95  80  31  91  82  79  86  22  88  87  67  72  71  36  61  25  78
  77  75  69  84  83  92  23  39  55  90  21  64  62  70  42  81  73  52
  56  68  74  66  65  50  40  15  63  53  59  20  14  24  76  54  44  46
  43  28  57  89  38  60  58  35  18  94  17  29  45  48  19  37  51  49
  41  47  30  12  26  27  34  93  33  16  13  10  11  32   8   3   6   2
   9 -99   7]
Number of unique values: 93
Missing values: 0


Description:
count    18207.000000
mean        55.052837
std         18.949912
min        -99.000000
25%         45.000000
50%         59.000000
75%         68.000000
max         95.000000
Name: shotpower, dtype: float64


Frequency:
 68    574
 70    558
 65    552
 62    542
 66    515
 60    497
 64    491
 63    473
 58    471
 59    462
 67    460
 61    445
 72    441
 55    426
 69    406
 56    402
 75    381
 71    380
 57    368
 74    363
 52    361
 73    322
 54    316
 53    299
 76    290
 48    288
 49    275
 51    270
 50    266
 45    254
      ...
 29     80
 16     73
 30     71
 84     65
 28     65
 27     61
 85     57
 15     55
-99     48
 14     39
 86     37
 12     32
 13     24
 87     24
 11     13
 88     13
 10      4
 9       4
 90      3
 92      3
 89      3
 91      2
 8       2
 6       2
 7       1
 2       1
 3       1
 93      1
 94      1
 95      1
Name: shotpower, Length: 93, dtype: int64

## jumping

In [153]:
df.rename(columns={"Jumping": "jumping"} , inplace=True)
print('Unique values:', df.jumping.unique())
print('Number of unique values:', len(df.jumping.unique()))
print('Missing values:', df.jumping.isna().sum())
print("\n")
print('Description:')
print(df['jumping'].describe())
print("\n")
print('Frequency:')
print(df['jumping'].value_counts())

Unique values: [68. 95. 61. 67. 63. 56. 69. 93. 76. 84. 30. 91. 64. 77. 75. 78. 90. 79.
 66. 88. 81. 89. 54. 53. 50. 59. 87. 74. 94. 83. 71. 60. 85. 39. 58. 57.
 70. 48. 47. 52. 82. 86. 92. 51. 72. 45. 73. 38. 41. 80. 34. 36. 43. 65.
 49. 44. 40. 62. 46. 33. 32. 35. 37. 31. 55. 42. 29. 26. 27. 23. 28. nan
 15. 16. 22.]
Number of unique values: 75
Missing values: 48


Description:
count    18159.000000
mean        65.089432
std         11.820044
min         15.000000
25%         58.000000
50%         66.000000
75%         73.000000
max         95.000000
Name: jumping, dtype: float64


Frequency:
70.0    718
72.0    651
68.0    647
71.0    631
65.0    626
63.0    624
67.0    621
73.0    616
64.0    600
69.0    593
66.0    591
62.0    588
60.0    583
74.0    572
58.0    530
61.0    515
75.0    507
59.0    505
57.0    432
76.0    429
55.0    410
56.0    397
77.0    354
54.0    351
78.0    315
80.0    301
53.0    297
52.0    277
81.0    266
82.0    253
       ...
44.0     89
41.0     87
34.0     83
33.0     81
43.0     80
87.0     79
91.0     75
40.0     71
88.0     65
38.0     65
37.0     60
32.0     59
36.0     57
89.0     56
39.0     54
31.0     52
35.0     48
92.0     45
30.0     40
93.0     18
29.0      8
94.0      5
27.0      5
26.0      4
28.0      2
23.0      1
22.0      1
16.0      1
15.0      1
95.0      1
Name: jumping, Length: 74, dtype: int64

Filling missing values with the ‘-99’ value:

In [154]:
df['jumping'] = df['jumping'].fillna(-99)
df['jumping']= df['jumping'].apply(lambda x: int(x))

In [155]:
print('Unique values:', df.jumping.unique())
print('Number of unique values:', len(df.jumping.unique()))
print('Missing values:', df.jumping.isna().sum())
print("\n")
print('Description:')
print(df['jumping'].describe())
print("\n")
print('Frequency:')
print(df['jumping'].value_counts())

Unique values: [ 68  95  61  67  63  56  69  93  76  84  30  91  64  77  75  78  90  79
  66  88  81  89  54  53  50  59  87  74  94  83  71  60  85  39  58  57
  70  48  47  52  82  86  92  51  72  45  73  38  41  80  34  36  43  65
  49  44  40  62  46  33  32  35  37  31  55  42  29  26  27  23  28 -99
  15  16  22]
Number of unique values: 75
Missing values: 0


Description:
count    18207.000000
mean        64.656835
std         14.496428
min        -99.000000
25%         58.000000
50%         66.000000
75%         73.000000
max         95.000000
Name: jumping, dtype: float64


Frequency:
 70    718
 72    651
 68    647
 71    631
 65    626
 63    624
 67    621
 73    616
 64    600
 69    593
 66    591
 62    588
 60    583
 74    572
 58    530
 61    515
 75    507
 59    505
 57    432
 76    429
 55    410
 56    397
 77    354
 54    351
 78    315
 80    301
 53    297
 52    277
 81    266
 82    253
      ...
 41     87
 34     83
 33     81
 43     80
 87     79
 91     75
 40     71
 38     65
 88     65
 37     60
 32     59
 36     57
 89     56
 39     54
 31     52
 35     48
-99     48
 92     45
 30     40
 93     18
 29      8
 27      5
 94      5
 26      4
 28      2
 95      1
 22      1
 23      1
 15      1
 16      1
Name: jumping, Length: 75, dtype: int64

## stamina

In [156]:
df.rename(columns={"Stamina": "stamina"} , inplace=True)
print('Unique values:', df.stamina.unique())
print('Number of unique values:', len(df.stamina.unique()))
print('Missing values:', df.stamina.isna().sum())
print("\n")
print('Description:')
print(df['stamina'].describe())
print("\n")
print('Frequency:')
print(df['stamina'].value_counts())

Unique values: [72. 88. 81. 43. 90. 83. 89. 84. 41. 78. 75. 66. 96. 80. 35. 38. 86. 92.
 76. 65. 87. 70. 79. 91. 74. 39. 71. 73. 77. 69. 55. 85. 32. 67. 45. 93.
 61. 94. 60. 36. 30. 34. 37. 68. 53. 64. 56. 82. 63. 58. 31. 95. 20. 29.
 42. 40. 44. 62. 23. 28. 25. 54. 50. 33. 27. 18. 51. 22. 57. 24. 59. 47.
 52. 48. 49. 26. 15. 46. 19. 17. 16. 21. 14. 13. 12. nan]
Number of unique values: 86
Missing values: 48


Description:
count    18159.000000
mean        63.219946
std         15.894741
min         12.000000
25%         56.000000
50%         66.000000
75%         74.000000
max         96.000000
Name: stamina, dtype: float64


Frequency:
68.0    694
69.0    668
67.0    630
72.0    611
65.0    587
74.0    577
66.0    574
70.0    572
75.0    556
64.0    549
71.0    544
73.0    540
76.0    477
63.0    466
62.0    463
77.0    436
78.0    419
60.0    413
61.0    407
55.0    377
59.0    363
79.0    342
58.0    336
54.0    310
80.0    298
53.0    250
82.0    240
52.0    237
56.0    234
57.0    231
       ...
25.0     91
89.0     90
27.0     86
43.0     84
47.0     79
36.0     78
91.0     78
24.0     75
37.0     75
22.0     75
29.0     74
26.0     73
39.0     73
21.0     72
46.0     65
23.0     64
20.0     64
92.0     58
18.0     44
17.0     38
19.0     37
93.0     27
16.0     22
14.0      9
94.0      7
15.0      4
96.0      3
95.0      2
13.0      2
12.0      1
Name: stamina, Length: 85, dtype: int64

Filling missing values with the ‘-99’ value:

In [157]:
df['stamina'] = df['stamina'].fillna(-99)
df['stamina']= df['stamina'].apply(lambda x: int(x))

In [158]:
print('Unique values:', df.stamina.unique())
print('Number of unique values:', len(df.stamina.unique()))
print('Missing values:', df.stamina.isna().sum())
print("\n")
print('Description:')
print(df['stamina'].describe())
print("\n")
print('Frequency:')
print(df['stamina'].value_counts())

Unique values: [ 72  88  81  43  90  83  89  84  41  78  75  66  96  80  35  38  86  92
  76  65  87  70  79  91  74  39  71  73  77  69  55  85  32  67  45  93
  61  94  60  36  30  34  37  68  53  64  56  82  63  58  31  95  20  29
  42  40  44  62  23  28  25  54  50  33  27  18  51  22  57  24  59  47
  52  48  49  26  15  46  19  17  16  21  14  13  12 -99]
Number of unique values: 86
Missing values: 0


Description:
count    18207.000000
mean        62.792278
std         17.921326
min        -99.000000
25%         56.000000
50%         66.000000
75%         74.000000
max         96.000000
Name: stamina, dtype: float64


Frequency:
 68    694
 69    668
 67    630
 72    611
 65    587
 74    577
 66    574
 70    572
 75    556
 64    549
 71    544
 73    540
 76    477
 63    466
 62    463
 77    436
 78    419
 60    413
 61    407
 55    377
 59    363
 79    342
 58    336
 54    310
 80    298
 53    250
 82    240
 52    237
 56    234
 57    231
      ...
 89     90
 27     86
 43     84
 47     79
 91     78
 36     78
 37     75
 22     75
 24     75
 29     74
 39     73
 26     73
 21     72
 46     65
 20     64
 23     64
 92     58
-99     48
 18     44
 17     38
 19     37
 93     27
 16     22
 14      9
 94      7
 15      4
 96      3
 13      2
 95      2
 12      1
Name: stamina, Length: 86, dtype: int64

## strength

In [159]:
df.rename(columns={"Strength": "strength"} , inplace=True)
print('Unique values:', df.strength.unique())
print('Number of unique values:', len(df.strength.unique()))
print('Missing values:', df.strength.isna().sum())
print("\n")
print('Description:')
print(df['strength'].describe())
print("\n")
print('Frequency:')
print(df['strength'].value_counts())

Unique values: [59. 79. 49. 64. 75. 66. 58. 83. 78. 84. 73. 88. 52. 76. 65. 62. 70. 77.
 80. 89. 71. 68. 44. 61. 43. 85. 82. 69. 94. 42. 67. 48. 92. 74. 63. 91.
 57. 54. 72. 81. 87. 86. 90. 60. 55. 46. 93. 51. 56. 53. 47. 38. 37. 50.
 45. 39. 40. 34. 41. 35. 32. 33. 30. 36. 95. 31. 29. 27. 26. 28. 24. 97.
 25. nan 17.]
Number of unique values: 75
Missing values: 48


Description:
count    18159.000000
mean        65.311967
std         12.557000
min         17.000000
25%         58.000000
50%         67.000000
75%         74.000000
max         97.000000
Name: strength, dtype: float64


Frequency:
68.0    678
67.0    626
65.0    623
69.0    605
70.0    596
73.0    569
72.0    569
64.0    564
66.0    561
75.0    541
74.0    538
71.0    538
62.0    536
63.0    521
60.0    517
77.0    509
61.0    493
58.0    484
76.0    466
59.0    465
78.0    456
57.0    390
79.0    382
56.0    377
80.0    303
55.0    299
53.0    255
54.0    252
52.0    250
81.0    238
       ...
42.0    130
90.0    118
41.0    111
40.0    111
88.0     94
38.0     94
87.0     90
39.0     88
34.0     85
91.0     75
89.0     74
33.0     71
32.0     65
37.0     65
92.0     58
36.0     55
35.0     52
31.0     41
30.0     39
93.0     29
29.0     20
94.0     14
28.0     10
27.0      4
26.0      4
95.0      3
25.0      2
24.0      2
17.0      1
97.0      1
Name: strength, Length: 74, dtype: int64

Filling missing values with the ‘-99’ value:

In [160]:
df['strength'] = df['strength'].fillna(-99)
df['strength']= df['strength'].apply(lambda x: int(x))

In [161]:
print('Unique values:', df.strength.unique())
print('Number of unique values:', len(df.strength.unique()))
print('Missing values:', df.strength.isna().sum())
print("\n")
print('Description:')
print(df['strength'].describe())
print("\n")
print('Frequency:')
print(df['strength'].value_counts())

Unique values: [ 59  79  49  64  75  66  58  83  78  84  73  88  52  76  65  62  70  77
  80  89  71  68  44  61  43  85  82  69  94  42  67  48  92  74  63  91
  57  54  72  81  87  86  90  60  55  46  93  51  56  53  47  38  37  50
  45  39  40  34  41  35  32  33  30  36  95  31  29  27  26  28  24  97
  25 -99  17]
Number of unique values: 75
Missing values: 0


Description:
count    18207.000000
mean        64.878783
std         15.108145
min        -99.000000
25%         58.000000
50%         66.000000
75%         74.000000
max         97.000000
Name: strength, dtype: float64


Frequency:
 68    678
 67    626
 65    623
 69    605
 70    596
 73    569
 72    569
 64    564
 66    561
 75    541
 71    538
 74    538
 62    536
 63    521
 60    517
 77    509
 61    493
 58    484
 76    466
 59    465
 78    456
 57    390
 79    382
 56    377
 80    303
 55    299
 53    255
 54    252
 52    250
 81    238
      ...
 90    118
 41    111
 40    111
 38     94
 88     94
 87     90
 39     88
 34     85
 91     75
 89     74
 33     71
 32     65
 37     65
 92     58
 36     55
 35     52
-99     48
 31     41
 30     39
 93     29
 29     20
 94     14
 28     10
 26      4
 27      4
 95      3
 25      2
 24      2
 97      1
 17      1
Name: strength, Length: 75, dtype: int64

## longshots

In [162]:
df.rename(columns={"LongShots": "longshots"} , inplace=True)
print('Unique values:', df.longshots.unique())
print('Number of unique values:', len(df.longshots.unique()))
print('Missing values:', df.longshots.isna().sum())
print("\n")
print('Description:')
print(df['longshots'].describe())
print("\n")
print('Frequency:')
print(df['longshots'].value_counts())

Unique values: [94. 93. 82. 12. 91. 80. 85. 59. 84. 92. 43. 75. 69. 88. 10. 17. 54. 79.
 16. 83. 49. 78. 87. 89. 51. 70. 14. 68. 19. 13. 74. 15. 81. 66. 90. 72.
 18. 64. 73. 76. 53. 58. 86. 60. 65. 24. 71. 30. 56. 41. 55. 44. 48. 47.
 62. 35. 36. 77. 11. 39. 25. 67. 31. 38. 28. 20.  9. 61.  7. 46. 45. 50.
 52. 26. 42. 37. 22. 40. 34. 57. 29. 63. 27. 21. 23.  8. 32. 33.  6.  5.
  4. nan  3.]
Number of unique values: 93
Missing values: 48


Description:
count    18159.000000
mean        47.109973
std         19.260524
min          3.000000
25%         33.000000
50%         51.000000
75%         62.000000
max         94.000000
Name: longshots, dtype: float64


Frequency:
59.0    508
58.0    496
62.0    485
65.0    436
55.0    435
64.0    430
60.0    408
56.0    401
52.0    395
63.0    385
66.0    378
68.0    376
61.0    372
57.0    370
54.0    361
67.0    351
48.0    330
53.0    322
70.0    295
69.0    290
49.0    288
51.0    283
50.0    276
45.0    272
41.0    269
47.0    251
46.0    248
42.0    241
43.0    235
40.0    234
       ...
21.0    155
11.0    135
75.0    130
8.0     123
76.0    116
9.0     112
6.0     110
7.0     107
77.0     98
5.0      84
78.0     83
10.0     80
80.0     60
79.0     48
82.0     36
81.0     31
83.0     16
84.0     15
86.0     10
87.0      9
85.0      7
88.0      6
4.0       6
90.0      2
91.0      2
92.0      2
93.0      2
89.0      2
3.0       1
94.0      1
Name: longshots, Length: 92, dtype: int64

Filling missing values with the ‘-99’ value:

In [163]:
df['longshots'] = df['longshots'].fillna(-99)
df['longshots']= df['longshots'].apply(lambda x: int(x))

In [164]:
print('Unique values:', df.longshots.unique())
print('Number of unique values:', len(df.longshots.unique()))
print('Missing values:', df.longshots.isna().sum())
print("\n")
print('Description:')
print(df['longshots'].describe())
print("\n")
print('Frequency:')
print(df['longshots'].value_counts())

Unique values: [ 94  93  82  12  91  80  85  59  84  92  43  75  69  88  10  17  54  79
  16  83  49  78  87  89  51  70  14  68  19  13  74  15  81  66  90  72
  18  64  73  76  53  58  86  60  65  24  71  30  56  41  55  44  48  47
  62  35  36  77  11  39  25  67  31  38  28  20   9  61   7  46  45  50
  52  26  42  37  22  40  34  57  29  63  27  21  23   8  32  33   6   5
   4 -99   3]
Number of unique values: 93
Missing values: 0


Description:
count    18207.000000
mean        46.724776
std         20.642809
min        -99.000000
25%         32.000000
50%         51.000000
75%         62.000000
max         94.000000
Name: longshots, dtype: float64


Frequency:
 59    508
 58    496
 62    485
 65    436
 55    435
 64    430
 60    408
 56    401
 52    395
 63    385
 66    378
 68    376
 61    372
 57    370
 54    361
 67    351
 48    330
 53    322
 70    295
 69    290
 49    288
 51    283
 50    276
 45    272
 41    269
 47    251
 46    248
 42    241
 43    235
 40    234
      ...
 11    135
 75    130
 8     123
 76    116
 9     112
 6     110
 7     107
 77     98
 5      84
 78     83
 10     80
 80     60
 79     48
-99     48
 82     36
 81     31
 83     16
 84     15
 86     10
 87      9
 85      7
 88      6
 4       6
 91      2
 92      2
 90      2
 93      2
 89      2
 94      1
 3       1
Name: longshots, Length: 93, dtype: int64

## aggression

In [165]:
df.rename(columns={"Aggression": "aggression"} , inplace=True)
print('Unique values:', df.aggression.unique())
print('Number of unique values:', len(df.aggression.unique()))
print('Missing values:', df.aggression.isna().sum())
print("\n")
print('Description:')
print(df['aggression'].describe())
print("\n")
print('Frequency:')
print(df['aggression'].value_counts())

Unique values: [48. 63. 56. 38. 76. 54. 62. 87. 88. 34. 80. 60. 89. 57. 90. 69. 43. 23.
 85. 84. 29. 65. 92. 64. 58. 46. 59. 31. 50. 25. 81. 78. 32. 75. 77. 67.
 72. 61. 35. 73. 82. 55. 49. 70. 86. 45. 27. 74. 71. 91. 40. 79. 93. 51.
 83. 94. 28. 44. 20. 66. 47. 36. 18. 30. 41. 68. 39. 37. 22. 53. 52. 42.
 33. 11. 17. 26. 24. 21. 19. 15. 13. 16. 12. 95. 14. nan]
Number of unique values: 86
Missing values: 48


Description:
count    18159.000000
mean        55.868991
std         17.367967
min         11.000000
25%         44.000000
50%         59.000000
75%         69.000000
max         95.000000
Name: aggression, dtype: float64


Frequency:
65.0    516
68.0    514
70.0    489
60.0    464
58.0    458
55.0    432
62.0    427
72.0    427
66.0    424
59.0    421
67.0    398
64.0    398
63.0    390
71.0    390
69.0    377
74.0    363
61.0    362
75.0    361
73.0    343
56.0    340
57.0    329
54.0    320
52.0    316
53.0    312
50.0    299
45.0    286
48.0    280
76.0    278
78.0    271
49.0    266
       ...
26.0    145
22.0    140
37.0    134
29.0    131
24.0    121
23.0    113
20.0    112
83.0    111
21.0    108
19.0    107
84.0     89
18.0     87
17.0     85
85.0     84
16.0     61
88.0     55
86.0     55
87.0     52
90.0     35
89.0     28
15.0     25
13.0     17
92.0     16
91.0     13
12.0     12
14.0     11
94.0      8
11.0      5
93.0      3
95.0      1
Name: aggression, Length: 85, dtype: int64

Filling missing values with the ‘-99’ value:

In [166]:
df['aggression'] = df['aggression'].fillna(-99)
df['aggression']= df['aggression'].apply(lambda x: int(x))

In [167]:
print('Unique values:', df.aggression.unique())
print('Number of unique values:', len(df.aggression.unique()))
print('Missing values:', df.aggression.isna().sum())
print("\n")
print('Description:')
print(df['aggression'].describe())
print("\n")
print('Frequency:')
print(df['aggression'].value_counts())

Unique values: [ 48  63  56  38  76  54  62  87  88  34  80  60  89  57  90  69  43  23
  85  84  29  65  92  64  58  46  59  31  50  25  81  78  32  75  77  67
  72  61  35  73  82  55  49  70  86  45  27  74  71  91  40  79  93  51
  83  94  28  44  20  66  47  36  18  30  41  68  39  37  22  53  52  42
  33  11  17  26  24  21  19  15  13  16  12  95  14 -99]
Number of unique values: 86
Missing values: 0


Description:
count    18207.000000
mean        55.460702
std         19.076662
min        -99.000000
25%         44.000000
50%         59.000000
75%         69.000000
max         95.000000
Name: aggression, dtype: float64


Frequency:
 65    516
 68    514
 70    489
 60    464
 58    458
 55    432
 62    427
 72    427
 66    424
 59    421
 67    398
 64    398
 63    390
 71    390
 69    377
 74    363
 61    362
 75    361
 73    343
 56    340
 57    329
 54    320
 52    316
 53    312
 50    299
 45    286
 48    280
 76    278
 78    271
 49    266
      ...
 22    140
 37    134
 29    131
 24    121
 23    113
 20    112
 83    111
 21    108
 19    107
 84     89
 18     87
 17     85
 85     84
 16     61
 86     55
 88     55
 87     52
-99     48
 90     35
 89     28
 15     25
 13     17
 92     16
 91     13
 12     12
 14     11
 94      8
 11      5
 93      3
 95      1
Name: aggression, Length: 86, dtype: int64

## interceptions

In [168]:
df.rename(columns={"Interceptions": "interceptions"} , inplace=True)
print('Unique values:', df.interceptions.unique())
print('Number of unique values:', len(df.interceptions.unique()))
print('Missing values:', df.interceptions.isna().sum())
print("\n")
print('Description:')
print(df['interceptions'].describe())
print("\n")
print('Frequency:')
print(df['interceptions'].value_counts())

Unique values: [22. 29. 36. 30. 61. 41. 83. 90. 19. 39. 82. 88. 50. 92. 32. 35. 15. 87.
 48. 24. 38. 55. 26. 64. 56. 49. 85. 59. 27. 20. 89. 28. 66. 40. 84. 72.
 75. 34. 25. 86. 58. 78. 45. 11. 79. 42. 81. 46. 69. 80. 70. 74. 62. 18.
 77. 76. 37. 23. 33. 44. 21. 31. 13. 43. 16. 53. 54. 73. 65. 51. 10. 71.
 60. 67. 68. 52. 57. 14. 17. 12. 47. 63.  9.  7.  8.  6. nan  5.  3.  4.]
Number of unique values: 90
Missing values: 48


Description:
count    18159.000000
mean        46.698276
std         20.696909
min          3.000000
25%         26.000000
50%         52.000000
75%         64.000000
max         92.000000
Name: interceptions, dtype: float64


Frequency:
62.0    509
66.0    505
65.0    493
63.0    477
64.0    465
60.0    428
68.0    408
58.0    402
67.0    389
22.0    373
59.0    373
61.0    370
57.0    363
23.0    359
55.0    349
70.0    336
69.0    333
24.0    332
18.0    328
25.0    324
56.0    317
20.0    316
54.0    308
21.0    303
72.0    301
19.0    284
52.0    266
17.0    262
71.0    255
26.0    243
       ...
76.0    142
41.0    137
10.0    136
47.0    136
39.0    133
46.0    133
37.0    132
44.0    126
77.0    110
78.0     98
79.0     79
80.0     74
81.0     57
9.0      56
8.0      53
82.0     49
7.0      46
6.0      46
83.0     25
84.0     24
85.0     17
86.0     16
87.0     12
5.0       6
88.0      5
89.0      3
90.0      3
92.0      2
4.0       1
3.0       1
Name: interceptions, Length: 89, dtype: int64

Filling missing values with the ‘-99’ value:

In [169]:
df['interceptions'] = df['interceptions'].fillna(-99)
df['interceptions']= df['interceptions'].apply(lambda x: int(x))

In [170]:
print('Unique values:', df.interceptions.unique())
print('Number of unique values:', len(df.interceptions.unique()))
print('Missing values:', df.interceptions.isna().sum())
print("\n")
print('Description:')
print(df['interceptions'].describe())
print("\n")
print('Frequency:')
print(df['interceptions'].value_counts())

Unique values: [ 22  29  36  30  61  41  83  90  19  39  82  88  50  92  32  35  15  87
  48  24  38  55  26  64  56  49  85  59  27  20  89  28  66  40  84  72
  75  34  25  86  58  78  45  11  79  42  81  46  69  80  70  74  62  18
  77  76  37  23  33  44  21  31  13  43  16  53  54  73  65  51  10  71
  60  67  68  52  57  14  17  12  47  63   9   7   8   6 -99   5   3   4]
Number of unique values: 90
Missing values: 0


Description:
count    18207.000000
mean        46.314165
std         21.978457
min        -99.000000
25%         26.000000
50%         52.000000
75%         64.000000
max         92.000000
Name: interceptions, dtype: float64


Frequency:
 62    509
 66    505
 65    493
 63    477
 64    465
 60    428
 68    408
 58    402
 67    389
 59    373
 22    373
 61    370
 57    363
 23    359
 55    349
 70    336
 69    333
 24    332
 18    328
 25    324
 56    317
 20    316
 54    308
 21    303
 72    301
 19    284
 52    266
 17    262
 71    255
 26    243
      ...
 41    137
 10    136
 47    136
 46    133
 39    133
 37    132
 44    126
 77    110
 78     98
 79     79
 80     74
 81     57
 9      56
 8      53
 82     49
-99     48
 7      46
 6      46
 83     25
 84     24
 85     17
 86     16
 87     12
 5       6
 88      5
 89      3
 90      3
 92      2
 4       1
 3       1
Name: interceptions, Length: 90, dtype: int64

## positioning

In [171]:
df.rename(columns={"Positioning": "positioning"} , inplace=True)
print('Unique values:', df.positioning.unique())
print('Number of unique values:', len(df.positioning.unique()))
print('Missing values:', df.positioning.isna().sum())
print("\n")
print('Description:')
print(df['positioning'].describe())
print("\n")
print('Frequency:')
print(df['positioning'].value_counts())

Unique values: [94. 95. 89. 12. 87. 79. 92. 60. 11. 91. 48. 71. 84. 93. 13. 77. 28. 88.
 90. 69. 80. 83. 78. 56. 85. 10. 59. 58. 24. 81. 16. 20. 41. 44. 70. 76.
 62. 38. 30. 82. 86. 25. 51. 14. 47. 53. 72. 43. 40. 34. 54. 26. 46. 64.
 61.  9. 32.  7. 67. 75. 49. 39. 74. 27. 15. 18. 29. 73. 37. 66. 55. 65.
 57. 31. 33. 50. 45. 42. 63. 21. 17. 35. 68.  8.  5. 36.  4. 52. 23. 19.
  6. 22.  3.  2. nan]
Number of unique values: 95
Missing values: 48


Description:
count    18159.000000
mean        49.958478
std         19.529036
min          2.000000
25%         38.000000
50%         55.000000
75%         64.000000
max         95.000000
Name: positioning, dtype: float64


Frequency:
58.0    574
65.0    537
62.0    516
64.0    509
60.0    503
59.0    494
63.0    478
55.0    461
68.0    459
66.0    457
61.0    442
53.0    428
56.0    427
57.0    427
67.0    423
54.0    407
52.0    377
69.0    350
70.0    346
48.0    329
50.0    320
49.0    314
51.0    305
72.0    279
73.0    259
71.0    254
47.0    245
45.0    243
46.0    219
12.0    219
       ...
22.0    110
5.0     110
16.0    109
78.0    106
21.0    104
20.0     91
17.0     90
79.0     83
9.0      83
18.0     83
4.0      69
19.0     68
80.0     68
81.0     44
82.0     42
83.0     39
84.0     31
85.0     17
87.0     12
86.0     10
3.0       9
88.0      7
2.0       5
92.0      5
89.0      5
90.0      4
91.0      3
93.0      2
95.0      1
94.0      1
Name: positioning, Length: 94, dtype: int64

Filling missing values with the ‘-99’ value:

In [172]:
df['positioning'] = df['positioning'].fillna(-99)
df['positioning']= df['positioning'].apply(lambda x: int(x))

In [173]:
print('Unique values:', df.positioning.unique())
print('Number of unique values:', len(df.positioning.unique()))
print('Missing values:', df.positioning.isna().sum())
print("\n")
print('Description:')
print(df['positioning'].describe())
print("\n")
print('Frequency:')
print(df['positioning'].value_counts())

Unique values: [ 94  95  89  12  87  79  92  60  11  91  48  71  84  93  13  77  28  88
  90  69  80  83  78  56  85  10  59  58  24  81  16  20  41  44  70  76
  62  38  30  82  86  25  51  14  47  53  72  43  40  34  54  26  46  64
  61   9  32   7  67  75  49  39  74  27  15  18  29  73  37  66  55  65
  57  31  33  50  45  42  63  21  17  35  68   8   5  36   4  52  23  19
   6  22   3   2 -99]
Number of unique values: 95
Missing values: 0


Description:
count    18207.000000
mean        49.565771
std         20.945731
min        -99.000000
25%         38.000000
50%         55.000000
75%         64.000000
max         95.000000
Name: positioning, dtype: float64


Frequency:
 58    574
 65    537
 62    516
 64    509
 60    503
 59    494
 63    478
 55    461
 68    459
 66    457
 61    442
 53    428
 57    427
 56    427
 67    423
 54    407
 52    377
 69    350
 70    346
 48    329
 50    320
 49    314
 51    305
 72    279
 73    259
 71    254
 47    245
 45    243
 46    219
 12    219
      ...
 5     110
 16    109
 78    106
 21    104
 20     91
 17     90
 18     83
 9      83
 79     83
 4      69
 19     68
 80     68
-99     48
 81     44
 82     42
 83     39
 84     31
 85     17
 87     12
 86     10
 3       9
 88      7
 89      5
 92      5
 2       5
 90      4
 91      3
 93      2
 94      1
 95      1
Name: positioning, Length: 95, dtype: int64

## vision

In [174]:
df.rename(columns={"Vision": "vision"} , inplace=True)
print('Unique values:', df.vision.unique())
print('Number of unique values:', len(df.vision.unique()))
print('Missing values:', df.vision.isna().sum())
print("\n")
print('Description:')
print(df['vision'].describe())
print("\n")
print('Frequency:')
print(df['vision'].value_counts())

Unique values: [94. 82. 87. 68. 89. 92. 84. 63. 70. 77. 86. 52. 79. 80. 83. 69. 44. 50.
 91. 90. 30. 74. 72. 41. 58. 64. 43. 76. 65. 62. 67. 59. 85. 56. 88. 47.
 75. 93. 57. 81. 66. 22. 53. 78. 48. 49. 27. 73. 51. 54. 46. 45. 42. 60.
 61. 71. 55. 23. 37. 25. 40. 34. 32. 36. 28. 15. 38. 33. 39. 31. 16. 35.
 18. 14. 20. 21. 11. 26. 19. 17. 29. 24. 13. 12. 10. nan]
Number of unique values: 86
Missing values: 48


Description:
count    18159.000000
mean        53.400903
std         14.146881
min         10.000000
25%         44.000000
50%         55.000000
75%         64.000000
max         94.000000
Name: vision, dtype: float64


Frequency:
58.0    595
55.0    565
60.0    541
59.0    536
62.0    513
65.0    507
64.0    498
53.0    472
63.0    470
52.0    469
57.0    460
54.0    457
56.0    442
66.0    439
50.0    437
51.0    428
68.0    417
48.0    410
49.0    408
45.0    396
67.0    392
61.0    388
69.0    359
47.0    339
46.0    334
70.0    331
42.0    322
72.0    305
43.0    289
44.0    285
       ...
79.0     63
24.0     60
23.0     51
22.0     44
81.0     44
82.0     38
20.0     37
21.0     35
83.0     33
19.0     31
18.0     27
14.0     24
12.0     20
11.0     20
84.0     20
86.0     19
15.0     18
13.0     17
17.0     17
16.0     16
85.0     15
87.0     12
10.0      6
88.0      4
89.0      3
91.0      3
92.0      2
94.0      2
93.0      1
90.0      1
Name: vision, Length: 85, dtype: int64

Filling missing values with the ‘-99’ value:

In [175]:
df['vision'] = df['vision'].fillna(-99)
df['vision']= df['vision'].apply(lambda x: int(x))

In [176]:
print('Unique values:', df.vision.unique())
print('Number of unique values:', len(df.vision.unique()))
print('Missing values:', df.vision.isna().sum())
print("\n")
print('Description:')
print(df['vision'].describe())
print("\n")
print('Frequency:')
print(df['vision'].value_counts())

Unique values: [ 94  82  87  68  89  92  84  63  70  77  86  52  79  80  83  69  44  50
  91  90  30  74  72  41  58  64  43  76  65  62  67  59  85  56  88  47
  75  93  57  81  66  22  53  78  48  49  27  73  51  54  46  45  42  60
  61  71  55  23  37  25  40  34  32  36  28  15  38  33  39  31  16  35
  18  14  20  21  11  26  19  17  29  24  13  12  10 -99]
Number of unique values: 86
Missing values: 0


Description:
count    18207.000000
mean        52.999121
std         16.145601
min        -99.000000
25%         44.000000
50%         55.000000
75%         64.000000
max         94.000000
Name: vision, dtype: float64


Frequency:
 58    595
 55    565
 60    541
 59    536
 62    513
 65    507
 64    498
 53    472
 63    470
 52    469
 57    460
 54    457
 56    442
 66    439
 50    437
 51    428
 68    417
 48    410
 49    408
 45    396
 67    392
 61    388
 69    359
 47    339
 46    334
 70    331
 42    322
 72    305
 43    289
 44    285
      ...
 24     60
 23     51
-99     48
 81     44
 22     44
 82     38
 20     37
 21     35
 83     33
 19     31
 18     27
 14     24
 84     20
 11     20
 12     20
 86     19
 15     18
 17     17
 13     17
 16     16
 85     15
 87     12
 10      6
 88      4
 91      3
 89      3
 92      2
 94      2
 90      1
 93      1
Name: vision, Length: 86, dtype: int64

## penalties

In [177]:
df.rename(columns={"Penalties": "penalties"} , inplace=True)
print('Unique values:', df.penalties.unique())
print('Number of unique values:', len(df.penalties.unique()))
print('Missing values:', df.penalties.isna().sum())
print("\n")
print('Description:')
print(df['penalties'].describe())
print("\n")
print('Frequency:')
print(df['penalties'].value_counts())

Unique values: [75. 85. 81. 40. 79. 86. 82. 11. 88. 73. 50. 54. 90. 25. 27. 60. 47. 83.
 70. 61. 66. 76. 67. 68. 59. 23. 22. 33. 78. 69. 71. 17. 62. 72. 43. 64.
 77. 89. 58. 41. 56. 44. 55. 80. 84. 26. 45. 18. 46. 63. 49. 65. 57. 38.
 32. 74. 91. 31. 16. 21. 20. 15. 24. 37. 53. 52. 39. 92. 13. 14. 48. 34.
 36. 51. 19. 30. 42. 29. 10.  9. 87. 35. 12. 28. nan  7.  5.  8.]
Number of unique values: 88
Missing values: 48


Description:
count    18159.000000
mean        48.548598
std         15.704053
min          5.000000
25%         39.000000
50%         49.000000
75%         60.000000
max         92.000000
Name: penalties, dtype: float64


Frequency:
45.0    492
55.0    488
49.0    480
48.0    473
58.0    471
59.0    468
60.0    452
50.0    444
44.0    426
42.0    420
40.0    419
61.0    411
47.0    409
46.0    406
41.0    397
56.0    396
52.0    392
62.0    390
57.0    384
53.0    378
38.0    372
39.0    367
51.0    366
65.0    364
63.0    363
64.0    360
54.0    360
43.0    356
66.0    351
37.0    322
       ...
12.0    107
14.0    102
13.0    101
29.0     86
11.0     83
76.0     81
26.0     73
28.0     69
27.0     68
77.0     65
80.0     58
10.0     52
78.0     47
79.0     38
81.0     29
83.0     20
82.0     18
84.0     14
85.0     14
88.0      7
9.0       6
90.0      6
86.0      5
8.0       4
89.0      3
87.0      3
7.0       1
92.0      1
91.0      1
5.0       1
Name: penalties, Length: 87, dtype: int64

Filling missing values with the ‘-99’ value:

In [178]:
df['penalties'] = df['penalties'].fillna(-99)
df['penalties']= df['penalties'].apply(lambda x: int(x))

In [179]:
print('Unique values:', df.penalties.unique())
print('Number of unique values:', len(df.penalties.unique()))
print('Missing values:', df.penalties.isna().sum())
print("\n")
print('Description:')
print(df['penalties'].describe())
print("\n")
print('Frequency:')
print(df['penalties'].value_counts())

Unique values: [ 75  85  81  40  79  86  82  11  88  73  50  54  90  25  27  60  47  83
  70  61  66  76  67  68  59  23  22  33  78  69  71  17  62  72  43  64
  77  89  58  41  56  44  55  80  84  26  45  18  46  63  49  65  57  38
  32  74  91  31  16  21  20  15  24  37  53  52  39  92  13  14  48  34
  36  51  19  30  42  29  10   9  87  35  12  28 -99   7   5   8]
Number of unique values: 88
Missing values: 0


Description:
count    18207.000000
mean        48.159609
std         17.413035
min        -99.000000
25%         39.000000
50%         49.000000
75%         60.000000
max         92.000000
Name: penalties, dtype: float64


Frequency:
 45    492
 55    488
 49    480
 48    473
 58    471
 59    468
 60    452
 50    444
 44    426
 42    420
 40    419
 61    411
 47    409
 46    406
 41    397
 56    396
 52    392
 62    390
 57    384
 53    378
 38    372
 39    367
 51    366
 65    364
 63    363
 64    360
 54    360
 43    356
 66    351
 37    322
      ...
 14    102
 13    101
 29     86
 11     83
 76     81
 26     73
 28     69
 27     68
 77     65
 80     58
 10     52
-99     48
 78     47
 79     38
 81     29
 83     20
 82     18
 84     14
 85     14
 88      7
 90      6
 9       6
 86      5
 8       4
 89      3
 87      3
 91      1
 7       1
 92      1
 5       1
Name: penalties, Length: 88, dtype: int64

## composure

In [180]:
df.rename(columns={"Composure": "composure"} , inplace=True)
print('Unique values:', df.composure.unique())
print('Number of unique values:', len(df.composure.unique()))
print('Missing values:', df.composure.isna().sum())
print("\n")
print('Description:')
print(df['composure'].describe())
print("\n")
print('Frequency:')
print(df['composure'].value_counts())

Unique values: [96. 95. 94. 68. 88. 91. 84. 85. 82. 70. 86. 93. 89. 87. 69. 66. 90. 83.
 65. 81. 78. 67. 79. 80. 77. 75. 73. 72. 48. 64. 71. 74. 63. 76. 20. 52.
 61. 57. 92. 55. 39. 62. 40. 58. 53. 60. 59. 45. 54. 51. 42. 56. 49. 33.
 46. 44. 32. 50. 43. 31. 38. 41. 37. 30. 35. 25. 28. 47. 23. 36. 34. 24.
 22. 27. 26. 29.  3. 18. 12. 21. 15. 13. 19. nan 14.]
Number of unique values: 85
Missing values: 48


Description:
count    18159.000000
mean        58.648274
std         11.436133
min          3.000000
25%         51.000000
50%         60.000000
75%         67.000000
max         96.000000
Name: composure, dtype: float64


Frequency:
60.0    743
58.0    698
62.0    690
65.0    689
55.0    664
64.0    643
59.0    616
63.0    601
68.0    593
66.0    560
56.0    551
67.0    548
61.0    540
57.0    537
70.0    505
50.0    496
54.0    465
52.0    455
53.0    438
69.0    418
49.0    404
48.0    396
72.0    369
51.0    364
71.0    343
47.0    335
45.0    321
73.0    303
74.0    298
46.0    285
       ...
30.0     37
28.0     30
25.0     28
22.0     27
27.0     26
29.0     25
86.0     24
26.0     23
23.0     22
85.0     19
24.0     17
21.0     14
87.0     11
88.0      6
90.0      5
89.0      5
20.0      4
12.0      3
15.0      3
91.0      3
13.0      3
18.0      2
93.0      2
3.0       1
95.0      1
94.0      1
92.0      1
14.0      1
19.0      1
96.0      1
Name: composure, Length: 84, dtype: int64

Filling missing values with the ‘-99’ value:

In [181]:
df['composure'] = df['composure'].fillna(-99)
df['composure']= df['composure'].apply(lambda x: int(x))

In [182]:
print('Unique values:', df.composure.unique())
print('Number of unique values:', len(df.composure.unique()))
print('Missing values:', df.composure.isna().sum())
print("\n")
print('Description:')
print(df['composure'].describe())
print("\n")
print('Frequency:')
print(df['composure'].value_counts())

Unique values: [ 96  95  94  68  88  91  84  85  82  70  86  93  89  87  69  66  90  83
  65  81  78  67  79  80  77  75  73  72  48  64  71  74  63  76  20  52
  61  57  92  55  39  62  40  58  53  60  59  45  54  51  42  56  49  33
  46  44  32  50  43  31  38  41  37  30  35  25  28  47  23  36  34  24
  22  27  26  29   3  18  12  21  15  13  19 -99  14]
Number of unique values: 85
Missing values: 0


Description:
count    18207.000000
mean        58.232658
std         13.992580
min        -99.000000
25%         51.000000
50%         59.000000
75%         67.000000
max         96.000000
Name: composure, dtype: float64


Frequency:
60    743
58    698
62    690
65    689
55    664
64    643
59    616
63    601
68    593
66    560
56    551
67    548
61    540
57    537
70    505
50    496
54    465
52    455
53    438
69    418
49    404
48    396
72    369
51    364
71    343
47    335
45    321
73    303
74    298
46    285
     ...
30     37
28     30
25     28
22     27
27     26
29     25
86     24
26     23
23     22
85     19
24     17
21     14
87     11
88      6
89      5
90      5
20      4
13      3
91      3
15      3
12      3
93      2
18      2
3       1
14      1
19      1
92      1
96      1
94      1
95      1
Name: composure, Length: 85, dtype: int64

## marking

In [183]:
df.rename(columns={"Marking": "marking"} , inplace=True)
print('Unique values:', df.marking.unique())
print('Number of unique values:', len(df.marking.unique()))
print('Missing values:', df.marking.isna().sum())
print("\n")
print('Description:')
print(df['marking'].describe())
print("\n")
print('Frequency:')
print(df['marking'].value_counts())

Unique values: [33. 28. 27. 15. 68. 34. 60. 62. 87. 72. 90. 59. 23. 56. 25. 20. 52. 17.
 30. 93. 38. 88. 51. 55. 71. 54. 29. 35. 13. 45. 91. 66. 75. 36. 49. 42.
 47. 78. 81. 44. 67. 89. 24. 85. 92. 40. 31. 77. 80. 86. 83. 69. 84. 82.
 64. 58. 63. 70. 46. 48. 39. 10. 73. 43. 32. 14. 50. 94. 53. 26. 19. 16.
 65. 41. 79.  9. 12. 21. 76. 37. 18. 57. 22. 11. 74. 61.  7.  8.  4.  3.
  5.  6. nan]
Number of unique values: 93
Missing values: 48


Description:
count    18159.000000
mean        47.281623
std         19.904397
min          3.000000
25%         30.000000
50%         53.000000
75%         64.000000
max         94.000000
Name: marking, dtype: float64


Frequency:
60.0    573
62.0    549
65.0    525
64.0    485
58.0    466
55.0    453
63.0    428
66.0    427
59.0    424
68.0    420
67.0    419
70.0    390
69.0    358
61.0    356
56.0    328
57.0    327
20.0    307
72.0    292
30.0    291
54.0    270
45.0    260
52.0    259
71.0    255
50.0    252
12.0    248
53.0    245
28.0    244
25.0    243
35.0    242
22.0    239
       ...
13.0    149
36.0    148
33.0    145
43.0    130
76.0    113
77.0     99
9.0      94
78.0     92
8.0      86
80.0     65
7.0      53
79.0     49
82.0     31
81.0     30
6.0      29
83.0     21
85.0     17
5.0      16
84.0     12
90.0      9
88.0      9
86.0      6
87.0      5
91.0      2
89.0      2
92.0      1
94.0      1
4.0       1
93.0      1
3.0       1
Name: marking, Length: 92, dtype: int64

Filling missing values with the ‘-99’ value:

In [184]:
df['marking'] = df['marking'].fillna(-99)
df['marking']= df['marking'].apply(lambda x: int(x))

In [185]:
print('Unique values:', df.marking.unique())
print('Number of unique values:', len(df.marking.unique()))
print('Missing values:', df.marking.isna().sum())
print("\n")
print('Description:')
print(df['marking'].describe())
print("\n")
print('Frequency:')
print(df['marking'].value_counts())

Unique values: [ 33  28  27  15  68  34  60  62  87  72  90  59  23  56  25  20  52  17
  30  93  38  88  51  55  71  54  29  35  13  45  91  66  75  36  49  42
  47  78  81  44  67  89  24  85  92  40  31  77  80  86  83  69  84  82
  64  58  63  70  46  48  39  10  73  43  32  14  50  94  53  26  19  16
  65  41  79   9  12  21  76  37  18  57  22  11  74  61   7   8   4   3
   5   6 -99]
Number of unique values: 93
Missing values: 0


Description:
count    18207.000000
mean        46.895974
std         21.246371
min        -99.000000
25%         30.000000
50%         53.000000
75%         64.000000
max         94.000000
Name: marking, dtype: float64


Frequency:
 60    573
 62    549
 65    525
 64    485
 58    466
 55    453
 63    428
 66    427
 59    424
 68    420
 67    419
 70    390
 69    358
 61    356
 56    328
 57    327
 20    307
 72    292
 30    291
 54    270
 45    260
 52    259
 71    255
 50    252
 12    248
 53    245
 28    244
 25    243
 35    242
 22    239
      ...
 36    148
 33    145
 43    130
 76    113
 77     99
 9      94
 78     92
 8      86
 80     65
 7      53
 79     49
-99     48
 82     31
 81     30
 6      29
 83     21
 85     17
 5      16
 84     12
 90      9
 88      9
 86      6
 87      5
 89      2
 91      2
 92      1
 93      1
 3       1
 4       1
 94      1
Name: marking, Length: 93, dtype: int64

## standing_tackle

In [186]:
df.rename(columns={"StandingTackle": "standing_tackle"} , inplace=True)
print('Unique values:', df.standing_tackle.unique())
print('Number of unique values:', len(df.standing_tackle.unique()))
print('Missing values:', df.standing_tackle.isna().sum())
print("\n")
print('Description:')
print(df['standing_tackle'].describe())
print("\n")
print('Frequency:')
print(df['standing_tackle'].value_counts())

Unique values: [28. 31. 24. 21. 58. 27. 76. 45. 92. 12. 42. 79. 89. 53. 91. 20. 36. 47.
 13. 18. 86. 10. 93. 34. 43. 90. 41. 64. 57. 54. 25. 85. 55. 22. 11. 88.
 70. 14. 30. 33. 84. 40. 87. 73. 74. 32. 44. 15. 83. 38. 63. 16. 77. 37.
 19. 81. 82. 69. 68. 52. 39. 66. 78. 29. 59. 17. 26. 23. 35. 62. 50. 75.
 48. 60. 80. 46. 49. 72. 71. 61. 51. 65. 67. 56.  9.  7.  8.  6.  2.  5.
 nan]
Number of unique values: 91
Missing values: 48


Description:
count    18159.000000
mean        47.697836
std         21.664004
min          2.000000
25%         27.000000
50%         55.000000
75%         66.000000
max         93.000000
Name: standing_tackle, dtype: float64


Frequency:
66.0    617
64.0    605
65.0    595
63.0    518
68.0    514
62.0    490
67.0    463
70.0    435
69.0    400
14.0    386
13.0    382
61.0    370
12.0    362
60.0    358
72.0    357
59.0    343
58.0    341
73.0    323
71.0    312
15.0    307
11.0    285
18.0    283
74.0    278
19.0    267
17.0    258
20.0    258
21.0    252
57.0    249
75.0    247
55.0    245
       ...
41.0    145
37.0    140
44.0    134
78.0    132
50.0    126
51.0    124
43.0    112
46.0    109
47.0     97
79.0     93
80.0     70
81.0     56
82.0     44
9.0      41
84.0     33
83.0     33
8.0      22
85.0     18
86.0     15
87.0     11
90.0      6
88.0      5
89.0      5
7.0       4
6.0       3
91.0      2
92.0      1
5.0       1
2.0       1
93.0      1
Name: standing_tackle, Length: 90, dtype: int64

Filling missing values with the ‘-99’ value:

In [187]:
df['standing_tackle'] = df['standing_tackle'].fillna(-99)
df['standing_tackle']= df['standing_tackle'].apply(lambda x: int(x))

In [188]:
print('Unique values:', df.standing_tackle.unique())
print('Number of unique values:', len(df.standing_tackle.unique()))
print('Missing values:', df.standing_tackle.isna().sum())
print("\n")
print('Description:')
print(df['standing_tackle'].describe())
print("\n")
print('Frequency:')
print(df['standing_tackle'].value_counts())

Unique values: [ 28  31  24  21  58  27  76  45  92  12  42  79  89  53  91  20  36  47
  13  18  86  10  93  34  43  90  41  64  57  54  25  85  55  22  11  88
  70  14  30  33  84  40  87  73  74  32  44  15  83  38  63  16  77  37
  19  81  82  69  68  52  39  66  78  29  59  17  26  23  35  62  50  75
  48  60  80  46  49  72  71  61  51  65  67  56   9   7   8   6   2   5
 -99]
Number of unique values: 91
Missing values: 0


Description:
count    18207.000000
mean        47.311089
std         22.905897
min        -99.000000
25%         26.000000
50%         55.000000
75%         66.000000
max         93.000000
Name: standing_tackle, dtype: float64


Frequency:
 66    617
 64    605
 65    595
 63    518
 68    514
 62    490
 67    463
 70    435
 69    400
 14    386
 13    382
 61    370
 12    362
 60    358
 72    357
 59    343
 58    341
 73    323
 71    312
 15    307
 11    285
 18    283
 74    278
 19    267
 20    258
 17    258
 21    252
 57    249
 75    247
 55    245
      ...
 37    140
 44    134
 78    132
 50    126
 51    124
 43    112
 46    109
 47     97
 79     93
 80     70
 81     56
-99     48
 82     44
 9      41
 83     33
 84     33
 8      22
 85     18
 86     15
 87     11
 90      6
 88      5
 89      5
 7       4
 6       3
 91      2
 93      1
 92      1
 5       1
 2       1
Name: standing_tackle, Length: 91, dtype: int64

## sliding_tackle

In [189]:
df.rename(columns={"SlidingTackle": "sliding_tackle"} , inplace=True)
print('Unique values:', df.sliding_tackle.unique())
print('Number of unique values:', len(df.sliding_tackle.unique()))
print('Missing values:', df.sliding_tackle.isna().sum())
print("\n")
print('Description:')
print(df['sliding_tackle'].describe())
print("\n")
print('Frequency:')
print(df['sliding_tackle'].value_counts())

Unique values: [26. 23. 33. 13. 51. 22. 73. 38. 91. 18. 19. 69. 89. 29. 85. 20. 48. 10.
 16. 80. 39. 11. 12. 90. 32. 41. 87. 44. 47. 36. 88. 86. 52. 68. 14. 30.
 40. 62. 70. 84. 35.  8. 54. 42. 34. 65. 45. 56. 82. 72. 25. 79. 76. 60.
 24. 53. 83. 63. 31. 74. 75. 64. 61. 71. 15. 78. 59. 55. 21. 58. 17. 81.
 77. 37. 66. 46. 28. 57. 67. 43. 49. 50. 27.  9.  7.  6.  4. nan  3.]
Number of unique values: 89
Missing values: 48


Description:
count    18159.000000
mean        45.661435
std         21.289135
min          3.000000
25%         24.000000
50%         52.000000
75%         64.000000
max         91.000000
Name: sliding_tackle, dtype: float64


Frequency:
62.0    590
64.0    586
63.0    536
65.0    514
60.0    461
61.0    450
68.0    435
66.0    429
14.0    419
13.0    416
12.0    410
58.0    399
67.0    395
59.0    383
70.0    356
57.0    341
19.0    334
15.0    324
18.0    319
69.0    318
20.0    311
11.0    306
17.0    297
16.0    296
55.0    290
54.0    289
56.0    275
72.0    275
21.0    267
22.0    257
       ...
76.0    142
46.0    141
36.0    135
43.0    133
44.0    131
40.0    122
39.0    120
37.0    114
41.0    110
77.0    101
78.0     84
80.0     61
79.0     57
9.0      40
82.0     38
81.0     29
85.0     19
8.0      17
83.0     16
84.0     16
86.0     13
87.0      7
7.0       5
88.0      4
6.0       3
4.0       2
90.0      2
89.0      2
91.0      1
3.0       1
Name: sliding_tackle, Length: 88, dtype: int64

Filling missing values with the ‘-99’ value:

In [190]:
df['sliding_tackle'] = df['sliding_tackle'].fillna(-99)
df['sliding_tackle']= df['sliding_tackle'].apply(lambda x: int(x))

In [191]:
print('Unique values:', df.sliding_tackle.unique())
print('Number of unique values:', len(df.sliding_tackle.unique()))
print('Missing values:', df.sliding_tackle.isna().sum())
print("\n")
print('Description:')
print(df['sliding_tackle'].describe())
print("\n")
print('Frequency:')
print(df['sliding_tackle'].value_counts())

Unique values: [ 26  23  33  13  51  22  73  38  91  18  19  69  89  29  85  20  48  10
  16  80  39  11  12  90  32  41  87  44  47  36  88  86  52  68  14  30
  40  62  70  84  35   8  54  42  34  65  45  56  82  72  25  79  76  60
  24  53  83  63  31  74  75  64  61  71  15  78  59  55  21  58  17  81
  77  37  66  46  28  57  67  43  49  50  27   9   7   6   4 -99   3]
Number of unique values: 89
Missing values: 0


Description:
count    18207.000000
mean        45.280057
std         22.518006
min        -99.000000
25%         24.000000
50%         52.000000
75%         64.000000
max         91.000000
Name: sliding_tackle, dtype: float64


Frequency:
 62    590
 64    586
 63    536
 65    514
 60    461
 61    450
 68    435
 66    429
 14    419
 13    416
 12    410
 58    399
 67    395
 59    383
 70    356
 57    341
 19    334
 15    324
 18    319
 69    318
 20    311
 11    306
 17    297
 16    296
 55    290
 54    289
 56    275
 72    275
 21    267
 22    257
      ...
 46    141
 36    135
 43    133
 44    131
 40    122
 39    120
 37    114
 41    110
 77    101
 78     84
 80     61
 79     57
-99     48
 9      40
 82     38
 81     29
 85     19
 8      17
 83     16
 84     16
 86     13
 87      7
 7       5
 88      4
 6       3
 4       2
 89      2
 90      2
 91      1
 3       1
Name: sliding_tackle, Length: 89, dtype: int64

## gkdiving

In [192]:
df.rename(columns={"GKDiving": "gkdiving"} , inplace=True)
print('Unique values:', df.gkdiving.unique())
print('Number of unique values:', len(df.gkdiving.unique()))
print('Missing values:', df.gkdiving.isna().sum())
print("\n")
print('Description:')
print(df['gkdiving'].describe())
print("\n")
print('Frequency:')
print(df['gkdiving'].value_counts())

Unique values: [ 6.  7.  9. 90. 15. 11. 13. 27. 86. 10.  5.  8. 14. 87. 85. 12.  3. 88.
  2. 16. 83.  4. 81. 84. 82. 78. 79. 80. 18.  1. 77. 75. 74. 76. 73. 32.
 17. 72. 71. 69. 68. 70. 66. 22. 61. 21. 64. 65. 67. 63. 19. 62. 60. 57.
 23. 55. 54. 58. 59. 56. 53. 52. nan 26. 37. 48. 51. 50. 46. 49. 47. 45.]
Number of unique values: 72
Missing values: 48


Description:
count    18159.000000
mean        16.616223
std         17.695349
min          1.000000
25%          8.000000
50%         11.000000
75%         14.000000
max         90.000000
Name: gkdiving, dtype: float64


Frequency:
8.0     1617
9.0     1586
7.0     1581
12.0    1575
14.0    1564
10.0    1563
13.0    1551
11.0    1500
6.0     1305
15.0    1236
16.0     561
5.0      388
63.0     116
68.0     114
66.0     114
65.0     113
64.0      98
67.0      93
61.0      93
62.0      90
70.0      80
60.0      78
72.0      78
59.0      77
57.0      72
71.0      70
69.0      68
58.0      65
74.0      59
56.0      57
        ...
52.0      19
3.0       19
80.0      18
51.0      16
81.0      16
50.0      15
49.0      14
82.0      14
48.0      11
83.0      11
85.0       8
18.0       8
17.0       8
47.0       7
2.0        6
86.0       4
19.0       4
84.0       4
46.0       4
45.0       3
90.0       3
87.0       3
88.0       3
27.0       1
32.0       1
23.0       1
37.0       1
21.0       1
26.0       1
22.0       1
Name: gkdiving, Length: 71, dtype: int64

Filling missing values with the ‘-99’ value:

In [193]:
df['gkdiving'] = df['gkdiving'].fillna(-99)
df['gkdiving']= df['gkdiving'].apply(lambda x: int(x))

In [194]:
print('Unique values:', df.gkdiving.unique())
print('Number of unique values:', len(df.gkdiving.unique()))
print('Missing values:', df.gkdiving.isna().sum())
print("\n")
print('Description:')
print(df['gkdiving'].describe())
print("\n")
print('Frequency:')
print(df['gkdiving'].value_counts())

Unique values: [  6   7   9  90  15  11  13  27  86  10   5   8  14  87  85  12   3  88
   2  16  83   4  81  84  82  78  79  80  18   1  77  75  74  76  73  32
  17  72  71  69  68  70  66  22  61  21  64  65  67  63  19  62  60  57
  23  55  54  58  59  56  53  52 -99  26  37  48  51  50  46  49  47  45]
Number of unique values: 72
Missing values: 0


Description:
count    18207.000000
mean        16.311419
std         18.639989
min        -99.000000
25%          8.000000
50%         11.000000
75%         14.000000
max         90.000000
Name: gkdiving, dtype: float64


Frequency:
8     1617
9     1586
7     1581
12    1575
14    1564
10    1563
13    1551
11    1500
6     1305
15    1236
16     561
5      388
63     116
66     114
68     114
65     113
64      98
61      93
67      93
62      90
70      80
60      78
72      78
59      77
57      72
71      70
69      68
58      65
74      59
56      57
      ...
3       19
52      19
80      18
81      16
51      16
50      15
49      14
82      14
83      11
48      11
85       8
18       8
17       8
47       7
2        6
19       4
84       4
86       4
46       4
87       3
88       3
90       3
45       3
21       1
37       1
22       1
23       1
26       1
27       1
32       1
Name: gkdiving, Length: 72, dtype: int64

## gkhandling

In [195]:
df.rename(columns={"GKHandling": "gkhandling"} , inplace=True)
print('Unique values:', df.gkhandling.unique())
print('Number of unique values:', len(df.gkhandling.unique()))
print('Missing values:', df.gkhandling.isna().sum())
print("\n")
print('Description:')
print(df['gkhandling'].describe())
print("\n")
print('Frequency:')
print(df['gkhandling'].value_counts())

Unique values: [11.  9. 85. 13. 12. 25.  8. 92.  6. 15.  4. 10. 91.  5. 86.  3. 14.  7.
 84. 87. 81. 80.  2. 16. 82. 79. 83. 77. 78. 76. 74. 75.  1. 72. 73. 70.
 67. 69. 71. 33. 68. 66. 65. 64. 63. 58. 22. 61. 59. 18. 17. 62. 60. 55.
 19. 57. 56. 52. 53. 54. 47. 43. nan 32. 50. 51. 48. 49. 46. 45. 44.]
Number of unique values: 71
Missing values: 48


Description:
count    18159.000000
mean        16.391596
std         16.906900
min          1.000000
25%          8.000000
50%         11.000000
75%         14.000000
max         92.000000
Name: gkhandling, dtype: float64


Frequency:
10.0    1630
11.0    1602
12.0    1596
7.0     1585
14.0    1582
8.0     1562
9.0     1559
13.0    1512
6.0     1226
15.0    1190
16.0     640
5.0      343
60.0     127
64.0     120
59.0     112
63.0     108
65.0     108
58.0      99
62.0      97
66.0      91
61.0      87
57.0      84
68.0      80
69.0      75
67.0      75
55.0      71
70.0      68
56.0      64
54.0      54
71.0      52
        ...
77.0      22
75.0      18
48.0      18
49.0      18
50.0      12
47.0      12
80.0      12
81.0      10
2.0        9
78.0       8
45.0       8
79.0       7
46.0       7
18.0       7
82.0       6
84.0       6
17.0       5
83.0       5
19.0       4
85.0       3
86.0       2
22.0       2
25.0       1
32.0       1
44.0       1
33.0       1
92.0       1
43.0       1
87.0       1
91.0       1
Name: gkhandling, Length: 70, dtype: int64

Filling missing values with the ‘-99’ value:

In [196]:
df['gkhandling'] = df['gkhandling'].fillna(-99)
df['gkhandling']= df['gkhandling'].apply(lambda x: int(x))

In [197]:
print('Unique values:', df.gkhandling.unique())
print('Number of unique values:', len(df.gkhandling.unique()))
print('Missing values:', df.gkhandling.isna().sum())
print("\n")
print('Description:')
print(df['gkhandling'].describe())
print("\n")
print('Frequency:')
print(df['gkhandling'].value_counts())

Unique values: [ 11   9  85  13  12  25   8  92   6  15   4  10  91   5  86   3  14   7
  84  87  81  80   2  16  82  79  83  77  78  76  74  75   1  72  73  70
  67  69  71  33  68  66  65  64  63  58  22  61  59  18  17  62  60  55
  19  57  56  52  53  54  47  43 -99  32  50  51  48  49  46  45  44]
Number of unique values: 71
Missing values: 0


Description:
count    18207.000000
mean        16.087384
std         17.891411
min        -99.000000
25%          8.000000
50%         11.000000
75%         14.000000
max         92.000000
Name: gkhandling, dtype: float64


Frequency:
10    1630
11    1602
12    1596
7     1585
14    1582
8     1562
9     1559
13    1512
6     1226
15    1190
16     640
5      343
60     127
64     120
59     112
63     108
65     108
58      99
62      97
66      91
61      87
57      84
68      80
69      75
67      75
55      71
70      68
56      64
54      54
71      52
      ...
77      22
75      18
48      18
49      18
80      12
50      12
47      12
81      10
2        9
45       8
78       8
46       7
79       7
18       7
82       6
84       6
83       5
17       5
19       4
85       3
22       2
86       2
44       1
25       1
43       1
33       1
92       1
87       1
32       1
91       1
Name: gkhandling, Length: 71, dtype: int64

## gkkicking

In [198]:
df.rename(columns={"GKKicking": "gkkicking"} , inplace=True)
print('Unique values:', df.gkkicking.unique())
print('Number of unique values:', len(df.gkkicking.unique()))
print('Missing values:', df.gkkicking.isna().sum())
print("\n")
print('Description:')
print(df['gkkicking'].describe())
print("\n")
print('Frequency:')
print(df['gkkicking'].value_counts())

Unique values: [15. 87.  5.  6.  7. 31.  9. 78. 12. 13. 10.  4. 11. 14. 88. 72. 91.  2.
 16. 68. 69. 74. 75.  8.  3. 85. 71. 77. 82. 20. 76. 83. 79. 70. 52. 80.
 73. 58.  1. 81. 64. 66. 65. 63. 62. 60. 67. 61. 38. 17. 42. 54. 18. 84.
 59. 45. 46. 28. 57. 53. 56. 55. 19. 49. 41. 22. 40. 51. 33. 48. 23. 21.
 47. 35. 50. nan 44. 30. 36. 43.]
Number of unique values: 80
Missing values: 48


Description:
count    18159.000000
mean        16.232061
std         16.502864
min          1.000000
25%          8.000000
50%         11.000000
75%         14.000000
max         91.000000
Name: gkkicking, dtype: float64


Frequency:
12.0    1629
9.0     1616
7.0     1592
13.0    1573
8.0     1572
14.0    1556
10.0    1545
11.0    1528
6.0     1232
15.0    1173
16.0     616
5.0      379
60.0     133
62.0     121
58.0     119
64.0     100
59.0      95
63.0      95
55.0      94
65.0      90
66.0      89
57.0      88
61.0      84
56.0      79
68.0      76
67.0      70
54.0      68
53.0      62
69.0      56
70.0      55
        ...
44.0       9
79.0       9
46.0       8
17.0       8
82.0       6
2.0        6
41.0       5
19.0       4
81.0       4
38.0       4
80.0       3
85.0       3
20.0       2
42.0       2
88.0       2
40.0       2
91.0       2
31.0       1
33.0       1
36.0       1
23.0       1
30.0       1
87.0       1
43.0       1
35.0       1
28.0       1
83.0       1
84.0       1
22.0       1
21.0       1
Name: gkkicking, Length: 79, dtype: int64

Filling missing values with the ‘-99’ value:

In [199]:
df['gkkicking'] = df['gkkicking'].fillna(-99)
df['gkkicking']= df['gkkicking'].apply(lambda x: int(x))

In [200]:
print('Unique values:', df.gkkicking.unique())
print('Number of unique values:', len(df.gkkicking.unique()))
print('Missing values:', df.gkkicking.isna().sum())
print("\n")
print('Description:')
print(df['gkkicking'].describe())
print("\n")
print('Frequency:')
print(df['gkkicking'].value_counts())

Unique values: [ 15  87   5   6   7  31   9  78  12  13  10   4  11  14  88  72  91   2
  16  68  69  74  75   8   3  85  71  77  82  20  76  83  79  70  52  80
  73  58   1  81  64  66  65  63  62  60  67  61  38  17  42  54  18  84
  59  45  46  28  57  53  56  55  19  49  41  22  40  51  33  48  23  21
  47  35  50 -99  44  30  36  43]
Number of unique values: 80
Missing values: 0


Description:
count    18207.000000
mean        15.928269
std         17.508361
min        -99.000000
25%          8.000000
50%         11.000000
75%         14.000000
max         91.000000
Name: gkkicking, dtype: float64


Frequency:
12    1629
9     1616
7     1592
13    1573
8     1572
14    1556
10    1545
11    1528
6     1232
15    1173
16     616
5      379
60     133
62     121
58     119
64     100
63      95
59      95
55      94
65      90
66      89
57      88
61      84
56      79
68      76
67      70
54      68
53      62
69      56
70      55
      ...
79       9
44       9
17       8
46       8
82       6
2        6
41       5
81       4
19       4
38       4
80       3
85       3
42       2
20       2
88       2
91       2
40       2
43       1
33       1
21       1
87       1
30       1
31       1
23       1
35       1
83       1
22       1
36       1
84       1
28       1
Name: gkkicking, Length: 80, dtype: int64

## gkpositioning

In [201]:
df.rename(columns={"GKPositioning": "gkpositioning"} , inplace=True)
print('Unique values:', df.gkpositioning.unique())
print('Number of unique values:', len(df.gkpositioning.unique()))
print('Missing values:', df.gkpositioning.isna().sum())
print("\n")
print('Description:')
print(df['gkpositioning'].describe())
print("\n")
print('Frequency:')
print(df['gkpositioning'].value_counts())

Unique values: [14. 15. 88. 10.  8. 33.  7.  5.  6. 13. 85. 86.  9. 87. 11.  4. 12. 83.
 89. 90. 82.  2. 16. 84. 81. 79. 80. 19.  3. 78. 77.  1. 75. 76. 74. 72.
 32. 17. 73. 65. 70. 18. 71. 69. 20. 68. 67. 62. 24. 66. 64. 63. 30. 55.
 59. 61. 60. 23. 57. 58. 50. 54. 51. 49. nan 56. 53. 52. 27. 38. 47. 48.
 46. 44. 45. 41. 42. 43. 39. 40.]
Number of unique values: 80
Missing values: 48


Description:
count    18159.000000
mean        16.388898
std         17.034669
min          1.000000
25%          8.000000
50%         11.000000
75%         14.000000
max         90.000000
Name: gkpositioning, dtype: float64


Frequency:
10.0    1647
7.0     1587
8.0     1586
11.0    1582
9.0     1559
14.0    1551
12.0    1549
13.0    1547
15.0    1241
6.0     1229
16.0     571
5.0      376
63.0     106
65.0     104
62.0      99
66.0      96
64.0      96
68.0      86
58.0      86
67.0      84
60.0      82
69.0      80
61.0      77
59.0      70
70.0      66
57.0      63
55.0      60
53.0      57
54.0      53
52.0      52
        ...
79.0      15
47.0      14
80.0      13
44.0      10
18.0       8
46.0       8
2.0        7
17.0       7
41.0       7
40.0       6
42.0       5
85.0       5
83.0       5
19.0       4
43.0       3
86.0       2
84.0       2
38.0       2
24.0       2
88.0       2
23.0       1
39.0       1
27.0       1
32.0       1
89.0       1
87.0       1
90.0       1
20.0       1
33.0       1
30.0       1
Name: gkpositioning, Length: 79, dtype: int64

Filling missing values with the ‘-99’ value:

In [202]:
df['gkpositioning'] = df['gkpositioning'].fillna(-99)
df['gkpositioning']= df['gkpositioning'].apply(lambda x: int(x))

In [203]:
print('Unique values:', df.gkpositioning.unique())
print('Number of unique values:', len(df.gkpositioning.unique()))
print('Missing values:', df.gkpositioning.isna().sum())
print("\n")
print('Description:')
print(df['gkpositioning'].describe())
print("\n")
print('Frequency:')
print(df['gkpositioning'].value_counts())

Unique values: [ 14  15  88  10   8  33   7   5   6  13  85  86   9  87  11   4  12  83
  89  90  82   2  16  84  81  79  80  19   3  78  77   1  75  76  74  72
  32  17  73  65  70  18  71  69  20  68  67  62  24  66  64  63  30  55
  59  61  60  23  57  58  50  54  51  49 -99  56  53  52  27  38  47  48
  46  44  45  41  42  43  39  40]
Number of unique values: 80
Missing values: 0


Description:
count    18207.000000
mean        16.084693
std         18.011835
min        -99.000000
25%          8.000000
50%         11.000000
75%         14.000000
max         90.000000
Name: gkpositioning, dtype: float64


Frequency:
10    1647
7     1587
8     1586
11    1582
9     1559
14    1551
12    1549
13    1547
15    1241
6     1229
16     571
5      376
63     106
65     104
62      99
66      96
64      96
58      86
68      86
67      84
60      82
69      80
61      77
59      70
70      66
57      63
55      60
53      57
54      53
52      52
      ...
79      15
47      14
80      13
44      10
18       8
46       8
2        7
17       7
41       7
40       6
83       5
85       5
42       5
19       4
43       3
88       2
86       2
38       2
84       2
24       2
27       1
32       1
90       1
33       1
23       1
89       1
30       1
20       1
39       1
87       1
Name: gkpositioning, Length: 80, dtype: int64

## gkreflexes

In [204]:
df.rename(columns={"GKReflexes": "gkreflexes"} , inplace=True)
print('Unique values:', df.gkreflexes.unique())
print('Number of unique values:', len(df.gkreflexes.unique()))
print('Missing values:', df.gkreflexes.isna().sum())
print("\n")
print('Description:')
print(df['gkreflexes'].describe())
print("\n")
print('Frequency:')
print(df['gkreflexes'].value_counts())

Unique values: [ 8. 11. 94. 13.  9. 37. 89. 10. 15. 12. 14. 90. 88. 87.  3.  6. 92. 83.
  5.  4.  7. 82. 84. 20. 86. 16. 85.  2. 18. 78. 81. 80. 79.  1. 76. 77.
 75. 72. 34. 17. 74. 67. 73. 19. 66. 70. 71. 23. 69. 68. 33. 64. 21. 65.
 61. 59. 63. 62. 60. 58. 56. 57. 53. 55. nan 25. 30. 54. 52. 51. 50. 49.
 48. 46. 44. 45. 47.]
Number of unique values: 77
Missing values: 48


Description:
count    18159.000000
mean        16.710887
std         17.955119
min          1.000000
25%          8.000000
50%         11.000000
75%         14.000000
max         94.000000
Name: gkreflexes, dtype: float64


Frequency:
11.0    1602
10.0    1602
8.0     1598
7.0     1577
14.0    1571
9.0     1560
12.0    1545
13.0    1515
6.0     1296
15.0    1189
16.0     581
5.0      375
64.0     110
66.0     107
63.0     105
68.0     100
71.0      91
62.0      87
65.0      87
69.0      83
70.0      78
72.0      76
58.0      73
67.0      73
60.0      71
74.0      71
59.0      64
61.0      63
73.0      57
55.0      57
        ...
83.0      15
51.0      13
84.0      12
49.0      12
50.0      11
18.0      11
17.0      10
48.0       9
85.0       7
19.0       7
46.0       7
88.0       6
86.0       5
21.0       5
2.0        5
87.0       4
47.0       3
90.0       3
89.0       2
45.0       2
44.0       2
94.0       1
30.0       1
92.0       1
33.0       1
34.0       1
23.0       1
25.0       1
37.0       1
20.0       1
Name: gkreflexes, Length: 76, dtype: int64

Filling missing values with the ‘-99’ value:

In [205]:
df['gkreflexes'] = df['gkreflexes'].fillna(-99)
df['gkreflexes']= df['gkreflexes'].apply(lambda x: int(x))

In [206]:
print('Unique values:', df.gkreflexes.unique())
print('Number of unique values:', len(df.gkreflexes.unique()))
print('Missing values:', df.gkreflexes.isna().sum())
print("\n")
print('Description:')
print(df['gkreflexes'].describe())
print("\n")
print('Frequency:')
print(df['gkreflexes'].value_counts())

Unique values: [  8  11  94  13   9  37  89  10  15  12  14  90  88  87   3   6  92  83
   5   4   7  82  84  20  86  16  85   2  18  78  81  80  79   1  76  77
  75  72  34  17  74  67  73  19  66  70  71  23  69  68  33  64  21  65
  61  59  63  62  60  58  56  57  53  55 -99  25  30  54  52  51  50  49
  48  46  44  45  47]
Number of unique values: 77
Missing values: 0


Description:
count    18207.000000
mean        16.405833
std         18.887649
min        -99.000000
25%          8.000000
50%         11.000000
75%         14.000000
max         94.000000
Name: gkreflexes, dtype: float64


Frequency:
10    1602
11    1602
8     1598
7     1577
14    1571
9     1560
12    1545
13    1515
6     1296
15    1189
16     581
5      375
64     110
66     107
63     105
68     100
71      91
62      87
65      87
69      83
70      78
72      76
67      73
58      73
60      71
74      71
59      64
61      63
55      57
73      57
      ...
83      15
51      13
84      12
49      12
50      11
18      11
17      10
48       9
46       7
19       7
85       7
88       6
86       5
2        5
21       5
87       4
90       3
47       3
45       2
89       2
44       2
34       1
94       1
37       1
33       1
20       1
92       1
25       1
30       1
23       1
Name: gkreflexes, Length: 77, dtype: int64

## release_clause

In [207]:
df.rename(columns={"Release Clause": "release_clause"} , inplace=True)
print('Unique values:', df.release_clause.unique())
print('Number of unique values:', len(df.release_clause.unique()))
print('Missing values:', df.release_clause.isna().sum())
print("\n")
print('Description:')
print(df['release_clause'].describe())
print("\n")
print('Frequency:')
print(df['release_clause'].value_counts())

Unique values: ['€226.5M' '€127.1M' '€228.1M' ... '€74K' '€101K' '€147K']
Number of unique values: 1245
Missing values: 1564


Description:
count     16643
unique     1244
top       €1.1M
freq        557
Name: release_clause, dtype: object


Frequency:
€1.1M      557
€1.3M      423
€1.4M      386
€1.2M      385
€1.5M      337
€1.6M      318
€1M        286
€1.8M      246
€1.7M      216
€1.9M      204
€2M        191
€2.2M      152
€2.1M      147
€2.4M      133
€2.3M      123
€2.5M      112
€2.9M      102
€2.6M       96
€2.7M       95
€3M         88
€2.8M       87
€3.1M       76
€3.6M       74
€3.3M       72
€3.2M       70
€3.4M       70
€4M         65
€656K       59
€3.9M       58
€3.8M       58
          ...
€46.6M       1
€39.6M       1
€104.6M      1
€555K        1
€23.6M       1
€22.6M       1
€55.2M       1
€40K         1
€36M         1
€54.5M       1
€722K        1
€41K         1
€69.9M       1
€26.8M       1
€678K        1
€15.7M       1
€72.3M       1
€62.2M       1
€207K        1
€70.9M       1
€48.4M       1
€89K         1
€25.6M       1
€142K        1
€567K        1
€21.6M       1
€52.7M       1
€73.1M       1
€89.6M       1
€35.6M       1
Name: release_clause, Length: 1244, dtype: int64

Filling missing values with the ‘€-99K’ value:

In [208]:
df['release_clause'] = df['release_clause'].fillna('€-99K')

In [209]:
def value_conv(x):
    new = []
    for i in x:
        list(i)
        ending = i[-1]
        if ending is 'M':
            i = i[1:-1]
            i = float(''.join(i))
            i *= 1000000
        elif ending is 'K':
            i = i[1:-1]
            i = float(''.join(i))
            i *= 1000
        else:
            i = 0
        new.append(i)
    return new

df['release_clause'] = value_conv(list(df['release_clause']))

df['release_clause']= df['release_clause'].apply(lambda x: int(x))

In [210]:
print('Unique values:', df.release_clause.unique())
print('Number of unique values:', len(df.release_clause.unique()))
print('Missing values:', df.release_clause.isna().sum())
print("\n")
print('Description:')
print(df['release_clause'].describe())
print("\n")
print('Frequency:')
print(df['release_clause'].value_counts())

Unique values: [226500000 127100000 228100000 ...     74000    101000    147000]
Number of unique values: 1245
Missing values: 0


Description:
count    1.820700e+04
mean     4.182695e+06
std      1.071114e+07
min     -9.900000e+04
25%      3.920000e+05
50%      1.000000e+06
75%      3.000000e+06
max      2.281000e+08
Name: release_clause, dtype: float64


Frequency:
-99000        1564
 1100000       557
 1300000       423
 1400000       386
 1200000       385
 1500000       337
 1600000       318
 1000000       286
 1800000       246
 1700000       216
 1900000       204
 2000000       191
 2200000       152
 2100000       147
 2400000       133
 2300000       123
 2500000       112
 2900000       102
 2600000        96
 2700000        95
 3000000        88
 2800000        87
 3100000        76
 3600000        74
 3300000        72
 3200000        70
 3400000        70
 4000000        65
 656000         59
 3800000        58
              ...
 72000           1
 67000           1
 872000          1
 28100000        1
 22300000        1
 42900000        1
 48700000        1
 968000          1
 542000          1
 64800000        1
 84000           1
 43600000        1
 461000          1
 55200000        1
 841000          1
 63000000        1
 970000          1
 76500000        1
 22400000        1
 47500000        1
 160700000       1
 41700000        1
 69900000        1
 90000000        1
 35900000        1
 21600000        1
 30100000        1
 33200000        1
 72600000        1
 33000           1
Name: release_clause, Length: 1245, dtype: int64

In [211]:
df.to_csv('out_data_clean.csv')

<a id='Loading_Data_into_Tables'></a>
# <center>Loading Data into Tables</center>

In [212]:
for c in df.columns:
    df[c] = df[c].astype(object)

In [213]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 91 columns):
Unnamed: 0                  18207 non-null object
player_ID                   18207 non-null object
name                        18207 non-null object
age                         18207 non-null object
photo                       18207 non-null object
country_name                18207 non-null object
country_flag_link           18207 non-null object
overall                     18207 non-null object
potential                   18207 non-null object
club_name                   18207 non-null object
club_logo                   18207 non-null object
value                       18207 non-null object
wage                        18207 non-null object
Special                     18207 non-null object
preferred_foot              18207 non-null object
weak_foot_rating            18207 non-null object
skill_moves_rating          18207 non-null object
Body Type                   18159 non-null object
Real Face                   18159 non-null object
position                    18207 non-null object
jersey_number               18207 non-null object
joined                      18207 non-null object
loaned_from                 18207 non-null object
LS                          16122 non-null object
RS                          16122 non-null object
LF                          16122 non-null object
RF                          16122 non-null object
LAM                         16122 non-null object
RAM                         16122 non-null object
LCM                         16122 non-null object
RCM                         16122 non-null object
LDM                         16122 non-null object
RDM                         16122 non-null object
LCB                         16122 non-null object
RCB                         16122 non-null object
crossing                    18207 non-null object
finishing                   18207 non-null object
heading_accuracy            18207 non-null object
shortpassing                18207 non-null object
volleys                     18207 non-null object
dribbling                   18207 non-null object
curve                       18207 non-null object
FKaccuracy                  18207 non-null object
longpassing                 18207 non-null object
ballcontrol                 18207 non-null object
acceleration                18207 non-null object
sprint_speed                18207 non-null object
agility                     18207 non-null object
reactions                   18207 non-null object
balance                     18207 non-null object
shotpower                   18207 non-null object
jumping                     18207 non-null object
stamina                     18207 non-null object
strength                    18207 non-null object
longshots                   18207 non-null object
aggression                  18207 non-null object
interceptions               18207 non-null object
positioning                 18207 non-null object
vision                      18207 non-null object
penalties                   18207 non-null object
composure                   18207 non-null object
marking                     18207 non-null object
standing_tackle             18207 non-null object
sliding_tackle              18207 non-null object
gkdiving                    18207 non-null object
gkhandling                  18207 non-null object
gkkicking                   18207 non-null object
gkpositioning               18207 non-null object
gkreflexes                  18207 non-null object
release_clause              18207 non-null object
international_reputation    18207 non-null object
attacking_workrate          18207 non-null object
defense_workrate            18207 non-null object
contract_until              18207 non-null object
height_feet                 18207 non-null object
height_inches               18207 non-null object
weight_pounds               18207 non-null object
LWB                         18207 non-null object
RWB                         18207 non-null object
LB                          18207 non-null object
CB                          18207 non-null object
RB                          18207 non-null object
ST                          18207 non-null object
LW                          18207 non-null object
CF                          18207 non-null object
RW                          18207 non-null object
CAM                         18207 non-null object
LM                          18207 non-null object
CM                          18207 non-null object
RM                          18207 non-null object
CDM                         18207 non-null object
dtypes: object(91)
memory usage: 12.6+ MB

In [214]:
df.insert(0, 'index_df', range(1, 1 + len(df)))

In [215]:
df.columns = map(str.lower, df.columns)

## club

In [216]:
columns = ['club_name', 'club_logo']
numer= [] 
stri= ['club_name', 'club_logo']


tab1= df[columns].copy()

tab1= tab1.drop_duplicates(['club_name']).copy()
print('Unique values:', len(tab1))
print("\n")

tab1.insert(0, 'club_id', range(1, 1 + len(tab1)))
print(tab1.head())

export= tab1[tab1['club_name']!= 'No provided']

##
export.loc[:,'club_name']=(export['club_name'].map(lambda x: x if x!= 'No provided' else np.NaN)).copy()
export.loc[:,'club_logo']=(export['club_logo'].map(lambda x: x if x!= 'No provided' else np.NaN)).copy()
##
print("\n")
print('Length export:', len(export))
print("\n")
print(export.head())
export.to_sql(name= 'club', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

missing= tab1[tab1['club_name']== 'No provided'].copy()
print("\n")
print('Missing:')
print(missing)

Unique values: 652


   club_id            club_name                                     club_logo
0        1         FC Barcelona  https://cdn.sofifa.org/teams/2/light/241.png
1        2             Juventus   https://cdn.sofifa.org/teams/2/light/45.png
2        3  Paris Saint-Germain   https://cdn.sofifa.org/teams/2/light/73.png
3        4    Manchester United   https://cdn.sofifa.org/teams/2/light/11.png
4        5      Manchester City   https://cdn.sofifa.org/teams/2/light/10.png


Length export: 651


   club_id            club_name                                     club_logo
0        1         FC Barcelona  https://cdn.sofifa.org/teams/2/light/241.png
1        2             Juventus   https://cdn.sofifa.org/teams/2/light/45.png
2        3  Paris Saint-Germain   https://cdn.sofifa.org/teams/2/light/73.png
3        4    Manchester United   https://cdn.sofifa.org/teams/2/light/11.png
4        5      Manchester City   https://cdn.sofifa.org/teams/2/light/10.png


Length Tab1: 652


Missing:
     club_id    club_name                            club_logo
452       86  No provided  https://cdn.sofifa.org/flags/52.png

/Users/claudia/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [217]:
# Map to df
club_id_list = [tab1.club_id[tab1.club_name == i].values[0] for i in df.club_name]
# Add id to the main dataframe
df.insert(10, 'club_id', club_id_list)
# Check a few rows
df.loc[:,['club_id', 'club_name']].head(10)

   club_id            club_name
0        1         FC Barcelona
1        2             Juventus
2        3  Paris Saint-Germain
3        4    Manchester United
4        5      Manchester City
5        6              Chelsea
6        7          Real Madrid
7        1         FC Barcelona
8        7          Real Madrid
9        8      Atlético Madrid

## contract

In [218]:
columns = ['index_df','club_id', 'joined', 'loaned_from', 'contract_until']
numer= ['club_id', 'contract_until'] 
stri= ['joined', 'loaned_from']

tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.head())
export= tab1.copy()

export.rename(columns={"index_df": "contract_id"}, inplace=True)

# ##
export.loc[:,'club_id']=(export['club_id'].map(lambda x: int(x) if x!= 86 else np.NaN)).copy()
export.loc[:,'contract_until']=(export['contract_until'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'joined']=(export['joined'].map(lambda x: x if x!= 'No provided' else np.NaN)).copy()
export.loc[:,'loaned_from']=(export['loaned_from'].map(lambda x: x if x!= 'No provided' else np.NaN)).copy()
# ##
print("\n")
print('Length export:', len(export))
print("\n")
print(export.head())
export.to_sql(name= 'contract', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


   index_df  club_id        joined  loaned_from contract_until
0         1        1   Jul 1, 2004  No provided           2021
1         2        2  Jul 10, 2018  No provided           2022
2         3        3   Aug 3, 2017  No provided           2022
3         4        4   Jul 1, 2011  No provided           2020
4         5        5  Aug 30, 2015  No provided           2023


Length export: 18207


   contract_id  club_id        joined loaned_from  contract_until
0            1      1.0   Jul 1, 2004         NaN          2021.0
1            2      2.0  Jul 10, 2018         NaN          2022.0
2            3      3.0   Aug 3, 2017         NaN          2022.0
3            4      4.0   Jul 1, 2011         NaN          2020.0
4            5      5.0  Aug 30, 2015         NaN          2023.0


Length Tab1: 18207

In [219]:
df['contract_id']= df['index_df']

## country

In [220]:
columns = ['country_name', 'country_flag_link']
numer= [] 
stri= ['country_name', 'country_flag_link']


tab1= df[columns].copy()

tab1= tab1.drop_duplicates(['country_name']).copy()
print('Unique values:', len(tab1))
print("\n")

tab1.insert(0, 'country_id', range(1, 1 + len(tab1)))
print(tab1.head())

export= tab1[tab1['country_name']!= 'No provided']

##
export.loc[:,'country_name']=(export['country_name'].map(lambda x: x if x!= 'No provided' else np.NaN)).copy()
export.loc[:,'country_flag_link']=(export['country_flag_link'].map(lambda x: x if x!= 'No provided' else np.NaN))\
                .copy()
##
print("\n")
print('Length export:', len(export))
print("\n")
print(export.head())
export.to_sql(name= 'country', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

missing= tab1[tab1['country_name']== 'No provided'].copy()
print("\n")
print('Missing:')
print(missing)

Unique values: 164


   country_id country_name                    country_flag_link
0           1    Argentina  https://cdn.sofifa.org/flags/52.png
1           2     Portugal  https://cdn.sofifa.org/flags/38.png
2           3       Brazil  https://cdn.sofifa.org/flags/54.png
3           4        Spain  https://cdn.sofifa.org/flags/45.png
4           5      Belgium   https://cdn.sofifa.org/flags/7.png


Length export: 164


   country_id country_name                    country_flag_link
0           1    Argentina  https://cdn.sofifa.org/flags/52.png
1           2     Portugal  https://cdn.sofifa.org/flags/38.png
2           3       Brazil  https://cdn.sofifa.org/flags/54.png
3           4        Spain  https://cdn.sofifa.org/flags/45.png
4           5      Belgium   https://cdn.sofifa.org/flags/7.png


Length Tab1: 164


Missing:
Empty DataFrame
Columns: [country_id, country_name, country_flag_link]
Index: []

In [221]:
# Map to df
country_id_list = [tab1.country_id[tab1.country_name == i].values[0] for i in df.country_name]
# Add id to the main dataframe
df.insert(5, 'country_id', country_id_list)
# Check a few rows
df.loc[:,['country_id', 'country_name', 'country_flag_link']].head(10)

   country_id country_name                    country_flag_link
0           1    Argentina  https://cdn.sofifa.org/flags/52.png
1           2     Portugal  https://cdn.sofifa.org/flags/38.png
2           3       Brazil  https://cdn.sofifa.org/flags/54.png
3           4        Spain  https://cdn.sofifa.org/flags/45.png
4           5      Belgium   https://cdn.sofifa.org/flags/7.png
5           5      Belgium   https://cdn.sofifa.org/flags/7.png
6           6      Croatia  https://cdn.sofifa.org/flags/10.png
7           7      Uruguay  https://cdn.sofifa.org/flags/60.png
8           4        Spain  https://cdn.sofifa.org/flags/45.png
9           8     Slovenia  https://cdn.sofifa.org/flags/44.png

## player

In [222]:
columns = ['player_id','country_id', 'contract_id','club_id', 'name', 'age', 'position', 'jersey_number', \
           'height_feet', 'height_inches', 'weight_pounds', 'photo']
numer= ['club_id', 'jersey_number', 'height_feet', 'height_inches', 'weight_pounds']
stri= ['position']

tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[5016:5019, ])
export= tab1.copy()

# ##
export.loc[:,'club_id']=(export['club_id'].map(lambda x: int(x) if x!= 86 else np.NaN)).copy()
export.loc[:,'jersey_number']=(export['jersey_number'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'height_feet']=(export['height_feet'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'height_inches']=(export['height_inches'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'weight_pounds']=(export['weight_pounds'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'position']=(export['position'].map(lambda x: x if x!= 'No provided' else np.NaN)).copy()
# ##
print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[5016:5019, ])
export.to_sql(name= 'player', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


     player_id  country_id  contract_id  club_id            name age  \
5016    203848          27         5017      395  R. Windbichler  27
5017    211272           1         5018      353     C. Corvalán  29
5018    153160         102         5019       86       R. Raldes  37
5019    155976          39         5020       91         C. Adam  32

         position jersey_number height_feet height_inches weight_pounds  \
5016          LCB            40           6             0           159
5017           LB             3           5            10           172
5018  No provided           -99           5            11           172
5019           CM            16           6             1           183

                                               photo
5016  https://cdn.sofifa.org/players/4/19/203848.png
5017  https://cdn.sofifa.org/players/4/19/211272.png
5018  https://cdn.sofifa.org/players/4/19/153160.png
5019  https://cdn.sofifa.org/players/4/19/155976.png


Length export: 18207


     player_id  country_id  contract_id  club_id            name age position  \
5016    203848          27         5017    395.0  R. Windbichler  27      LCB
5017    211272           1         5018    353.0     C. Corvalán  29       LB
5018    153160         102         5019      NaN       R. Raldes  37      NaN
5019    155976          39         5020     91.0         C. Adam  32       CM

      jersey_number  height_feet  height_inches  weight_pounds  \
5016           40.0          6.0            0.0          159.0
5017            3.0          5.0           10.0          172.0
5018            NaN          5.0           11.0          172.0
5019           16.0          6.0            1.0          183.0

                                               photo
5016  https://cdn.sofifa.org/players/4/19/203848.png
5017  https://cdn.sofifa.org/players/4/19/211272.png
5018  https://cdn.sofifa.org/players/4/19/153160.png
5019  https://cdn.sofifa.org/players/4/19/155976.png


Length Tab1: 18207

## defending

In [223]:
columns = ['index_df', 'player_id', 'heading_accuracy', 'interceptions', 'marking', \
          'standing_tackle', 'sliding_tackle']
numer= ['heading_accuracy', 'interceptions', 'marking', 'standing_tackle', 'sliding_tackle' ]
stri= [ ]

tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[13234:13238, ])
export= tab1.copy()

export.rename(columns={"index_df": "defending_id"}, inplace=True)

# ##
export.loc[:,'heading_accuracy']=(export['heading_accuracy'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'interceptions']=(export['interceptions'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'marking']=(export['marking'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'standing_tackle']=(export['standing_tackle'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'sliding_tackle']=(export['sliding_tackle'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
# ##
print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[13234:13238, ])
export.to_sql(name= 'defending', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


       index_df player_id heading_accuracy interceptions marking  \
13234     13235    237875               54            61      61
13235     13236    242483               51            62      68
13236     13237    177971              -99           -99     -99
13237     13238    195380              -99           -99     -99
13238     13239    139317              -99           -99     -99

      standing_tackle sliding_tackle
13234              68             65
13235              62             60
13236             -99            -99
13237             -99            -99
13238             -99            -99


Length export: 18207


       defending_id player_id  heading_accuracy  interceptions  marking  \
13234         13235    237875              54.0           61.0     61.0
13235         13236    242483              51.0           62.0     68.0
13236         13237    177971               NaN            NaN      NaN
13237         13238    195380               NaN            NaN      NaN
13238         13239    139317               NaN            NaN      NaN

       standing_tackle  sliding_tackle
13234             68.0            65.0
13235             62.0            60.0
13236              NaN             NaN
13237              NaN             NaN
13238              NaN             NaN


Length Tab1: 18207

In [224]:
df['defending_id']= df['index_df']

## defensive

In [225]:
columns = ['index_df', 'player_id', 'lwb', 'rwb', 'lb', 'cb', 'rb']
numer= ['lwb', 'rwb', 'lb', 'cb',  'rb']
stri= [ ]

tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[0:5, ])
export= tab1.copy()

export.rename(columns={"index_df": "defensive_id"}, inplace=True)

###
export.loc[:,'lwb']=(export['lwb'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'rwb']=(export['rwb'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'lb']=(export['lb'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'cb']=(export['cb'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'rb']=(export['rb'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
# ##
print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[0:5, ])
export.to_sql(name= 'defensive', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


   index_df player_id  lwb  rwb   lb   cb   rb
0         1    158023   64   64   59   47   59
1         2     20801   65   65   61   53   61
2         3    190871   65   65   60   47   60
3         4    193080  -99  -99  -99  -99  -99
4         5    192985   77   77   73   66   73
5         6    183277   66   66   60   49   60


Length export: 18207


   defensive_id player_id   lwb   rwb    lb    cb    rb
0             1    158023  64.0  64.0  59.0  47.0  59.0
1             2     20801  65.0  65.0  61.0  53.0  61.0
2             3    190871  65.0  65.0  60.0  47.0  60.0
3             4    193080   NaN   NaN   NaN   NaN   NaN
4             5    192985  77.0  77.0  73.0  66.0  73.0
5             6    183277  66.0  66.0  60.0  49.0  60.0


Length Tab1: 18207

In [226]:
df['defensive_id']= df['index_df']

## dribbling

In [227]:
columns = ['index_df', 'player_id', 'dribbling', 'ballcontrol', 'agility', 'reactions', \
          'balance', 'composure']
numer= ['dribbling', 'ballcontrol', 'agility', 'reactions','balance', 'composure']
stri= [ ]
tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[13234:13238, ])
export= tab1.copy()

export.rename(columns={"index_df": "dribbling_id"}, inplace=True)

###
export.loc[:,'dribbling']=(export['dribbling'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'ballcontrol']=(export['ballcontrol'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'agility']=(export['agility'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'reactions']=(export['reactions'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'balance']=(export['balance'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'composure']=(export['composure'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
# ##
print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[13234:13238, ])
export.to_sql(name= 'dribbling', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


       index_df player_id dribbling ballcontrol agility reactions balance  \
13234     13235    237875        31          38      40        45      57
13235     13236    242483        42          51      60        55      69
13236     13237    177971       -99         -99     -99       -99     -99
13237     13238    195380       -99         -99     -99       -99     -99
13238     13239    139317       -99         -99     -99       -99     -99

      composure
13234        47
13235        47
13236       -99
13237       -99
13238       -99


Length export: 18207


       dribbling_id player_id  dribbling  ballcontrol  agility  reactions  \
13234         13235    237875       31.0         38.0     40.0       45.0
13235         13236    242483       42.0         51.0     60.0       55.0
13236         13237    177971        NaN          NaN      NaN        NaN
13237         13238    195380        NaN          NaN      NaN        NaN
13238         13239    139317        NaN          NaN      NaN        NaN

       balance  composure
13234     57.0       47.0
13235     69.0       47.0
13236      NaN        NaN
13237      NaN        NaN
13238      NaN        NaN


Length Tab1: 18207

In [228]:
df['dribbling_id']= df['index_df']

## foot_peference

In [229]:
columns = ['index_df', 'player_id', 'preferred_foot', 'weak_foot_rating']
numer= [ 'weak_foot_rating' ]
stri= ['preferred_foot' ]
tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[13234:13238, ])
export= tab1.copy()

export.rename(columns={"index_df": "foot_id"}, inplace=True)

###
export.loc[:,'weak_foot_rating']=(export['weak_foot_rating'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'preferred_foot']=(export['preferred_foot'].map(lambda x: x if x!= 'No provided' else np.NaN))\
            .copy()

# ##
print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[13234:13238, ])
export.to_sql(name= 'foot_peference', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


       index_df player_id preferred_foot weak_foot_rating
13234     13235    237875          Right                2
13235     13236    242483          Right                3
13236     13237    177971    No provided              -99
13237     13238    195380    No provided              -99
13238     13239    139317    No provided              -99


Length export: 18207


       foot_id player_id preferred_foot  weak_foot_rating
13234    13235    237875          Right               2.0
13235    13236    242483          Right               3.0
13236    13237    177971            NaN               NaN
13237    13238    195380            NaN               NaN
13238    13239    139317            NaN               NaN


Length Tab1: 18207

In [230]:
df['foot_id']= df['index_df']

## forwards

In [231]:
columns = ['index_df', 'player_id', 'st', 'lw', 'cf', 'rw']
numer= ['st', 'lw', 'cf', 'rw']
stri= ['preferred_foot' ]
tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[13234:13238, ])
export= tab1.copy()

export.rename(columns={"index_df": "forwards_id"}, inplace=True)

###
export.loc[:,'st']=(export['st'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'lw']=(export['lw'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'cf']=(export['cf'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'rw']=(export['rw'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
# ##
print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[13234:13238, ])
export.to_sql(name= 'forwards', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


       index_df player_id   st   lw   cf   rw
13234     13235    237875   39   35   35   35
13235     13236    242483   44   47   45   47
13236     13237    177971  -99  -99  -99  -99
13237     13238    195380  -99  -99  -99  -99
13238     13239    139317  -99  -99  -99  -99


Length export: 18207


       forwards_id player_id    st    lw    cf    rw
13234        13235    237875  39.0  35.0  35.0  35.0
13235        13236    242483  44.0  47.0  45.0  47.0
13236        13237    177971   NaN   NaN   NaN   NaN
13237        13238    195380   NaN   NaN   NaN   NaN
13238        13239    139317   NaN   NaN   NaN   NaN


Length Tab1: 18207

In [232]:
df['forwards_id']= df['index_df']

## goal_keeping

In [233]:
columns = ['index_df', 'player_id', 'gkdiving', 'gkhandling', 'gkkicking', 'gkpositioning', 'gkreflexes']
numer= ['gkdiving', 'gkhandling', 'gkkicking', 'gkpositioning', 'gkreflexes' ]
stri= [ ]
tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[13234:13238, ])
export= tab1.copy()

export.rename(columns={"index_df": "goalkeeping_id"}, inplace=True)

###
export.loc[:,'gkdiving']=(export['gkdiving'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'gkhandling']=(export['gkhandling'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'gkkicking']=(export['gkkicking'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'gkpositioning']=(export['gkpositioning'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
export.loc[:,'gkreflexes']=(export['gkreflexes'].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
# ##
print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[13234:13238, ])

export.to_sql(name= 'goal_keeping', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


       index_df player_id gkdiving gkhandling gkkicking gkpositioning  \
13234     13235    237875        6         14        14             7
13235     13236    242483       14         12        11             9
13236     13237    177971      -99        -99       -99           -99
13237     13238    195380      -99        -99       -99           -99
13238     13239    139317      -99        -99       -99           -99

      gkreflexes
13234         15
13235          8
13236        -99
13237        -99
13238        -99


Length export: 18207


       goalkeeping_id player_id  gkdiving  gkhandling  gkkicking  \
13234           13235    237875       6.0        14.0       14.0
13235           13236    242483      14.0        12.0       11.0
13236           13237    177971       NaN         NaN        NaN
13237           13238    195380       NaN         NaN        NaN
13238           13239    139317       NaN         NaN        NaN

       gkpositioning  gkreflexes
13234            7.0        15.0
13235            9.0         8.0
13236            NaN         NaN
13237            NaN         NaN
13238            NaN         NaN


Length Tab1: 18207

In [234]:
df['goalkeeping_id']= df['index_df']

## midfielders

In [235]:
columns = ['index_df', 'player_id', 'cam', 'lm', 'cm', 'rm', 'cdm']
numer= ['cam', 'lm', 'cm', 'rm', 'cdm' ]
stri= [ ]
tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[13234:13238, ])
export= tab1.copy()

export.rename(columns={"index_df": "midfielders_id"}, inplace=True)

df['midfielders_id']= df['index_df']

for s in numer:
    export.loc[:,s]=(export[s].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[13234:13238, ])

export.to_sql(name= 'midfielders', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


       index_df player_id  cam   lm   cm   rm  cdm
13234     13235    237875   34   37   38   37   52
13235     13236    242483   45   49   47   49   56
13236     13237    177971  -99  -99  -99  -99  -99
13237     13238    195380  -99  -99  -99  -99  -99
13238     13239    139317  -99  -99  -99  -99  -99


Length export: 18207


       midfielders_id player_id   cam    lm    cm    rm   cdm
13234           13235    237875  34.0  37.0  38.0  37.0  52.0
13235           13236    242483  45.0  49.0  47.0  49.0  56.0
13236           13237    177971   NaN   NaN   NaN   NaN   NaN
13237           13238    195380   NaN   NaN   NaN   NaN   NaN
13238           13239    139317   NaN   NaN   NaN   NaN   NaN


Length Tab1: 18207

## pace

In [236]:
columns = ['index_df', 'player_id', 'acceleration', 'sprint_speed']
numer= [ 'acceleration', 'sprint_speed']
stri= [ ]
tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[13234:13238, ])
export= tab1.copy()

export.rename(columns={"index_df": "pace_id"}, inplace=True)

df['pace_id']= df['index_df']

for s in numer:
    export.loc[:,s]=(export[s].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[13234:13238, ])

export.to_sql(name= 'pace', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


       index_df player_id acceleration sprint_speed
13234     13235    237875           48           60
13235     13236    242483           74           70
13236     13237    177971          -99          -99
13237     13238    195380          -99          -99
13238     13239    139317          -99          -99


Length export: 18207


       pace_id player_id  acceleration  sprint_speed
13234    13235    237875          48.0          60.0
13235    13236    242483          74.0          70.0
13236    13237    177971           NaN           NaN
13237    13238    195380           NaN           NaN
13238    13239    139317           NaN           NaN


Length Tab1: 18207

## passing

In [237]:
columns = ['index_df', 'player_id', 'crossing', 'shortpassing', 'curve', 'fkaccuracy', 'longpassing', 'vision']
numer= [ 'crossing', 'shortpassing', 'curve', 'fkaccuracy', 'longpassing', 'vision']
stri= [ ]
tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[13234:13238, ])
export= tab1.copy()

export.rename(columns={"index_df": "passing_id"}, inplace=True)

df['passing_id']= df['index_df']

for s in numer:
    export.loc[:,s]=(export[s].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[13234:13238, ])

export.to_sql(name= 'passing', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


       index_df player_id crossing shortpassing curve fkaccuracy longpassing  \
13234     13235    237875       33           34    35         29          35
13235     13236    242483       48           49    20         28          41
13236     13237    177971      -99          -99   -99        -99         -99
13237     13238    195380      -99          -99   -99        -99         -99
13238     13239    139317      -99          -99   -99        -99         -99

      vision
13234     31
13235     37
13236    -99
13237    -99
13238    -99


Length export: 18207


       passing_id player_id  crossing  shortpassing  curve  fkaccuracy  \
13234       13235    237875      33.0          34.0   35.0        29.0
13235       13236    242483      48.0          49.0   20.0        28.0
13236       13237    177971       NaN           NaN    NaN         NaN
13237       13238    195380       NaN           NaN    NaN         NaN
13238       13239    139317       NaN           NaN    NaN         NaN

       longpassing  vision
13234         35.0    31.0
13235         41.0    37.0
13236          NaN     NaN
13237          NaN     NaN
13238          NaN     NaN


Length Tab1: 18207

## physical

In [238]:
columns = ['index_df', 'player_id', 'jumping', 'stamina', 'strength', 'aggression']
numer= [ 'jumping', 'stamina', 'strength', 'aggression']
stri= [ ]
tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[13234:13238, ])
export= tab1.copy()

export.rename(columns={"index_df": "physical_id"}, inplace=True)

df['physical_id']= df['index_df']

for s in numer:
    export.loc[:,s]=(export[s].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[13234:13238, ])

export.to_sql(name= 'physical', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


       index_df player_id jumping stamina strength aggression
13234     13235    237875      81      64       79         65
13235     13236    242483      66      77       58         65
13236     13237    177971     -99     -99      -99        -99
13237     13238    195380     -99     -99      -99        -99
13238     13239    139317     -99     -99      -99        -99


Length export: 18207


       physical_id player_id  jumping  stamina  strength  aggression
13234        13235    237875     81.0     64.0      79.0        65.0
13235        13236    242483     66.0     77.0      58.0        65.0
13236        13237    177971      NaN      NaN       NaN         NaN
13237        13238    195380      NaN      NaN       NaN         NaN
13238        13239    139317      NaN      NaN       NaN         NaN


Length Tab1: 18207

## shooting

In [239]:
columns = ['index_df', 'player_id', 'finishing', 'volleys', 'shotpower', 'longshots', \
          'positioning', 'penalties']
numer= [ 'finishing', 'volleys', 'shotpower', 'longshots', 'positioning', 'penalties']
stri= [ ]
tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[13234:13238, ])
export= tab1.copy()

export.rename(columns={"index_df": "shooting_id"}, inplace=True)

df['shooting_id']= df['index_df']

for s in numer:
    export.loc[:,s]=(export[s].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[13234:13238, ])

export.to_sql(name= 'shooting', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


       index_df player_id finishing volleys shotpower longshots positioning  \
13234     13235    237875        27      33        48        28          24
13235     13236    242483        24      21        40        19          45
13236     13237    177971       -99     -99       -99       -99         -99
13237     13238    195380       -99     -99       -99       -99         -99
13238     13239    139317       -99     -99       -99       -99         -99

      penalties
13234        41
13235        36
13236       -99
13237       -99
13238       -99


Length export: 18207


       shooting_id player_id  finishing  volleys  shotpower  longshots  \
13234        13235    237875       27.0     33.0       48.0       28.0
13235        13236    242483       24.0     21.0       40.0       19.0
13236        13237    177971        NaN      NaN        NaN        NaN
13237        13238    195380        NaN      NaN        NaN        NaN
13238        13239    139317        NaN      NaN        NaN        NaN

       positioning  penalties
13234         24.0       41.0
13235         45.0       36.0
13236          NaN        NaN
13237          NaN        NaN
13238          NaN        NaN


Length Tab1: 18207

## player_ablility_rating

In [240]:
columns = ['player_id', 'dribbling_id', 'defending_id', 'goalkeeping_id', 'passing_id', 'shooting_id', \
          'pace_id', 'physical_id']
numer= [ ]
stri= [ ]
tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[13234:13238, ])
export= tab1.copy()


print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[13234:13238, ])

export.to_sql(name= 'player_ablility_rating', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


      player_id  dribbling_id  defending_id  goalkeeping_id  passing_id  \
13234    237875         13235         13235           13235       13235
13235    242483         13236         13236           13236       13236
13236    177971         13237         13237           13237       13237
13237    195380         13238         13238           13238       13238
13238    139317         13239         13239           13239       13239

       shooting_id  pace_id  physical_id
13234        13235    13235        13235
13235        13236    13236        13236
13236        13237    13237        13237
13237        13238    13238        13238
13238        13239    13239        13239


Length export: 18207


      player_id  dribbling_id  defending_id  goalkeeping_id  passing_id  \
13234    237875         13235         13235           13235       13235
13235    242483         13236         13236           13236       13236
13236    177971         13237         13237           13237       13237
13237    195380         13238         13238           13238       13238
13238    139317         13239         13239           13239       13239

       shooting_id  pace_id  physical_id
13234        13235    13235        13235
13235        13236    13236        13236
13236        13237    13237        13237
13237        13238    13238        13238
13238        13239    13239        13239


Length Tab1: 18207

## player_style

In [241]:
columns = ['index_df', 'player_id', 'skill_moves_rating', 'attacking_workrate', 'defense_workrate']
numer= [ 'skill_moves_rating']
stri= [ 'attacking_workrate', 'defense_workrate']
tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[13234:13238, ])
export= tab1.copy()

export.rename(columns={"index_df": "style_id"}, inplace=True)

df['style_id']= df['index_df']

for s in numer:
    export.loc[:,s]=(export[s].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()
    
for d in stri:
    export.loc[:,d]=(export[d].map(lambda x: x if x!= 'No provided' else np.NaN)).copy()
print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[13234:13238, ])

export.to_sql(name= 'player_style', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


       index_df player_id skill_moves_rating attacking_workrate  \
13234     13235    237875                  2                Low
13235     13236    242483                  2             Medium
13236     13237    177971                -99        No provided
13237     13238    195380                -99        No provided
13238     13239    139317                -99        No provided

      defense_workrate
13234           Medium
13235           Medium
13236      No provided
13237      No provided
13238      No provided


Length export: 18207


       style_id player_id  skill_moves_rating attacking_workrate  \
13234     13235    237875                 2.0                Low
13235     13236    242483                 2.0             Medium
13236     13237    177971                 NaN                NaN
13237     13238    195380                 NaN                NaN
13238     13239    139317                 NaN                NaN

      defense_workrate
13234           Medium
13235           Medium
13236              NaN
13237              NaN
13238              NaN


Length Tab1: 18207

## player_habits

In [242]:
columns = ['foot_id', 'style_id', 'player_id']
stri= [ ]
tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[13234:13238, ])
export= tab1.copy()

print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[13234:13238, ])

export.to_sql(name= 'player_habits', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


       foot_id  style_id player_id
13234    13235     13235    237875
13235    13236     13236    242483
13236    13237     13237    177971
13237    13238     13238    195380
13238    13239     13239    139317


Length export: 18207


       foot_id  style_id player_id
13234    13235     13235    237875
13235    13236     13236    242483
13236    13237     13237    177971
13237    13238     13238    195380
13238    13239     13239    139317


Length Tab1: 18207

## player_position_rating

In [243]:
columns = ['defensive_id', 'forwards_id', 'midfielders_id', 'player_id']
stri= [ ]
tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[13234:13238, ])
export= tab1.copy()

print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[13234:13238, ])

export.to_sql(name= 'player_position_rating', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


       defensive_id  forwards_id  midfielders_id player_id
13234         13235        13235           13235    237875
13235         13236        13236           13236    242483
13236         13237        13237           13237    177971
13237         13238        13238           13238    195380
13238         13239        13239           13239    139317


Length export: 18207


       defensive_id  forwards_id  midfielders_id player_id
13234         13235        13235           13235    237875
13235         13236        13236           13236    242483
13236         13237        13237           13237    177971
13237         13238        13238           13238    195380
13238         13239        13239           13239    139317


Length Tab1: 18207

## value

In [244]:
columns = ['index_df', 'player_id', 'value', 'wage', 'release_clause']
numer= [ 'value', 'wage', 'release_clause']
stri= [ ]
tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[13234:13238, ])
export= tab1.copy()

export.rename(columns={"index_df": "value_id"}, inplace=True)

df['value_id']= df['index_df']

for s in numer:
    export.loc[:,s]=(export[s].map(lambda x: int(x) if x!= -99 else np.NaN)).copy()

export.loc[:,'release_clause']=(export['release_clause'].map(lambda x: int(x) if x!= -99000 else np.NaN)).copy()
    
print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[13234:13238, ])

export.to_sql(name= 'value', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


       index_df player_id   value  wage release_clause
13234     13235    237875  475000  2000         808000
13235     13236    242483  350000  1000         543000
13236     13237    177971  120000  1000         -99000
13237     13238    195380  300000  1000         -99000
13238     13239    139317  140000  3000         -99000


Length export: 18207


       value_id player_id   value  wage  release_clause
13234     13235    237875  475000  2000        808000.0
13235     13236    242483  350000  1000        543000.0
13236     13237    177971  120000  1000             NaN
13237     13238    195380  300000  1000             NaN
13238     13239    139317  140000  3000             NaN


Length Tab1: 18207

## rating

In [245]:
columns = ['index_df', 'player_id', 'overall', 'potential']
numer= [ 'overall', 'potential']
stri= [ ]
tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[13234:13238, ])
export= tab1.copy()

export.rename(columns={"index_df": "rating_id"}, inplace=True)

df['rating_id']= df['index_df']

print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[13234:13238, ])

export.to_sql(name= 'rating', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


       index_df player_id overall potential
13234     13235    237875      62        74
13235     13236    242483      62        69
13236     13237    177971      62        62
13237     13238    195380      62        62
13238     13239    139317      62        62


Length export: 18207


       rating_id player_id overall potential
13234      13235    237875      62        74
13235      13236    242483      62        69
13236      13237    177971      62        62
13237      13238    195380      62        62
13238      13239    139317      62        62


Length Tab1: 18207

## player_significance

In [246]:
columns = ['value_id', 'rating_id', 'player_id', 'international_reputation']
numer= [ ]
stri= [ 'international_reputation']
tab1= df[columns].copy()
print('Unique values:', len(tab1))
print("\n")
print(tab1.loc[13234:13238, ])
export= tab1.copy()

for d in stri:
    export.loc[:,d]=(export[d].map(lambda x: x if x!= 'No provided' else np.NaN)).copy()
print("\n")
print('Length export:', len(export))
print("\n")
print(export.loc[13234:13238, ])

export.to_sql(name= 'player_significance', con=engine, if_exists='append', index=False)
print("\n")
print('Length Tab1:', len(tab1))

Unique values: 18207


       value_id  rating_id player_id international_reputation
13234     13235      13235    237875                   Normal
13235     13236      13236    242483                   Normal
13236     13237      13237    177971              No provided
13237     13238      13238    195380              No provided
13238     13239      13239    139317              No provided


Length export: 18207


       value_id  rating_id player_id international_reputation
13234     13235      13235    237875                   Normal
13235     13236      13236    242483                   Normal
13236     13237      13237    177971                      NaN
13237     13238      13238    195380                      NaN
13238     13239      13239    139317                      NaN


Length Tab1: 18207

In [247]:
df.to_csv('out_all_data_ids.csv')